[2021-05-11 20:11] andmarti1424 commented on #325
@divramod Sorry for the long delay. You have to first compile the file you want, in your case, the file `module2.c` with
`gcc -shared -fPIC -o module2.so -g -Wall module2.c`
Once you have the module2.so file, that should be copied to in one of the paths indicated in the doc file. For instance, /usr/local/share/sc-im/module. Then it will work.
I will make a commit to avoid the segfault you experien

[2021-05-11 20:30] andmarti1424 commented on #322
you can use `:load file.csv` and it will be reloaded

[2021-05-11 20:31] #322 closed

[2021-05-13 15:13] #325 closed

[2021-05-14 18:37] #319 closed

[2021-05-18 05:09] jonnieey opened #563 "Trigger Read mode executes on read of any cell"
The :trigger command triggers function in lua script whenever any cell is read rather than the specified cell.

For example
`:trigger i3 "mode=R type=LUA file=test.lua function=trg"` should execute lua function only if i3 is read but when  a2 is read the function executes

I am using arch linux and sc-im compled from source.

-DNCURSES
-DMAXROWS 65536
-DUNDO
-DXLSX
-DXLUA
-DDEFAULT_COPY_TO_CLIPBOA

[2021-05-18 17:41] andmarti1424 commented on #563
We should think this over and determinate when the READ trigger should be triggered (forgive the repetition).
In this case its just reading the cell content while updating and that is why the trigger is activated.
If you make the cell that has the trigger outside the visible grid, the trigger will not be activated (Unless you do some operations that calls the cell. for instance when you need the r

[2021-05-18 18:37] jonnieey commented on #563
Well, if you have a script with an error, it becomes difficult to exit out of sc-im as it keep on reading the script.  Can the READ trigger be called when the specified cell is in focus?

[2021-05-18 18:40] andmarti1424 commented on #563
May be you can set the exec_lua config value to false, and then you could quit without problem. May be what you suggest would be a good alternative to the current, which is call it whenever the ATBL is read for the cell that has the trigger.

[2021-05-18 19:01] jonnieey commented on #563
Okay thanks.

[2021-05-31 09:03] bkmgit opened #567 "Android Build"
Would it be of interest to add a build for Android?

[2021-05-31 10:57] andmarti1424 commented on #567
Really? An issue for this? You can open a new discussion for this kind of stuff.
You can run sc-im on termux.

[2021-06-01 02:39] andmarti1424 commented on #567
Please do not hesitate on opening a discussion. As I said earlier, you can run it inside termux without problem.

[2021-06-01 02:39] #567 closed

[2021-06-09 04:54] Kill-Animals opened #568 "`nnoremap "T" ">"` results in `error replacing maps`. ">" can not be remapped."
Simple Error:
Tried mapping something to ">", the rightwards insert.
All fail:
[code]

resulting in
[code]

Considerations:
I do use a modified colemak layout. I'm also on Linux. Neither of those should matter, but in case the bug can not be reproduced, it is worth consideration. I have not had any issues with any other

[2021-06-09 12:39] andmarti1424 commented on #568
Hello. Yes. Indeed. Right now, '<' '>' are used for map special keys, like this <SPACE> or <LEFT>..
And any try to map those to enter left or right strings would get ignored..
Thinking the best way of handle both case.s.

[2021-06-09 13:05] andmarti1424 commented on #568
Please update to dev branch and try backing slash it like this:
`nnoremap	"T"	"\\>"`
thanks.

[2021-06-09 21:05] Kill-Animals commented on #568
That worked. Thanks.
Love your efforts.

[2021-06-09 21:05] #568 closed

[2021-06-09 22:37] Kill-Animals opened #569 "Segfault when you delete last column/columns of sheet, undo it, and delete it again"
Simple bug.
if you delete the column too many times, a segfault happens.
[code]
To demonstrate this easily, after remapping _ to delete a column, I need to only hold on the key for about 5 seconds before a segfault happens.

[2021-06-09 22:42] andmarti1424 commented on #569
This happen to you on an empty sheet? Or with a specific file? Ihave started to add some automatic tests. This could be a good one to add..

[2021-06-10 00:38] Kill-Animals commented on #569
this happens on an empty sheet.

[2021-06-10 00:47] andmarti1424 commented on #569
@Kill-Animals could you please update latest commit on dev branch and try again?
If that works ok, please do not close the issue since I want to create a proper test for this. thanks.

[2021-06-10 00:58] Kill-Animals opened #570 "Google sheets allows one to limit the number of columns and rows. Can this be done in "sc-im"?"
This is a feature request.
I do not know what this feature is called, but it does exist on Google Sheets, and it is my favourite feature of that.
If you look here:
![image](https://user-images.githubusercontent.com/85601521/121447929-8bcb0380-c94b-11eb-81b1-4f767832107b.png)
The amount of columns and rows does not infinitely expand to its limits.

Assuming this does not exist in sc-im, could it re

[2021-06-10 01:04] andmarti1424 commented on #570
You mean the number of columns fixed? Or their width? Please open a discussion for feature requests, rather than issues.

[2021-06-10 02:46] #570 closed

[2021-06-10 09:23] Kill-Animals opened #573 "Pasting from clipboard does not check string length"
Simple bug.

When opening a .sc file, for example: `touch /tmp/deleteme.sc`
[code]
throws a "syntax error" on startup. If you chop 1 character so there are 1023 characters in that line, the syntax error goes away.

[2021-06-10 09:45] Kill-Animals commented on #569
I updated it.
You do seem to have solved the issue about me merely holding down `_` until a segfault occurs.
However, if I do `55_` this will cause a segfault.

[2021-06-10 11:55] andmarti1424 commented on #569
Could you please update to latest commit and try again? Thanks.

[2021-06-10 11:57] andmarti1424 commented on #573
I see. Did you generate the file in sc-im? or manually?

[2021-06-10 21:51] Kill-Animals commented on #573
This was generated automatically, and was done so when you re-open the file. A few bugs are introduced with this, so please bare with me.

Here is how you can reproduce the bugs:
1. `:cpaste` this line:
[code]
That should produce:
![image](https://user-images.githubusercontent.com/85601521/121596730-b1601780-c9f4-11eb-9fdc-0669214d9018.png)

2. `:wq`
3. Examine the `.sc` file, and it should look l

[2021-06-10 21:57] andmarti1424 commented on #573
I see the origin of this problem. Sc-im max length for label is currently 512. During cpaste that seems to not being checked correctly. That might be the reason while you managed to enter that value. Btw, you can increase FBUFLEN macro in sc.h, and both BUFFERSIZE and MAX_IB_LEN macros in macros.h.

[2021-06-10 22:38] Kill-Animals commented on #569
Bug Fixed, however, I can still segfault, and the issue is related to undo.

1. Goto ZY
2. `2_`
3. Undo
4. `2_`
5. SEGFAULT

This undo effect results in some unintuitive behaviour.

1. `31_`
2. `current column + multiplier exceeds max column. Nothing Changed`
3. `30_`
4. Undo
5. `31_` Now works
6. `91_`
7. `current column + multiplier exceeds max column. Nothing Changed`
8. `90_`
9. Undo
10. `91_`

[2021-06-10 22:43] Kill-Animals commented on #573
Interesting. I will play around with that. I certainly need the extra string length.
Thanks.

[2021-06-11 02:36] andmarti1424 commented on #573
Yes. I thought so. But there's still that bug when you enter the text from the clipboard.
The length of the text should be checked in there.

[2021-06-11 05:05] Kill-Animals opened #574 ":cpaste omits things inside `"` like so: `"foo" "bar "y"e"s" n"o"` leaving `\t\t\to`"
Simple Bug [ I think ]
`:cpaste` the following string: `"foo"   "bar   "y"e"s" n"o"` ( The spaces are tabs `\t` ) and it will end up only pasting `n` in the fourth column.

Unless this is intentional behaviour, I would expect that the quotes would be included when pasting strings.

[2021-06-11 12:57] andmarti1424 commented on #569
@Kill-Animals you are a good tester. Join the team.
Could you please update to latest dev branch commit and do more tests? Thank you.

[2021-06-11 13:29] andmarti1424 commented on #573
I have made a commit to include this validation. Please feel free to test it. Thanks.

[2021-06-11 14:15] andmarti1424 commented on #574
If you back slash them they will..

[2021-06-11 16:38] andmarti1424 commented on #569
btw, shifting cells far from last column has a similar issue. if the delete tests go ok I can apply the same to shifting process.

[2021-06-11 20:23] Kill-Animals commented on #569
Yeah sure I'll join. Fun project.

[2021-06-11 20:27] Kill-Animals commented on #574
Good to know.
What do you think of adding an option to ignore this? This will be good for me, because then I will not have to edit my content, namely the dictionary, before insertion into sc-im.

[2021-06-11 21:57] andmarti1424 commented on #569
Could you test the cases again?

[2021-06-11 23:24] Kill-Animals commented on #569
The unintuitive behaviour remains:
[code]
However the segfault has been fixed.
The former is not exactly important.

[2021-06-11 23:36] andmarti1424 commented on #569
I will check it out. Ant way to reproduce it?

[2021-06-12 04:44] Kill-Animals commented on #569
The Segfault was fixed. The unintuitive behaviour is reproduced by the following:
1. `31_` `current column + multiplier exceeds max column. Nothing Changed`
3. `30_` Works
4. Undo
5. `31_` Works
6. `91_`  `current column + multiplier exceeds max column. Nothing Changed`
8. `90_` Works
9. Undo
10. `91_` Works

Like I said, it isn't exactly important, but it is something that could lead to bugs.

[2021-06-12 11:29] andmarti1424 commented on #569
@Kill-Animals could you please update to latest commit and try again? Thanks.

[2021-06-12 21:24] Kill-Animals opened #575 "segfault when searching cells by strings in multiple sheets"
Take this `.sc` file:
[code]

To reproduce the segfault,

1. Open `.sc` file.
1. `:int goto ""`
2. `:prevsheet`
3. `n`

Note:
If the `.sc` was `goto A99` instead of `goto A100`, the segfault would NOT occur.

Edit:
For good measure, I was able to reproduce the segfault from a new sheet:
1. `:newsheet ""`
3. `:int goto A100`
4. `:prevsheet`
5. `n`

[2021-06-12 21:25] andmarti1424 commented on #575
Again, this file was automatically generated. Right?

[2021-06-12 21:27] Kill-Animals commented on #575
In short, yes, however the example I created is a distilled version of a much larger file.

[2021-06-12 21:58] andmarti1424 commented on #569
@Kill-Animals please let me know when you test this. Thanks

[2021-06-12 21:59] #573 closed

[2021-06-12 22:15] Kill-Animals commented on #569
Hey I tested it. The behaviour is altered, and when doing a single undo, you managed to preserve the proper behaviour. However, 2 undos creates anomolies.
1. `31_` `current column + multiplier exceeds max column. Nothing Changed`
1. `30_` Works
1. `30_` Works
4. Undo
5. Undo
5. `89_` Works
6. `90_`  `current column + multiplier exceeds max column. Nothing Changed`
9. Undo
9. Undo
10. `90_` Works

[2021-06-12 22:23] andmarti1424 commented on #569
After 7. you only should have 1 action available to undo. Right? But you undid 2 times in 8. And 9...

[2021-06-12 23:08] Kill-Animals commented on #569
You are right; That was my mistake there. I editted the sequence so it makes sense, by adding another `30_` so you have 3 undos..

[2021-06-13 01:22] andmarti1424 commented on #575
Yes. Actually this is caused by str_search needed to be rearranged for multiple sheets (still to be done).
Remember multisheet in sc-im is new, and a whole bunch of stuff was needed to be re-written.

[2021-06-13 01:26] andmarti1424 commented on #569
Sure you modified the example correctly? In step 8 I dont get that message, but the deletion is done.

[2021-06-13 01:29] andmarti1424 commented on #553
@reportaman please open a discussion for this FR. We'll leave the feature requests in there so we can prioritize them for next release.

[2021-06-13 01:29] #553 closed

[2021-06-13 01:31] andmarti1424 commented on #454
@bataliero Please open a discussion for this FR. We'll leave the FR in there so we can discuss them and prioritize them for future releases. Thanks.

[2021-06-13 01:31] #454 closed

[2021-06-13 01:31] andmarti1424 commented on #464
@wimstockman  Please open a discussion for this FR. We'll leave the FR in there so we can discuss them and prioritize them for future releases. Thanks.

[2021-06-13 01:31] #464 closed

[2021-06-13 02:03] andmarti1424 commented on #575
Well. made some changes to hopefully get rid of that segfault and make the strings and numbers search work for multisheet. btw, this code for searching comes mainly from old sc. Your tests are always welcome.

[2021-06-13 03:08] Kill-Animals commented on #569
Yes. I double checked and 8 did give me that message. I'll pull and try again

[2021-06-14 06:36] molleweide opened #577 "build err macos mojave (beginner)"
Hi there,

I want to try sc-im and i get this error message when building from source
[code]
I put it here to see if somebody knows if this is a basic beginner message or whatever it is untill I have found out myself.

[2021-06-14 10:39] andmarti1424 commented on #577
Hello. Did you use `brew install`?

[2021-06-14 12:09] molleweide commented on #577
oh sorry i should have added that info.

This is my process if I recall correctly:

1. first i installed with brew
2. realized that i want to use gnuplots
3. brew install gnuplot dependencies
4. brew uninstall sc-im
5. try to build from cloned repo

[2021-06-14 12:19] molleweide commented on #577
wait now i think it works. i am not entirely sure. i must have missed cleaning up something and then there was a conflict because now it seems to work yay!

[2021-06-14 12:19] #577 closed

[2021-06-14 14:04] andmarti1424 commented on #569
I change the way it validates before allowing the deletion of the column.
before it checked over the number of alloc'ed columns.
now it checks over the last used column. so you cant passed it.
I also now save the values of maxrow, maxcol and modflg before and after changes.. and they are restored after undo/redo actions.

[2021-06-15 08:49] Kill-Animals commented on #569
I tested it, and now it quite intuitive.

Persisting Problems:
- I managed to segfault it twice. Very difficult to reproduce.
- I managed to corrupt the state. Very difficult to demonstrate.

In **both cases**, they require the use of a Redo bug. **To reproduce that:**
1. `c-r` `No REDOs left.` ( Not part of the bug. This just demonstrates that ordinarily, this is blocked. )
1. `nnoremap "_" "c-r"

[2021-06-15 09:00] Kill-Animals commented on #575
Tested it. Was not able to produce a segfault.

[2021-06-15 09:01] #575 closed

[2021-06-15 10:12] Kill-Animals opened #578 "Scrolling down initially does not account for row height, placing the current cell offscreen."
to reproduce this bug:
1. `set autowrap=1`
2. paste the following: 34 rows
[code]
3. `G` `CURROW=33` Showing Rows 27-33
4. Paste again
5. `G` `CURROW=66` Showing Rows 36-43

Result:
- **Visually** I am 23 rows behind

Why is this a problem?
-

- Using `n` to search substrings, will not scroll the page down properly.
- **This behaviour is not repeatable:**: For example, in one of my sheets:
1. `n`

[2021-06-15 11:22] andmarti1424 commented on #578
I dont know if this is the same as you describe.
1. set autowrap
2. paste the 34 rows with cpaste
3. 'G' scrolls down to A33 but leave the cell out of the screen. (the rows that appears on screen are 22 to 26 on my terminal 106x28).
4. 'gg' goes to A0.
5. 'G' again, now yes shows the grid correctly and scrolls correctly to A33.

[2021-06-15 11:25] Kill-Animals commented on #578
Yes, that sounds right.

[2021-06-15 11:46] andmarti1424 commented on #569
But what were the actions done in steps 3 and 4?
Delete a column?

[2021-06-15 12:10] andmarti1424 commented on #574
Please update to latest commit on dev branch. It should auto back slash them and interpret them correctly.

[2021-06-15 12:10] #574 closed

[2021-06-15 12:11] andmarti1424 commented on #578
@npitre Could you please take a look at this one? Check out my comment above.
Thanks!

[2021-06-15 23:29] npitre commented on #578
I'm trying to understand how to reproduce...

How do you "paste"?

I started with a blank sheet, then \ to enter text. If I do a normal console
paste then the first line is entered, then subsequent lines are interpreted
as commands. I'm sure that's not what you're doing.

If I enter (or paste) the text all on the same line then I get another bug
i.e. the second screen line gets filled with garbage

[2021-06-15 23:33] andmarti1424 commented on #578
Hello @npitre. To paste just copy the text in a text editor. Could be X or tmux clipboard and use :cpaste command to paste it

[2021-06-16 00:19] npitre commented on #578
Ah... Figured it out. I use neither X nor tmux so I crafted my own clipboard commands.

BTW the build fails if lua-devel is not installed.

[2021-06-16 00:20] andmarti1424 commented on #578
Will check lua-devel thing. What's your OS?

[2021-06-16 00:25] npitre commented on #578
Fedora Linux release 33

[2021-06-16 00:45] npitre commented on #578
OK I think I know what's wrong with the display.
Need to think of the best way to fix it.

[2021-06-16 00:58] andmarti1424 commented on #578
Now I'm extremely curious..

[2021-06-16 02:20] npitre commented on #578
Fix in #579.

[2021-06-16 02:26] andmarti1424 commented on #578
Will check it out tomorrow. Thanks @npitre

[2021-06-16 06:19] Kill-Animals commented on #569
No. Check step 2; I remapped `_` in this case to `c-r` aka Redo.

[2021-06-16 13:11] andmarti1424 commented on #569
The problem here is in step 2. You have to remap a Ctrl key like this:
`nnoremap "_" "<C-r>"`

[2021-06-16 13:33] #578 closed

[2021-06-16 13:50] jonnieey opened #580 "Segmentation fault on setting autobackup"
sc-im raises Segmentation fault when setting the autobackup value

[2021-06-16 17:44] npitre commented on #578
Related to this, I wonder why you commented out the return to a
single-line row when autowrap is disabled? That is commit
6136687ae9db. The only way to get back to single lines now is to exit
from sc-im and reload.

[2021-06-16 18:37] andmarti1424 commented on #578
@npitre cant recall very well right now, but there was a problem when no autowrap was set, and you wanted to have a row with rowformat bigger than 1..
it was forced it to 1.
what problem are you having with current behavior? you can set rowformat to 1 with `fk` or with `:formatrow` command.

[2021-06-16 19:00] andmarti1424 commented on #578
The thing is that you can have rows with format > 1 and do not use autowrap..
You shouldnt revert those to 1. I believe that was what happened before the commit you mention.

[2021-06-16 19:45] npitre commented on #578
On Wed, 16 Jun 2021, Andrés Martinelli wrote:

Oh I see. The row format is saved now.

[2021-06-16 21:35] Kill-Animals commented on #569
That would make more sense to me, and I wondered that when I was working with my configuration file. However, are you absolutely sure about that?
For one, in the help file, it does not display `<>`
[code]
And in my .vimrc, and `nnoremap "_" "c-r"` << it is allowing me to redo using the underscore.

[2021-06-16 21:41] andmarti1424 commented on #569
Yes. You paste the normal mode section. Check the MAPPINGS section.
I believe we could add another example with `<C-....>` to clarify this.

"..it is allowing me to redo using the underscore.." that is super weird!

[2021-06-17 01:38] andmarti1424 commented on #569
I think we can close this one. Original bug is probably already fixed.

[2021-06-17 04:14] Kill-Animals commented on #569
Fair enough. The existing segfaults come from exceptional circumstances.

[2021-06-17 04:14] #569 closed

[2021-06-19 03:06] jonnieey opened #583 "sc-im reads xlsx files with unexpected behavior"
sc-im opens xlsx files with following unexpected behaviour when using --xlsx_readformulas:

  xlsx files exported from sc-im open with a syntax error and cell with formula is removed. If opened without --xlsx_readformulas the cell formula becomes 0

###sc-im version

-DNCURSES
-DMAXROWS 65536
-DUNDO
-DXLSX
-DXLSX_EXPORT
-DXLUA
-DDEFAULT_COPY_TO_CLIPBOARD_CMD="xclip -i -selection clipboard <"
-DDEF

[2021-06-19 14:18] andmarti1424 commented on #583
Actually, there it seems to be something wrong with that file. If you happen to open it to gnumeric you'll see it returns a warning/error with a format type.
As soon as gnumeric opens it, (it nevertheless manage to load it correctly) if you save it again.. sc-im will load the new file without problem. See the example file I just uploaded in the examples folder (t3_b.xlsx)

[2021-06-20 04:18] jonnieey commented on #583
I tested this with xlsx files from excel, gnumeric, libreoffice and exports from sc-im.

`sc-im --xlsx_readformulas file.xlsx`

Results:
- Excel and  gnumeric xlsx files read correctly

- Libreoffice xlsx files are read and integers converted to another number
[OpenOfficeXMLSpreadsheet_Libreoffice.xlsx](https://github.com/andmarti1424/sc-im/files/6681707/OpenOfficeXMLSpreadsheet_Libreoffice.xlsx)

[2021-06-20 14:07] andmarti1424 commented on #583
Could you please update to latest commit and redo the sc-im export test case again?
It shouldnt be neccesary since the program on which you later open the file exported by sc-im should recalculate formulas.. but now I explicitly store the formula result value as well.

Libreoffice case still pending to analyze

[2021-06-20 14:56] takusuman opened #586 "What is the name of the theme at scim4.png?"
And, actually, how do i set one? I've read the documentation, but i couldn't use a theme properly yet.

Thanks for the attention.

[2021-06-20 15:28] jonnieey commented on #583
When exported from sc-im, gnumeric reads and retains the formula as expected. But if you reopen the file with sc-im with --xlsx_readformulas options it loads with an error and formula cell is removed.
However if you open with gnumeric and save it, sc-im with --xlsx_readformulas reads and retains the formula correctly.

[2021-06-21 12:14] andmarti1424 commented on #586
It's not a theme specifically. Just take the `cellcolor` commands of any of the files inside `themes` folder, edit them to taste and add them to your scimrc file.

[2021-06-21 13:19] andmarti1424 commented on #583
Please update and retry. Should keep the formula now.

[2021-06-21 13:22] andmarti1424 commented on #586
Also, from the THEMES section of the doc:
 `  You can add the corresponding lines of those in your .scimrc or you can
    load them at runtime with :load path_to_theme_file
`

[2021-06-21 14:30] jonnieey commented on #583
Now it works as expected. Thanks.

[2021-06-22 11:20] TheKhanj opened #587 "Can't nmap L to 5l or anything similar."
I can't map anything to something which starts with number.
I would like to map HJKL to 5 movement for each direction but this doesn't seem to work.
Also I would like to map `<C-{hjkl}>` to scroll window, everything works fine except `<C-k>`. I have to pres `<C-k>` three times to work!!!
mapping:
`nmap "<c-h>" "zh"` OK
`nmap "<c-l>" "zl"` OK
`nmap "<c-j>" "5<c-e>"` doesn't work due to 5 in front o

[2021-06-22 12:26] andmarti1424 commented on #587
Its not the perfect approach but you could try this:
`nnoremap "<C-j>" "<C-e><C-e><C-e><C-e><C-e>"`

The C-k having to press it 3 times its a terminal issue. This also happens to me in tmux..

[2021-06-22 14:30] andmarti1424 commented on #587
btw, the doc explains this in the MAPPINGS section:
`Some notes:
    The Left and Right sequence of a mapping cannot contain numbers.`

[2021-06-23 11:54] #586 closed

[2021-06-23 12:20] andmarti1424 commented on #583
Regarding the first issue: not showing correctly the numbers in column D ("IMPORTE ORIGINAL"). Its seems to be something wrong inside the file where its has:
format id '43', 41, 44 and 42. All unknown for me (and Gnumeric)
I just cant think of a reason while they end up there.
Will replace the example file t3.xlsx with t3_b.xlsx

[2021-06-23 12:20] #583 closed

[2021-06-23 15:18] jonnieey commented on #583
Thanks.
What about Librecalc xlsx export files behaviour. Should it be opened as another issue?

[2021-06-23 15:43] andmarti1424 commented on #583
I didnt remember about that.  Please attach here the sample file you have problems with and Ill check it out.

[2021-06-23 16:40] jonnieey commented on #583
[Librecalc_xlsx_export.xlsx](https://github.com/andmarti1424/sc-im/files/6703588/Librecalc_xlsx_export.xlsx)

[2021-06-23 16:43] jonnieey commented on #583
Files exported from Librecalc show this error when opened with gnumeric.

[2021-06-23 16:50] andmarti1424 commented on #583
I see. Its the same issue as the first one. invalid format id 41, 42, 43 and 44. I am not aware of those as valid formats. This might be an error in Librecalc perhaps. Will try to default it to numeric values. That seems to be what Gnumeric is doing here.

[2021-06-23 17:20] jonnieey commented on #583
Yeah. This is an issue with librecalc. It uses formating code numFmtId 42, 43, and 44 which are undefined in [Closed xml](https://github.com/closedxml/closedxml/wiki/NumberFormatId-Lookup-Table) source code.  When opened in gnumeric and save the numFtId in xl/style.xml are converted to numFtId=0 (General).
Can this be posible in sc-im, converting invalid numFmtId to 0 if they are invalid on :e xls

[2021-06-23 17:26] andmarti1424 commented on #583
Well. Here's the thing. The problem seems to not be with the numFmtID 42, 43 or 44.. Its seems Librecalc is using a custom defined format (164, and it is set there to General) for those cells, and not the predefined ones (numFtId below 164?). Thats is not something extrictly incorrect. Currently sc-im is not handling custom formats as it should. May be I can handle this case in particular.. Ill th

[2021-06-23 18:49] jonnieey commented on #583
Okay. :thumbsup:

[2021-06-23 18:53] andmarti1424 commented on #583
Could you please update to latest commit and test again? Thanks!!

[2021-06-23 20:25] jonnieey commented on #583
Works fine now :thumbsup:. Thanks.

[2021-06-28 09:16] jonnieey opened #588 "Segmentation fault when using external functions"
sc-im crashes with a segmentation fault when external functions options is set to 1.
for example:
if you use  =@ston(@ext("/path/to/script", A0+A3)) when option external_functions=0, it warns external functions are disabled. If you enable external function (:set external_functions) it evaluates correctly.
However, if you try to use external functions when the external_functions options is set (ext

[2021-06-28 19:59] andmarti1424 commented on #588
I wasnt able to replicate this.. until I run sc-im without Valgrind `=@ston(@ext("echo ", 2+2)))`
Will check it out.

[2021-07-02 15:01] Darkstarinternet opened #590 "How to use theme file?"
I am trying to use the dracula theme file dracula.sc but I can't figure out how to include it in the scimrc config file. I have tried using:

source path/to/dracula.sc

but this gives a syntax error.

The manual says "You can add the corresponding lines of those in your .scimrc or you can load them at runtime with `:load path_to_theme_file`" but doesn't actually say how to do this.

Coping the con

[2021-07-02 15:07] andmarti1424 commented on #590
Just try `:load path/to/dracula.sc`
There are only two ways: Adding entire content of the theme file (every line) to scimrc file or at runtime with the previous command.

[2021-07-03 21:26] jonnieey commented on #590
I have created a basic sc-im tutorial to help one to get started. It's still a work-in-progress but hopes it'll help [Sc-im Tutoria](https://github.com/jonnieey/Sc-im-Tutorial)

[2021-07-08 16:35] chenrui333 opened #591 "[bug] sc-im 0.8.2 test failure"
👋  I am trying to upgrade sc-im to the latest release, but it failed to run the test:

[code]

But the assignment seems working
[code]

relates to:
- https://github.com/Homebrew/homebrew-core/pull/77268

[2021-07-08 16:38] andmarti1424 commented on #591
Hello. What test is that? One inside /tests folder?

[2021-07-11 17:07] chriskisskiss opened #592 "[bug] Segmentation fault when pressing cc"
New to sc-im, program crashes with segmentation fault, e.g. when i press cc in a cell (normal mode). All edits are gone. Is that normal behaviour?
version 0.8.1, macos.

Thanks!

[2021-07-11 17:08] andmarti1424 commented on #592
No seg fault is an expected behavior. Will take a look at it

[2021-07-12 08:07] chriskisskiss commented on #592
thank you, here some further information:
- installed lua@5.1 via brew install lua@5.1.
- installed sc-im via brew install sc-im
- already reinstalled sc-im
- brew list with grep lua lists lua, lua@5.1, luarocks, luajit-openresty
- segmentation fault happens when pressing cc on a fresh startup of sc-im
- hardware is Apple Silicon

[2021-07-12 13:02] andmarti1424 commented on #592
Hello. No segfault with latest commit here. May be its something that got fixed after v8.1 release. Could you please retry updating to latest commit on dev branch? Thanks.

[2021-07-12 13:03] andmarti1424 commented on #592
Confirmed. This was fixed by v8.2.

[2021-07-12 15:37] chriskisskiss commented on #592
Thank you very much! No problems on newest dev branch.

[2021-07-12 18:18] andmarti1424 commented on #592
Will be a new release as soon as I can get rid of that bug #588

[2021-07-12 18:18] #592 closed

[2021-07-12 18:21] andmarti1424 commented on #591
I do not know why that happens on v0.8.2. I have added tests that do these kind of checks and they are running fine.
Could you please update to main branch and run them as well ?
They are in tests folder. Thanks.

[2021-07-12 18:21] andmarti1424 commented on #590
That is great! Will take a look at it more deeply.
Thanks

[2021-07-12 18:26] andmarti1424 commented on #590
btw, you can use `<C-p>` and `<C-n>` to scroll the history as well.

[2021-07-12 18:37] andmarti1424 commented on #587
@TheKhanj could you test it? did that work for you?

[2021-07-12 18:39] andmarti1424 commented on #590
About changing the theme at runtime, could you try the example above??
For instance, if you run sc-im from inside src folder, you could
`:load ../themes/dracula.sc`

I have just tested it and works ok.

[2021-07-12 21:52] camron81 opened #593 "@if with string expressions not functioning as expected"
Having a lot of fun using sc-im but found a bit of an issue - I've noticed when trying to create @if functions where the output is a string e.g.

\"@if(A1>B1,"true","false")

They do not update automatically when the referenced cells are updated unlike @if where the output is a number.

Also noticed when I close the file and open it again the cells are blank, and any functions outputting numbers a

[2021-07-14 13:00] andmarti1424 commented on #593
Actually I believe it needs to be entered twice to work properly. It this your case?

[2021-07-14 19:12] ethancam81 commented on #593
Couldn't get it to work correctly by entering twice - hopefully this could explain the issue better:

[code]

The output of the function in B0 updates automatically when A0 is changed but not for B1 and needs to be manually updated. Is this the expected behaviour or am I creating the functions wrong?

[2021-07-20 22:09] earthshrink opened #594 "sc-im is breaking on leading `$` in cell reference."
## How to reproduce

In an empty spreadsheet, at cell `A0`, enter `=@pi`.

At cell `B0`, enter `=a$0`. Value displays as `3.14` in both cells, but the expression `[A$0]` is displayed for `B0`.
At cell `B1`, enter `=$a$0`. Value displays as `0.00` and the expression displayed is `[0]`.

At cell `B1`, enter `=0+a$0`. Value displays as `3.14` and the expression displayed is `[0+A$0]`.
At cell `B2`, e

[2021-07-21 12:35] andmarti1424 commented on #594
Hello. Which version are you using?

[2021-07-21 12:41] earthshrink commented on #594
Using main. Issue appears to have started at commit 22d34e5 make @getent work.

[2021-07-21 12:43] andmarti1424 commented on #594
Thank for that research. Will take a look at it.

[2021-07-21 12:46] andmarti1424 commented on #591
@chenrui333 Could you test those? Thanks

[2021-07-21 12:47] andmarti1424 commented on #590
@jonnieey Your tutorial is great. Would you like me to link to it in the main Readme page of sc-im?

[2021-07-21 12:47] #587 closed

[2021-07-21 15:48] jonnieey commented on #590
Sure. No problem.

[2021-07-21 16:16] chenrui333 commented on #591
sorry about the delay and thanks for the reminder, let me give a quick spin.

[2021-07-24 15:46] NMrocks commented on #590
@Darkstarinternet where did you get the Dracula theme for sc-im? I tried looking it up on the Dracula website but it's not there

[2021-07-24 15:49] andmarti1424 commented on #590
@reportaman did it

[2021-07-27 14:23] albertjmenkveld opened #597 "sc-im does not compile on OSX Big Sur"
I love sc-im. I, however, tried to install it on my new Macbook Air. It works with homebrew, but that does not support Excel export. However, if I follow the official guidelines here, I get an error message, even without adding the additional lines to the Makefile.

If I download it from your github repository, and do the following:

make clean
make
sudo make install
Then, the make command gives m

[2021-07-27 15:01] andmarti1424 commented on #597
Could you please update to latest commit on dev branch and try again?
Thanks.

[2021-07-27 15:24] albertjmenkveld commented on #597
It works!  Thanks Andrès.  Since I did all preparations compiling it added the facility to save as Excel spreadsheet.  EXCELLENT.  Thanks for the quick and professional reply.

[2021-07-27 15:27] andmarti1424 commented on #597
Thats great. Btw, I would rather use xlsx format.. why you use xls?
Thought it was kind of replaced by xlsx.

[2021-07-27 15:35] #590 closed

[2021-07-27 18:09] albertjmenkveld commented on #597
I should have said xlsx, indeed.

Sent from iPhone
On Jul 27, 2021, 5:27 PM +0200, Andrés Martinelli ***@***.***>, wrote:

[2021-07-27 18:30] reportaman commented on #590
@NMrocks @andmarti1424 I had opened a ticket https://github.com/dracula/dracula-theme/issues/522, seems like Dracula author Zeno Rocha might prefer getting a PR directly. Will do that.

[2021-07-27 18:34] reportaman commented on #590
@andmarti1424 Now I remember... I was waiting for a logo for sc-im, but forgot to ask you. Thats because most apps listed on Dracula website seem to have some logo.

[2021-07-27 18:35] andmarti1424 commented on #590
@reportaman just give them the cat I have here in my avatar..

[2021-07-31 19:52] anveltn opened #598 "Segmentation fault when using @eqs with cell reference"
This occurs on *main (v0.8.3-main)* and *dev* but not on *v0.8.2*

To reproduce:
1. Enter a string in `A0`.
2. Enter `=@eqs(A0, "anystring")` into any other cell.

[2021-08-01 20:29] andmarti1424 commented on #598
Thank you for reporting this. Could you please update to latest dev branch commit and retry? Thank you.

[2021-08-01 20:30] andmarti1424 commented on #591
@chenrui333 Could you try it? Nice picture in your avatar btw.

[2021-08-01 22:35] anveltn commented on #598
Yep, that fixed it

[2021-08-02 14:24] andmarti1424 commented on #598
I leave this open until I create the proper automatic test

[2021-08-02 14:24] andmarti1424 commented on #597
I leave this open until I create the proper automatic test

[2021-08-06 07:41] blackCauldron7 commented on #274
+1 for macros currently there is no binding to even increment or decrement integer values like vims `<ctrl-a>` and `<ctrl-x>`

[2021-08-14 07:30] jgarte commented on #537
@andmarti1424

Hi, how do I run the test suite?

Could we add this information to the README?

[2021-08-14 20:09] andmarti1424 commented on #537
Just run the shell script called run_all_tests inside tests folder. You'll need valgrind

[2021-08-15 22:28] chenrui333 commented on #591
I actually try build from the latest `main` with

[code]

[2021-08-15 22:29] chenrui333 commented on #591
So I think the issue still exists.

[2021-08-22 14:31] andmarti1424 commented on #591
You have to `recalc` before `getnum B0`

[2021-08-22 18:49] chenrui333 commented on #591
hmm, let me do that.

[2021-08-22 19:41] chenrui333 commented on #591
[code]

Somehow I am receiving that error when I was trying to build in my local

[2021-08-22 19:43] andmarti1424 commented on #591
Freeze is not longer a branch. You have main or dev.

[2021-08-22 19:46] chenrui333 commented on #591
Got it, I just noticed the same thing (the previous default branch was `freeze`). Thanks for confirming it!

[2021-08-22 19:48] chenrui333 commented on #591
Nice!!
[code]

I think I just need to update the test and that should be enough.

Can you point out which commit(s) caused the `recalc` change?

[2021-08-31 17:30] uvuxz opened #601 "Clarification on rows/columns limits"
Hi Andrés,

Great project.
I have been wanting to move out from google sheets into something simpler and since I am a vim user, your project seems like a perfect fit.
I was just wondering if you could clarify the limit in the number of rows/cols. Is this an arbitrary number dependent on the end-user RAM?
Additionally, how many cols can one see at a given moment in one monitor? And how are you able

[2021-08-31 17:44] andmarti1424 commented on #601
Hello! thanks.
Max number of rows is 2^16 (65536) by default. Its defined on macros.h
Max number of cols is 702 if I recall well (just to keep two characters in the reference).The last one would be column ZZ.
About the second question, it really depends on the size of your (ncurses) screen and the content you have in the cells.
Regarding the third question, take a look at help page. You would prob

[2021-08-31 17:52] uvuxz commented on #601
Thank you for the prompt reply!
Will check the help page.
Good work once again!

[2021-08-31 17:52] #601 closed

[2021-09-02 05:17] sbng opened #602 "compile error on ubuntu"
cc -Wall -g -DNCURSES -D_XOPEN_SOURCE_EXTENDED -D_GNU_SOURCE -DSNAME=\"sc-im\" -DHELP_PATH=\"/usr/local/share/sc-im\" -DLIBDIR=\"/usr/local/share/doc/sc-im\" -DDFLT_PAGER=\"less\" -DDFLT_EDITOR=\"vim\" -DUSECOLORS -DHISTORY_FILE=\"sc-iminfo\" -DHISTORY_DIR=\".cache\" -DCONFIG_FILE=\"scimrc\" -DCONFIG_DIR=\".config/sc-im\" -DINS_HISTORY_FILE=\"sc-iminfo\" -DUNDO -DMAXROWS=65536 -DUSELOCALE -DMOUSE

[2021-09-02 05:19] sbng commented on #602
╰─ ls -l /usr/local/lib/libxlsxwriter*
-rw-r--r-- 1 root root 3916228 Sep  2 13:06 /usr/local/lib/libxlsxwriter.a
lrwxrwxrwx 1 root root      18 Sep  2 13:06 /usr/local/lib/libxlsxwriter.so -> libxlsxwriter.so.3
-rwxr-xr-x 1 root root 1770896 Sep  2 13:06 /usr/local/lib/libxlsxwriter.so.3

libxlsxwriter installed manually in /usr/local/lib/

[2021-09-02 08:06] vanrein commented on #598
Probably the same bug (?) occurred in master 0d815ba3cb57b1facd3c55573f40975094b5f6d4 with unchanged Makefile:

 1. From the build's `src` directory, run `gdb ./sc-im` and start with `r`
 2. In cell C2, enter `=@lua("print 3",C0)`
 3. **boom* Segmentation Fault
 4. Enter `bt` for the GDB backtrace

Backtrace output:

[code]

Note that `e != NULL` but it is not a valid pointer either.

The same res

[2021-09-02 08:22] vanrein commented on #282
CMake is excellent for portability to BSD and usually even Windows.  It is much easier to use than autotools, for developer and builder.  The `ccmake` command offers a TUI or GUI in which configuration options are shown and easily edited.  This is similar to your instruction of editing `src/Makefile`, but the flow is the common one for CMake.

Your `src/Makefile` almost reads like a CMake file, an

[2021-09-02 09:58] vanrein commented on #598
I also had this problem on the `dev` branch, with latest commit a213b2daadbebe5792450e65ef0ee28e2f02b4ca.

[2021-09-02 11:40] andmarti1424 commented on #598
@vanrein that seems to be a totally different issue.
I cant get it to segfault. Btw, I believe you should enter the `@lua` as string function with `\"`

[2021-09-02 11:44] andmarti1424 commented on #602
Hello @sbng . Wheat version are you using?
Regarding `:569:28: error: ‘session’ undeclared (first use in this function)`
'session' variable is declared on line 73 of formats/xlsx.c:
`extern struct session * session;`

[2021-09-02 20:10] Gitleptune opened #603 "[BUG] Colour Theme importing is broken in WSL"
## Expected Behaviour

Switch to colour theme from either `:load .sc-im/themes/dracula.sc` or adding the theme to your `scimrc`

## Current Behaviour

It doesn't change the theme, gives multiple errors, any key press gives a different error until they stop and come to this result

![image](https://user-images.githubusercontent.com/76597257/131901581-eef1a3bf-c703-4b38-837b-194c8d8271b4.png)

Uniqu

[2021-09-02 20:14] andmarti1424 commented on #603
Hello. This seems to be a problem with WSL, rathen than sc-im.
Any Ubuntu users experienced this behaviour? Please comment.

[2021-09-03 19:38] Gitleptune commented on #603
Further update,

This only seems to happen in a tmux session, it works fine when I'm not in one. If I do:
[code]
in CMD.exe, it's broken as well.

[2021-09-04 04:49] reportaman opened #604 "sc-im in Alacritty does not process mouse clicks beyond a certain width"
Initially I thought my terminfo could be broken, but rest of the programs seem to process mouse clicks beyond a certain width in Alacritty, only sc-im doesn't seem to. I use ``ttymouse=sgr`` in my .vimrc for instance.

Steps to reproduce:
1. Open sc-im in Alacritty
2. Try clicking on the sheet beyond 256 columns

sc-im version: latest commit at the time of writing this: 0d815ba3cb57b1facd3c55573f4

[2021-09-04 05:26] reportaman opened #605 "Sc-im seems to change the color of the underlying terminal even after it is closed"
sc-im seems to change the color of underlying terminal even after it is closed. This does not happen with any other application I use with the current setup. I am using the Dracula color scheme. Here's my entire scimrc:

[code]

[2021-09-04 09:29] Gitleptune commented on #605
Experimenting with making more themes currently and can confirm that this happens to me as well. It gets fixed when I restart terminal (as expected).

[2021-09-04 09:42] reportaman commented on #605
In an ideal implementation, upon "redefine" sc-im won't change the underlying definition of terminal color. It would rather mark the color as redefined, and save a pointer to the target color. This way even if sc-im crashes, the underlying terminal's colors would be remain what they were at the time of opening sc-I'm.

[2021-09-04 15:23] Gitleptune commented on #274
This was one of the first things which I came to sc-im for, sadly it isn't implemented yet.

But if/when it does I'd really like to be able to save my already made macros (in vim they get deleted when you close the file).

[2021-09-04 15:46] andmarti1424 commented on #605
Hello folks. I am afraid this is an ncurses problem. sc-im do not interact with terminal. It just use ncurses, and let it do the hard stuff.
Do that happen also happen to you with other attributes such as bold?

[2021-09-04 15:51] andmarti1424 commented on #604
If I recall correctly we had another issue with this. Didnt we?
This is another terminal dependent issue.

btw, whats your last visible column?
Its an empty sheet or it have content?

[2021-09-04 15:54] andmarti1424 commented on #603
Clearly, another terminal issue that prevents ncurses to redefine colors.
I also have problems with tmux and some keystrokes that not get caught.

[2021-09-04 17:01] slackhead commented on #274
If the macros follow the same rules as keybindings then perhaps the code could be reused, then perhaps all that's needed is a way to interpret custom commands?

[2021-09-05 07:04] reportaman commented on #604
Perhaps @ThomasDickey could help us look at terminfo to see if there is anything wrong in my ``xterm-256color``, am not a ncurses or terminal sequence expert.

@andmarti1424 Sounds like we had something like this before, but couldn't find the issue. If I do not open any sheet, then the last visible column is ``AE`` & the clicks don't go past column ``V``. It happens for both empty and non-empty sh

[2021-09-05 07:09] reportaman commented on #605
@andmarti1424 Didn't try with other attributes. Could be that there is some terminfo setting? adding @ThomasDickey here too, as he is the ncurses maintainer.

[2021-09-05 10:04] ThomasDickey commented on #604
There's more than one xterm mouse-protocol.  The one you're using is the older one, which is limited to 224x224.  Here's an output from infocmp showing alacritty's version versus ncurses (ncurses on the left):

[code]

[2021-09-05 10:09] ThomasDickey commented on #604
The lines with `kmous`, `XM` are the ones that matter, though you may run into some problem if you're using a very old version of ncurses (such as the antique collection that Apple provides).

[2021-09-05 13:00] andmarti1424 commented on #605
No. Not that I can recall.

[2021-09-06 00:47] reportaman commented on #604
Changing to ``kmous=\E[<, ``, and adding `` XM=\E[?1006;1000%?%p1%{1}%=%th%el%;,`` in xterm-256color and tmux-256color made it work!

@ThomasDickey I am very new to the world of understanding terminfo database. I ordered a book https://www.amazon.com/termcap-terminfo-OReilly-Nutshell-Linda/dp/0937175226 on the topic as I really want to understand how it works. Given you are the main developer/main

[2021-09-06 01:23] reportaman commented on #604
@ThomasDickey Updating ``xterm-256color`` & ``tmux-256color`` with ``kmous=\E[<`` and ``XM=\E[?1006;1000%?%p1%{1}%=%th%el%;`` made it work! For some reason my comment with some general followup questions unrelated to the issue got deleted on GitHub, perhaps because of some GitHub bug. If you did receive it as an email, and would like to answer then please feel free to paste it here. Or I will have

[2021-09-09 04:42] sbng commented on #602
using the lastest main commit 0d815ba3cb57b1facd3c55573f40975094b5f6d4. Yes, I can see the struct was declared on line 73 but compile failed giving the above error.

[2021-09-09 06:26] andmarti1424 commented on #602
Please try compiling with gcc

[2021-09-14 14:06] andmarti1424 commented on #602
@sbng Have you tried it?

[2021-09-14 14:11] andmarti1424 commented on #591
I am really not sure. Have you check the tests inside `tests` folder?
I dont rely on recalc cause I have autocalc set in my .scimrc
May be you dont?

[2021-09-14 20:37] reportaman commented on #605
@andmarti1424 There is an answer from @ThomasDickey on stackoverflow from mid-2016. https://stackoverflow.com/questions/36051061/color-not-ended-in-curses

It seems like redefining color palette of terminals is a one way street, unless something changed since mid-2016 it doesn't seem like ncurses can reinstate the terminal settings that were edited by the program that uses it. Perhaps there should

[2021-09-16 16:07] mhmdanas opened #606 "Saving an ODS file results in it being re-written to an sc-im file"
Steps to reproduce:
1. Open an ODS file in sc-im (you can get one from https://file-examples.com/index.php/sample-documents-download/sample-ods-download)
2. Type `:x`
3. The ODS file is now actually an sc-im file, though the filename and extension didn't change

[2021-09-16 17:28] andmarti1424 commented on #606
Hello. This behaviour is clearly not consistent with other formats such as xlsx.

[2021-09-16 17:30] andmarti1424 commented on #606
Nevertheless, it seems correct since ODS file saving is not yet supported.

[2021-09-16 17:30] mhmdanas commented on #606
Yet I think this particular behavior is undesirable, as it can lead to data loss.

[2021-09-16 17:39] andmarti1424 commented on #606
Yes. That could be. Prevent user to save a file that its name finish with ".ods".

[2021-09-16 20:03] andmarti1424 commented on #606
@mhmdanas Please update to latest commit on dev branch and retry!

[2021-09-16 21:08] calissendorff opened #607 "Import external data into cell?"
Google Sheets has something called ImportXML which lets you import various types of data from a website url into a cell.

Does sc-im have anything similar?

Or alternatively, given that the file format seems quite simple, what would be a good way of replacing a number in a certain cell with data from the internet?

For instance, replacing:

`let C2 = 0.75`

... with ...

`let C2 = 0.81`

... getti

[2021-09-17 03:56] sbng commented on #602
sorry for the belated reply. Yes I tried gcc, same error.

sbng@oat[~/.local/src/sc-im/src]:$ make CC=gcc                                                                                                                                                                                  [Umain]
gcc -Wall -g -DNCURSES -D_XOPEN_SOURCE_EXTENDED -D_GNU_SOURCE -DSNAME=\"sc-im\" -DHELP_PATH=\"/usr/local/shar

[2021-09-17 09:45] mhmdanas commented on #606
Sorry, I'm trying to build from source on macOS, but I can't seem to get it to build with ODS support (I was using sc-im from Homebrew previously). I'll try again later.

[2021-09-17 13:55] cxsmxx commented on #606
I just tried to save .ods file, says still the same thing, compiled from source, can I help somehow?

[2021-09-17 14:00] andmarti1424 commented on #606
Can't be. You took the latest commit on `dev` branch??

[2021-09-17 14:05] cxsmxx commented on #606
Im on MacOS, could that be the reason? `libxls` is named `xlslib` over here

[2021-09-17 14:09] andmarti1424 commented on #606
no no. just check you have this:
![image](https://user-images.githubusercontent.com/9466161/133796696-79dadd29-72e3-43a7-bad4-ebc81966bb2b.png)

[2021-09-17 15:01] cxsmxx commented on #606
Yeah, the log is the "not yet"
![image](https://user-images.githubusercontent.com/12977596/133804893-3edbeb5d-fc63-4d20-afe1-8ac2b0cff1b9.png)

[2021-09-18 01:53] freeit commented on #594
Same here. Can't use absolute cell references like "$a$5".

[2021-09-18 02:19] andmarti1424 commented on #594
@freeit could you please share your file and the formula you are using? Thanks.

[2021-09-18 22:50] freeit commented on #594
@andmarti1424 First of all, I would like to say that I am very delighted that SC-IM is a continuation of SC. A great spreadsheet. Thanks for your great work. I made a little video[1] that shows you what is happening. Please don't let the version "0.8.3-main" bother you. I just used it for compilation. I hope you can find the bug, because I actually want to switch from SC to SC-IM. Of course before

[2021-09-19 04:05] duarm opened #608 "Don't make file extensions obligatory"
Hello everyone, thanks for working on sc-im!
I have a bunch of personal tab-separated spreadsheets and some other non conventional formats, since I want to be able to easily read the data without any program. I would like to import that data on sc-im to do some statistics and other things, but sc-im requires a particular extension on my file, otherwise it is "incompatible".  I wouldn't want to jus

[2021-09-19 13:56] andmarti1424 commented on #607
No. But you can use lua scripts for achiveing the same thing. Check examples in `examples/lua` folder.

[2021-09-19 13:56] andmarti1424 commented on #606
Then it is validating correctly. Right?

[2021-09-19 14:07] andmarti1424 commented on #608
Hello. Yes. I am afraid this is how it currently works. I move this to a discussion, so everyone can give their opinion on this topic. My personal opinion is that it might not really worth modifying bunch of stuff for this.

[2021-09-19 14:07] #608 closed

[2021-09-19 14:12] andmarti1424 commented on #594
@freeit thanks for your video. Will try to detect the cause of this.

[2021-09-19 14:15] andmarti1424 commented on #594
I already had. Will try to fix this soon.

[2021-09-19 14:25] andmarti1424 commented on #594
@earthshrink @freeit Could you please update to latest commit on dev branch and retry? Thanks.

[2021-09-19 14:59] calissendorff commented on #607
Can you give me a clue how to do this? I placed `getstock.lua` in `~/.sc-im/lua/` and typed `=@lua("getstock.lua", 1)` in sc-im and I get a segmentation fault.

[2021-09-19 16:53] earthshrink commented on #594
Thanks, this seems to have fixed it.

[2021-09-19 19:57] andmarti1424 commented on #607
First, it should not segfault. If you can, please share stacktrace or valgrind log.
Segundo, try placing it in `$HOME/.config/sc-im/lua/`
You also have to enter the `@lua` functions as string functions, with `\"`

[2021-09-20 11:55] cxsmxx commented on #606
Yes it is, consider issue resolved from my end

[2021-09-20 12:08] cxsmxx commented on #606
Anyway if the issue could be resolved with my help, I would be happy to contribute

[2021-09-20 15:40] freeit commented on #594
The same here. Absolute cell references seems to work as they should. Thanks for patching so fast. Maybe you're also updating your AUR repo ?

[2021-09-22 15:25] andmarti1424 commented on #605
sc-im dont change default terminal background and foreground colors specifically.
It just defines a palette of colors and then use them on different parts of screen.

What if you change those REDEFINE_COLOR and defines new colors like you did with altbackground, and comment colors. Does the terminal is left with other colors than default when quitting sc-im?

[2021-09-23 03:17] reportaman commented on #605
@andmarti1424 If I just use DEFINE_COLORs, then it does not change the color definition of terminal's 16 color palette. But the problem inside tmux continues to persist, it is fixed outside with that change. The good thing is tmux provides its color palette via ``pane-colours`` array. https://github.com/tmux/tmux/search?q=pane-colours. Perhaps sc-im now needs to only handle the case when it is ope

[2021-09-23 19:21] andmarti1424 commented on #605
After watching the screencast, the problem you both are having is clear. However, I still think this is not an issue of sc-im, but ncurses. sc-im does not interact with terminal, nor does change the terminal background and foreground colors. And I am not talking about if sc-im crashes (if that happens it is known that terminal state is not restored properly), but on clean exits.

ncurses should re

[2021-09-23 20:46] fattymembrane commented on #603
I'm getting exactly the same errors when in tmux on Mac OS. Outside of tmux, it works fine.

[2021-09-23 21:34] andmarti1424 commented on #603
This is an ncurses / tmux misbehavior or incompatibility. Probably more tmux issue than ncurses. I believe you should open an issue report to tmux devs. Sorry I cannot help here. Btw, you should also make sure your terminal is set to support the rgb color redefinition..

[2021-09-28 06:31] reportaman commented on #605
@nicm Please look at the screencast, this problem does not occur in most terminals (accept Alacritty) when sc-im is not called from within tmux. It makes me wonder if this is because tmux's ``pane-colours`` and sc-im's DEFINE_COLOR both update the same library that defines tmux's colors & if anything can be done about it. @ThomasDickey's inputs will be appreciated too, as @andmarti1424 suspects th

[2021-09-28 06:34] nicm commented on #605
Show tmux server log please.

[2021-09-28 06:44] reportaman commented on #605
@nicm here we go...
[tmux-server-4445.log](https://github.com/andmarti1424/sc-im/files/7241704/tmux-server-4445.log)
[tmux-out-4445.log](https://github.com/andmarti1424/sc-im/files/7241707/tmux-out-4445.log)
[tmux-client-4443.log](https://github.com/andmarti1424/sc-im/files/7241709/tmux-client-4443.log)

[2021-09-28 07:09] nicm commented on #605
It appears this application is setting the palette with OSC 4:
[code]
But I do not see any corresponding OSC 104 to reset the palette when it exits.

I wondered if the palette should be reset on exiting the alternate screen but from testing in xterm that does not appear to be the case.

In what terminal does it correctly reset the palette on exit?

[2021-09-28 07:16] reportaman commented on #605
It correctly resets in iTerm2/ WezTerm/ Apple's Terminal, except on Alacritty where the behavior is the same as in tmux. All tested with their respective latest master branches, on system described below. Didn't try other terminals.

[code]

[2021-09-28 07:23] nicm commented on #605
OK run the program with script like this please in iTerm2:
[code]
Then show me the `typescript` file.

You may need to install `script`, can't remember.

[2021-09-28 07:29] nicm commented on #605
That's outside tmux of course.

[2021-09-28 07:50] reportaman commented on #605
@nicm Here's a run from ``script -r`` on macOS, replay it with ``script -p typescript.txt`` on macOS or ``scriptreplay`` on linux (as per the code in https://github.com/wez/wezterm/blob/main/wt-replay).

[typescript.txt](https://github.com/andmarti1424/sc-im/files/7242104/typescript.txt)

[2021-09-28 07:56] reportaman commented on #605
Actually, for some reason, the scriptreplay doesn't work on linux. Do you have a Mac machine, it works correctly on Mac with ``script -p typescript.txt``

[2021-09-28 08:08] nicm commented on #605
Can you do it without -r please?

[2021-09-28 09:26] reportaman commented on #605
@nicm macOS ``script`` & linux ``script``/ ``scriptreplay`` seem very incompatible. If I do not pass ``-r``, it doesn't play correctly on macOS, if I pass ``-r`` it plays incorrectly on linux. So I decided to install a few KBs of https://asciinema.org. Its a modern version of script, and in my testing a script produced on one platform works well on another.

Here's the command to replay file ascii

[2021-09-28 09:35] nicm commented on #605
I don't care about replaying it, I am going to look at the file, so I don't want any replay crap in it.

[2021-09-28 09:35] reportaman commented on #605
Update: If I run the same script output or asciinema output in iTerm2 on another account on macOS, then it does not reset the palette on exit.

[2021-09-28 09:43] reportaman commented on #605
@nicm Here's a typescript, and the video where I show it being recorded & one can see iTerm2 does reset the palette on exit.

[typescript.txt](https://github.com/andmarti1424/sc-im/files/7242841/typescript.txt)

https://user-images.githubusercontent.com/71736629/135063762-25259f92-30f9-4de9-9a88-addf07ac4d6a.mp4

[2021-09-28 09:55] nicm commented on #605
When it is working, is the palette being reset to the defaults, or to the palette you have set beforehand with some other method?

[2021-09-28 10:01] nicm commented on #605
I do not see anything in this file that will reset the palette to the defaults and AFAIK there is no mechanism at all to reset it to the previous state before any particular point. Indeed when I cat the file, the palette is not reset.

iTerm2 does not appear to reset the palette on RIS (`\033c`) or with the "reset" menu option, nor can I see any way in the code to cause it to reset other than send

[2021-09-28 12:30] andmarti1424 commented on #605
If this fails on some terminals and others not, then the issue might be in it (or tmux) and not ncurses.

[2021-10-02 12:17] molleweide opened #610 "Build err on mac M1 silicone"
Hi Andre,

Running
[code]
works perfectly it seems on my old Intel mac with `x86_64` but now when I try it on my new
M1 mac this happens:

[code]

----

Does this mean that it is the third line that failed?:
[code]

I also tested changing the prefix to `~/.local` but
this did not work either.

[2021-10-02 12:35] molleweide commented on #610
I am a super noob when it comes to make files so I will try to dig into this myself but I don't understand anything actually of the error message. Because why do the first two commands succeed but then when I look into these places there is nothing there? Maybe it waits to see if the whole chain of events pass successfully.
I also tested changing the prefix to `~/.local` but this did not work eith

[2021-10-02 15:53] xeruf commented on #410
So, autowrap is there :tada: thank you :)
Now this still waits to be fixed, and it is actually a bug as this is a common feature of CSV.

[2021-10-08 06:55] laktak opened #611 "`c$` in Edit Mode bug"
When in edit mode `c$` does not work correctly.

With the input `ABCD` and the cursor on `C`:
- when I press `c$` and type `Z` the result is `AZB`
- the expected result is `ABZ`

SC-IM - version 0.8.2

[2021-10-08 06:56] laktak opened #612 "Edit mode mapping"
Is it possible to define a mapping for edit mode? All the other modes are [listed](https://raw.githubusercontent.com/andmarti1424/sc-im/freeze/src/doc) but not edit.

I'd like to define a mapping for `C` to `c$` (or a workaround for #611)

[2021-10-09 21:32] krossgear opened #613 "Custom Keybindings Work, But Cause Syntax Error at Startup"
I use the Workman keyboard layout, so many of the default bindings aren't very comfortable. If I open SC-IM with any custom keybinding configurations active in my _scimrc_, whether opening a new file or an existing one, I get a blank screen with the message "syntax error" in the upper left-hand corner of the terminal window. The window will stay like this indefinitely as far as I can tell if no fu

[2021-10-11 17:11] bartenbach opened #614 "Stop the madness"
|        Key       |                 Purpose                 |
|------------------|-----------------------------------------|
|         \        | Insert a text value                     |

All of the other keys mimic vim, but insert is a backslash.

*A backslash*.

There is nothing bound to 'i'.

Why.

Why would you do that.

[2021-10-11 17:21] bartenbach commented on #614
I have not used sc before.

I see what it's used for in the documentation....it feels like heresy.

This is a fantastic console application by the way. Words cannot express how happy I am that this exists. You are doing the lord's work.

....but the insert mode thing is going to drive me insane.

[2021-10-11 17:28] #614 closed, assigned to nobody

[2021-10-11 20:14] bartenbach commented on #614
Why's that?  I also feel like 'O' should do what 'ir' does.  It's so close to being like vim but not quite.

[2021-10-11 20:23] andmarti1424 commented on #614
sc-im goal is not to recreate vim.

vim is vim.
sc-im is sc-im

If you are uncomfortable with some key bindings you might want to define mappings.

[2021-10-11 20:27] bartenbach commented on #614
That's fair.

I'll play with some mappings.  I'm sure I can make something work.

Also I tried to open an xlsx on OSX the other day and it said that xlsx support wasn't compiled in. No clue who is responsible for compiling binaries distributed by homebrew, but I thought that was odd.

[2021-10-11 20:28] andmarti1424 commented on #611
Thanks for reporting this! Will fix it.

[2021-10-12 14:07] laktak opened #615 "nunmap "e""
`nunmap "e"` does not appear to work.

I tried to map `ee` and `en` but if I am too slow with the second character I still end up in the original `e` mapping.

Config:
[code]

[2021-10-12 14:24] #615 closed, assigned to nobody

[2021-10-14 19:06] ericonr opened #618 "`@sum` doesn't update value if cell is deleted"
Hi!

I have the following file:

[code]

If I move my cursor to B1 or B2 and press `d-d` to delete the value, it doesn't update the value in E9. If I delete B0, it does update the value.

[2021-10-15 08:18] laktak commented on #611
I just noticed that `cw` is also affected:

[code]

if you then type `cw` everything looks OK but when you enter `15` it gives you:

[code]

while the cursor is still shown at the end.

It works though if I use `ce` instead.

[2021-10-15 20:42] laktak commented on #611
Thanks! `C` and `cw` work great now!

While testing I discovered another bug - I think also related to this one.

- enter `ABCD` and go to edit mode
- with the cursor on `D` type `d$`
- notice that the `D` is deleted but the cursor stays on the now empty space
- type `a` and enter some text - nothing will be shown on the screen

[2021-10-16 00:16] reportaman commented on #610
@andmarti1424 As a sidenote: were you using BSD in past? Do you do development on M1 Mac? The reason I ask is I tried using the equivalent of Linux's strace on macOS (called dtruss). And have had difficulty with it, like if I give it pid of a shell even without any rcs, like ``zsh -f``, it keeps on printing lines even if there is no activity and even after processes exits.

[2021-10-16 00:20] andmarti1424 commented on #610
Never had a Mac, no. Bsd I used it may be 10 years ago and only one or two months..

[2021-10-16 00:47] andmarti1424 commented on #610
Yes. Typo (this phone autocorrect)

[2021-10-16 02:18] reportaman commented on #610
I tried this on my apple m1 Mac mini, what works and what does not:

1. ``make -C src`` followed by ``make install -C src`` works just fine.
2. ``make -C src install`` without first doing ``make -C src`` does not & gives the error you mention.

[2021-10-16 15:02] marrs opened #619 "Move to next column on enter?"
At the moment, when entering data, hitting enter moves the cursor to the next row.  Often I am entering data, one record at a time, from left to right, and I currently have to manually move the cursor from its position below the previous cell, up and to the right before I can enter data into the next column.  I don't see anything in the documentation to suggest that I can have the cursor advance t

[2021-10-16 15:07] andmarti1424 commented on #619
newline_action configuration variable?

[2021-10-18 21:13] andmarti1424 commented on #613
@krossgear  ?

[2021-10-19 05:54] laktak commented on #611
No problem, thanks for you help! `d$` works now as well!

`D` has the same issue as `d$` before (it should be 'mapped' to `d$`)

[2021-10-25 20:36] #618 closed, assigned to nobody

[2021-10-25 20:36] #611 closed, assigned to nobody

[2021-10-27 07:01] laktak opened #620 "Feature to Keep Input on ESC"
I'd like to request a config option that makes ESC keep the input when going from edit mode to normal mode.

At the moment ESC will undo any edits (with no way to get them back AFAIK). For me this is very error prone because I often forget to ESC-ENTER from input mode instead of just ESC-ESC which is more of what I am used to from vim. Also see https://github.com/andmarti1424/sc-im/discussions/617

[2021-10-30 16:21] andmarti1424 commented on #620
@laktak I decided to modify this so ESC key also confirm changes. Please feel free to update to latest commit on dev branch and try it.

[2021-11-01 21:21] andmarti1424 commented on #620
@laktak could you test it? Thanks.

[2021-11-02 22:29] laktak commented on #620
Yes it works great, thank you!

Could you make the same change when entering a new text or number?

When I enter something with `<` or `=` and then press `ESC` the value will be discarded. IMO it should go to edit mode. What do you think?

[2021-11-03 13:10] andmarti1424 commented on #620
I dont think so. gnumeric and libreoffice also work like sc-im in those situations.

[2021-11-04 13:05] laktak commented on #620
Interesting. What is the reason for this behavior?

So when entering text I first do `<` `....` `enter` then `E` so I am in edit mode?

[2021-11-04 13:12] andmarti1424 commented on #620
Yes, indeed.
sc-im starts in NORMAL mode.
with `<` you enter INSERT_MODE. you can enter content and move cursor with arrow keys and delete content with delete key.
If you press `ESC` you go back to NORMAL_MODE.
If then you press `E` you enter EDIT_MODE so you can edit content as you normally do in vim.

[2021-11-05 10:03] mhmdanas commented on #606
Just successfully built sc-im from source and I can confirm that it will show a warning if I try to save to an ODS file. Thanks!

[2021-11-05 10:03] #606 closed

[2021-11-10 16:43] laktak commented on #620
I understand how it works but not why. What is the advantage?

Wouldn't it be easier to use the app if it always behaves the same way? So when pressing ESC in insert mode you always get to edit mode (instead of losing the text you entered as it is at the moment)?

Would you allow `E` to go to insert/edit mode instead of showing "No string value to edit"?

[2021-11-10 16:59] andmarti1424 commented on #620
The later, yes.. I think that could be modified.

I treat NORMAL_MODE as the default mode. That means where you most of the time are. (I think vim also has this concept). So when you 're in INSERT_MODE I believe ESC should get back to your home. That is NORMAL_MODE..

[2021-11-12 10:42] 1dancook opened #624 "Segmentation Fault (crash) using marked range in a calculation."
### The Issue

I get a segmentation fault every time when trying to use a marked range for a calculation.

### To Reproduce

Here is `test.sc`:

[code]

If I type this in manually, there is no issue and works as expected. In C1:

[code]

However, if I use a marked range in the function, I will get a segmentation fault:

1. Select A1:B1
2. Mark a: `ma`
3. Use the marked range in the function:

[cod

[2021-11-12 12:50] andmarti1424 commented on #624
Could you please update to latest commit on dev branch and retry?
Thanks.

[2021-11-12 13:34] 1dancook commented on #624
Works in the dev branch. 👍👍 Will close.

[2021-11-14 00:54] wkoszek opened #625 "With libxls support, sc-im breaks .xls files on write, while .xlsx files are OK"
First of all thanks for this program. It's great for easy and fast viewing of spreadsheets.

I just contributed Homebrew support for `libxls` under macOS, and added `sc-im` support for Excel reading to Homebrew. I'm testing reading/writing and I think we have a bug.

When you open .xlsx file, everything works: file opens fine, and I can write it, and it gets saved as .xlsx. For .xls however it doe

[2021-11-14 12:35] alexandre-mbm commented on #324
@andmarti1424, where I can to read about this syntax?

[2021-11-14 21:57] 1dancook commented on #324
@alexandre-mbm Look in the help file by typing `:help`+enter in sc-im. You can search with `\` and look up `:formatcol` as it uses the same as the `FORMAT` command that `:int` will take.

[2021-11-15 16:19] laktak commented on #620
I can see your argument except for me EDIT_MODE maps to vim's normal mode and NORMAL_MODE is more like a mode above that. That is why I feel that going from insert to sc-im's normal mode is skipping a  step.

Please take a look at my PR that allows the user to select the desired behavior.

[2021-11-17 05:26] 1dancook opened #627 "Bug: sc-im doesn't respect terminal background and is blinking"
### A little explanation

I'm just trying to get set up so I can switch between 0.8.2 and the 0.8.3 dev versions easily in order to test bugs and other things.

Without modifying anything from the repo clone, doing the make steps, sc-im has some very strange behaviour for color and blinking. You can see in the attached .gif below. This is loaded without my scimrc and in macOS Terminal (didn't catc

[2021-11-17 05:51] 1dancook opened #628 "Request: add --config and --no-config arguments to cli"
It would be useful to have these arguments for the cli for testing and checking other configs.

[code]

[code]

[2021-11-17 06:06] 1dancook opened #629 "Bug: Using @lua results in segmentation fault (crash)"
### Description:

Using `@lua` in a cell will result in a segmentation fault.

This issue is present for sc-im v0.8.2 on MacOS.

This issue is **FIXED** in the 0.8.3 dev branch.

### Steps to reproduce

1. git clone the repo
2. Go to the repo examples: `cd sc-im/examples/lua`
3. Open test.cs: `sc-im test.sc`

### Other info:

Output of `lua -v`:

[code]

[2021-11-17 12:15] andmarti1424 commented on #627
Does this happen to you in other terminal?
Seems a terminal issue with ncurses. I believe you could redefine colors to avoid this problem.

[2021-11-17 12:19] andmarti1424 commented on #629
v0.8.2 will be replaced by v0.8.3 shortly

[2021-11-17 12:57] 1dancook commented on #627
I tried this in 3 different terminals. In macOS Terminal there is blinking. In iTerm2 there is no blinking but the white background is there for table cells and etc. In Kitty terminal (which is what I usually use) it's the same as iTerm2. I have all the colors defined in Kitty so I'm not sure really why this is happening.

Do you mean in scimrc?

[2021-11-17 13:04] andmarti1424 commented on #627
Yes indeed. Try the dracula theme. Its made by @reportaman who might use the same terminal as you do.

[2021-11-17 13:25] 1dancook commented on #627
@andmarti1424 yes that worked! 🙂👍

With 0.8.3 dev branch the whole of sc-im is still blinking in Terminal app. Other terminal is fine. This could just be something on my end however, but I'm drawing blanks at the moment.

---

Regarding colors: using a theme that redefines all colors works, however, the default settings of sc-im should not have this kind of problem. Will leave this open for now si

[2021-11-17 14:13] 1dancook commented on #627
Using the dracula theme solved my color problem - but after trying to implement the colors that I had before, I may have gotten closer to the reason for the white background issues in the first place.

Having `color "type=NORMAL fg=WHITE bg=BLACK" in my config will make this problem appear.

[2021-11-17 21:42] 1dancook commented on #627
Last night I continued to try and reproduce my theme that I had set up from before. Having a color defined that should be gray would make things pink. White would make things yellow. All kinds of strangeness.

Dracula theme worked. But if I put a define_color statement before the redefine_color statements in that theme I would get a very different result.

So that has led me to think that maybe so

[2021-11-18 01:23] 1dancook commented on #627
I'm going to close because I think this is not an sc-im issue. I don't know what the issue really is, though. I have compared the output of `brew -v install sc-im` with sc-im's `make` and the only difference I saw was that brew was using clang. I changed CC=clang but still the issue persists.
I don't know if any other macOS users have encountered this problem but I'm willing to bet they probably h

[2021-11-18 01:23] #627 closed

[2021-11-18 02:37] 1dancook commented on #629
v0.8.3 doesn't crash when using @lua but on macOS the home-brew installation is not being built with lua support. See below for --version output.

So, in 0.8.3 loading a file with @lua being used won't cause a seg fault now. But I am able to produce a seg-fault if lua support is not built in with these steps on macOS:

1. `brew install sc-im --HEAD` to install 0.8.3-main
1. Make a `~/.config/sc-im

[2021-11-18 08:58] 1dancook commented on #629
It looks like when running the home-brew install, pkg-config is not finding lua. I found this out by forking the repo, modifying the lua part in the makefile to just assume pkg-config and add lua stuff (try to force it). Then I made a home-brew formula for the fork.

I get this:
[code]

Very strange. If I run `pkg-config --list-all`, lua is there.

So, I find where this lua.pc is and tried `export

[2021-11-18 09:01] 1dancook commented on #629
I tried my own home-brew formula for my fork and added two lines and this seems to make everything work for installing:

[code]

This is below the `  depends_on "ncurses"`

May need to test that more. But I have lua working in 0.8.3 with no crazy colors installed via home-brew.

[2021-11-19 01:27] 1dancook commented on #629
Last night I read through some homebrew documentation and tried this morning. Apparently you can just edit the local formulas with `brew edit <formula>`.

So here is what I have now and it is slightly different than the current homebrew formula:

[code]

Previously pkg-config was not a requirement for build on macOS so that should be fixed with `depends_on "pkg-config" => :build` (only need it for

[2021-11-19 12:28] 1dancook opened #630 "Make pbcopy/pbpaste default clipboard for macOS"
### Description

The default installation of sc-im doesn't use `pbcopy` or `pbpaste` for macOS. As of 0.8.2 it uses X clipboard.

### Suggested change

Makefile needs to have logic:

[code]

I will try to submit a PR for this.

[2021-11-19 13:39] 1dancook opened #632 "Using :cpaste should recalculate sheet if autocalc is set"
### Description

Currently, using `:cpaste` doesn't update other cells if `autocalc` is on.

### Expectation

For example,

If `A0=B0`, `:cpaste` into `B0` should update `A0` automatically if I have `autocalc` on.

---

*I have this working in a branch, but I don't know C really and I don't want to submit a PR necessarily because I may be missing something. I was pretty confident that this will be

[2021-11-19 18:01] andmarti1424 commented on #632
Added to dev branch. Thanks.

[2021-11-19 18:01] #632 closed

[2021-11-19 18:03] andmarti1424 commented on #629
I believe @reportaman uses MacOS.
What about sharing your formulae to `https://formulae.brew.sh/`.
I think you could upload it.

[2021-11-19 18:04] andmarti1424 commented on #628
Convert this to discussion.

[2021-11-19 18:04] #628 closed

[2021-11-19 21:08] 1dancook commented on #629
Yes I can do that. I need to find a bit more information because I don't know where those bottle hashes came from 😂

[2021-11-21 17:10] ga47wot commented on #590
Loading the theme to another file works for me by using the load command as suggested. But however when I re-open this file the theme switches back to the default. How do we make sure the loaded theme is saved for that file.

[2021-11-21 19:59] ga47wot opened #634 "Insert/Command -> Visual Mode not working"
The <C-v> command does not function while I am in the insert/command mode and want to switch to visual mode.

Secondly, the command remapping to a different key mapping using :cmap "<C-v>" "<C-s>" does not work as well. And also inserting this command in the ~/.confg/sc-im/scimrc file throws a syntax error when a new sc-im file is opened.

 I have already removed the default terminal's text paste

[2021-11-22 13:39] 1dancook opened #635 "sc.colrow2a has arguments reversed"
sc-im version: 0.8.3-main + dev

### Description

According to `:help` the argument order for `sc.colrow2a` is `column` then `row` but they are actually flipped.

I believe the order should be `column` then `row` to be consistent with other lua functions.

### How to reproduce

Make `~/.config/sc-im/lua/colrow.lua` with contents:

[code]

In scim in cell A1 do:

`\"@lua("colrow.lua",0)`

Expected

[2021-11-23 01:44] 1dancook commented on #590
@ga47wot Scim doesn't save theme related commands to an individual .sc file.
It does save `:cellcolor` commands.

At the moment Scim only supports a global theme as defined in your scimrc file.

So, `:load path/to/theme` is probably most useful for testing and tweaking a theme but not for using it regularly.

[2021-11-23 01:49] andmarti1424 commented on #590
Thanks for answering. I am ill and I'm afraid I will be offline for a couple of days until I recover.

[2021-11-23 03:03] 1dancook commented on #634
*sc-im version: 0.8.3-main*

I can confirm that `<C-v>` does not work as it is documented when in **Insert** and **Command** mode.  I have tried 3 different terminals on my mac. Inside and outside of tmux. What happens is basically nothing - sc-im persists in the current mode that it was.

**BUT!** I managed to install sc-im on my ipad in a linux (Alpine) emulator app and *it does work* there as d

[2021-11-23 06:26] 1dancook opened #636 "lua scripts seem to be executed twice"
*sc-im version: 0.8.3-main and 0.8.3-dev*

## Description

Lua scripts seem to be executed twice. This is not easy to see unless you use `sc.lquery()`.

I thought at first that it was just `sc.lquery()` being called twice but it is everything.

## How to replicate

First, Put this in `query.lua` in lua folder:

[code]

Second, in A0 do `\"@lua("query.lua",0)`

You will be asked two times for 'quer

[2021-11-24 06:20] 1dancook commented on #629
I have submitted a PR for the formulae to get updated. Maybe it takes a few days.
I had to make a few adjustments for it to pass an audit (couldn't use the `recommended` flag for lua - but I think that is okay).

[2021-11-24 06:22] 1dancook commented on #610
@molleweide are you able to build it with homebrew? `brew install sc-im --build-from-source` ?
Homebrew has bottles (pre-compiled binaries) for M1 so it *should* work.

[2021-11-24 11:52] 1dancook commented on #629
New formula was merged to homebrew-core so I will close this now.

[2021-11-24 11:52] #629 closed

[2021-11-26 02:01] RicardoOpus opened #637 "Segmentation fault when add a new filter"
Sc-im crashes with a segmentation fault when I add a new filter, after delete the previous one.
I do this:
Frist I create a filter via addfilter; ex `:addfilter "#F=1".`
Then I apply it by `:filteron F2:F10`.
This work fine.
But, when I delete the old filter and create another one,  it  crashes when set the _filteron_ again.

[2021-11-26 02:31] 1dancook commented on #637
I confirm it's the same in 0.8.3-main.

[2021-11-27 20:28] ga47wot commented on #634
Thanks for the suggestions and workaround.

[2021-11-27 20:29] #634 closed

[2021-11-29 12:36] 1dancook opened #638 "Segmentation Fault when using @ston(@ext(...)) [0.8.3]"
*sc-im version: 0.8.3-main*

## Description

In attempting to use an external script, I get a segmentation fault.

I do see user feedback - that sc-im is "Running the script" but then it crashes. I could notice this from another script I was trying to run that took longer.

## Steps to Replicate

[code]

## Other Notes

Other things I've tried and their result:

- `=@ston(@ext("echo 1", a1))` -> s

[2021-11-29 13:05] 1dancook commented on #638
### An Alternate Way to use External Scripts

I don't know Lua very well but was curious to see if I can use external scripts via `@lua` in sc-im.

I'm just posting this here as an alternative way to using `@ext` if anyone else is coming across that segfault this could be useful.

I won't go into detail about where to place the lua script - read the `:help`

[code]

[2021-11-30 07:47] bl0x commented on #359
FWIW, I've found that this works well for me:

`sc-im --nocurses --export_csv --quit_afterload input.sc > output.csv`

Adding the option `--output=output.csv` works as well
Adding the option `--output` without a value produces a file named `1`.
Using the `--output=output.csv` option without the redirect to file just prints to stdout and creates an empty file named `output.csv`.
Leaving out the `--

[2021-12-01 12:09] andmarti1424 commented on #636
Yes. Its a matter of how the graph is evaluated. If you disable autocalc it would be executed only once I believe.

[2021-12-01 12:14] andmarti1424 commented on #637
Does this happen to you also if you disable the filter just before deleting it?

[2021-12-01 12:16] andmarti1424 commented on #637
I am having trouble to reproduce this. Could you please detail also the latests steps when you delete the filter and create and apply a new one? Thanks.

[2021-12-01 12:21] andmarti1424 commented on #635
Yes indeed. Thank you. Fixed on dev branch.

[2021-12-01 12:21] #635 closed

[2021-12-01 12:31] andmarti1424 commented on #630
Should be merged on dev branch

[2021-12-01 12:32] #630 closed

[2021-12-01 18:07] Eucyon opened #640 "Feature request: Use system locale for number formats or make thousands and decimal separators configurable"
In some languages thousands and decimal separators are different from the English ones, e.g.:

English: 123,456.789 ~ German: 123.456,789.

Could you please enable this in sc-im, maybe via using locales or configuration?

Thank you!

[2021-12-01 18:19] andmarti1424 commented on #640
Do you know if its supported on sc?
Move to discussion so others can give their opinion on this matter.

[2021-12-01 18:19] #640 closed

[2021-12-02 06:00] 1dancook commented on #636
Okay, indeed there is relation to `autocalc` being on and it executing twice.

I am perhaps confused about what is meant by the second argument for `@lua()`

`@lua("{luascript}", {i})`

In the `:help` docs it seems that using `0` would not add this to the graph and using `1` does add it. I would then expect that even with `autocalc=1`  using `@lua("script.lua", 0)` would only execute the script on

[2021-12-02 06:13] 1dancook commented on #637
Okay I have tried a few things:

[code]

[code]

[code]

[code]

[code]

[code]

It might be that the problem lies with `:delfilters`

If I use `delfilter [n]` it will work as expected.

[2021-12-02 06:40] 1dancook commented on #637
👆 I tried the above on MacOS.

Have just tried on Alpine Linux and is working as expected. 🤔

[2021-12-02 12:17] 1dancook commented on #637
@andmarti1424 I have tried the following adjustment in `filter.c` and it solves the issue on my side.
I just basically copied what was below from `del_filter()`. I tried those different combinations from above again and that seems to have solved it.

Again, I'm not confident in C so please double check.

[code]

[2021-12-02 12:40] 1dancook commented on #638
I checked the code for `doext` out of curiosity.

I tried another thing just to see what errors sc-im will give me (following the logic in the code).

Doing `\"@ext("unknowncommand", A0)` will give me the expected feedback from `sc_error("Warning: external function returned nothing");`

This leads me to think that the issue is after that: if the command was run successfully and if the command retu

[2021-12-02 18:49] andmarti1424 commented on #637
Thank you @1dancook. Will check it out.

[2021-12-06 11:40] andmarti1424 commented on #637
That is why I could not reproduce the bug. I used `:delfilter 0`.
Please update to latest commit on dev branch and retry.
I have also made a modification so that when you delete the filters, sc-im shows again the previous hidden rows.

[2021-12-06 16:13] andmarti1424 commented on #638
`==168184== 1 errors in context 1 of 2:
239 ==168184== Conditional jump or move depends on uninitialised value(s)
240 ==168184==    at 0x139BA2: efree (interp.c:1736)
241 ==168184==    by 0x139B1E: efree (interp.c:1728)
242 ==168184==    by 0x157526: clearent (cmds.c:1359)
243 ==168184==    by 0x147D4C: dismiss_undo_item (undo.c:314)
244 ==168184==    by 0x14802B: free_undo_node (undo.c:381)
245 =

[2021-12-06 16:26] andmarti1424 commented on #638
line 382 of cmds.c           `n->expr = copye(p->expr, sh_p, dr, dc, r1, c1, r2, c2, 2);`

[2021-12-06 19:24] andmarti1424 commented on #638
Please update to latest commit on dev branch. Should not SEGFAULT. I am still having a hard time to fix a memory leak related to this..

[2021-12-06 19:24] andmarti1424 commented on #588
Please update to latest commit on dev branch. Should not SEGFAULT. I am still having a hard time to fix a memory leak related to this..

[2021-12-07 12:06] jonnieey commented on #588
Okay, will check it out.

[2021-12-07 12:35] 1dancook commented on #638
@andmarti1424 Okay, I tried out a variety of things with `@ext` and it is working as expected.

I can close this, but if you are still having a memory leak related to this issue, do you want to leave the issue open?

[2021-12-07 13:12] 1dancook commented on #637
@andmarti1424
Thank you!

I am not able to produce a segfault the way I stated above.

I'm still able to produce a segfault with the following. I didn't think to try this before but wanted to test a variety of filters etc.

[code]

---

RE: Showing previously hidden rows after deleting filters

I have tried this modification of showing previously hidden rows when a filter is deleted. There is mayb

[2021-12-07 13:15] andmarti1424 commented on #638
Great. Please do not close it

[2021-12-07 19:04] Eucyon opened #642 "Inserted cell not regarded in range"
Use the following cells:

A0: 1
A1: 1
A2: @sum(A0:A1)

A2 shows the correct sum. If you change A0 or A1, the sum in A2 is correctly updated.

Now insert a row between A0 and A1 and put in a numeric value in the new A1, e.g. also 1. The sum in now A3 is not correctly recalculated, also not after changing the new A1.

After saving and reentering the sheet, it behaves correctly.

[2021-12-08 13:00] dotancohen opened #643 "Support escaped double-quotes."
From RFC-4180

Therefore, this should be supported in `sc-im`:

"foo","My daughter said ""hello"" this morning.","bar"

[2021-12-08 13:07] dotancohen commented on #643
Screenshot of SC-IM displaying a file with the text in the above comment:
![image](https://user-images.githubusercontent.com/246144/145213420-c1d3bfb5-fb91-4869-b4b4-4aae01fba388.png)

[2021-12-14 15:10] roman65536 commented on #643
Andres,

I use https://github.com/rgamble/libcsv

rgds
Roman

[2021-12-14 15:12] andmarti1424 commented on #643
Thank you Roman. Will take a look at it

[2021-12-15 22:20] andmarti1424 commented on #642
Yes, indeed. You can press '@' to recalculate.
The problem seems to be in the insert_row not recalculating.

[2021-12-15 22:41] andmarti1424 commented on #642
Please update to latest commit on dev branch and retry. Thanks.

[2021-12-21 11:39] andmarti1424 commented on #642
@Eucyon could you test it?

[2021-12-21 11:40] andmarti1424 commented on #610
@molleweide could you test it?

[2021-12-21 11:46] andmarti1424 commented on #602
@sbng Could you solve this? May be you can try with -std flag to gcc.
Also.. could be that ubuntu sets some flags with different checks as default, in comparison to other distros?

[2021-12-21 12:51] molleweide commented on #610
Hi guys,

My apologies for the late reply.

I can confirm that regular `brew install sc-im` works.
`brew install sc-im --build-from-source` also seemed to work correctly!

In other words, I can use sc-im via brew with no problems.

## gcc

[code]

[code]

[2021-12-21 13:02] andmarti1424 commented on #610
great!

[2021-12-21 13:02] #610 closed

[2021-12-21 13:11] 1dancook commented on #642
*sc-im version: dev (3bda539)*

Works as expected on my machine.

[2021-12-21 13:26] andmarti1424 commented on #642
Thank you @1dancook

[2021-12-21 13:26] #642 closed

[2021-12-21 14:01] Eucyon commented on #642
Sorry for answering late. Yes, works fine, thank you!

[2021-12-21 21:04] andmarti1424 commented on #637
@1dancook, found the bug. Please update to latest commit on dev branch and retry. Should not break any longer.

[2021-12-22 01:49] 1dancook commented on #637
I have tested this and have not been able to produce a segfault. Thank you!

[2021-12-22 12:21] #637 closed

[2021-12-22 12:42] #624 closed

[2021-12-22 12:47] andmarti1424 commented on #588
This is same as #638. Will close this.
It does not segfault anymore. But I still have to fix a memory leak.

[2021-12-22 12:47] #588 closed

[2021-12-22 13:01] andmarti1424 commented on #625
Hello @wkoszek. Actually sc-im can only import xls files. It cannot write in that format. this is a limitation of libxls, the library in which sc-im relies for this format.
Since this format was almost replaced by xlsx files, i think it will never be added.

[2021-12-26 19:36] tralce opened #645 "Segfault while sorting selected range with formulas outside range"
I have a file. Simply a table with some data. A couple sums and a percentage.

When I use `v` to select the range `A1:D89`, and then `:sort "+$A"`, sc-im crashes with a segmentation fault.

If I delete the formulas, then save and exit, and reopen sc-im with the file, and repeat the above, it does not crash.

[maps.txt](https://github.com/andmarti1424/sc-im/files/7777473/maps.txt)

[code]

Let me k

[2022-01-03 14:21] pjvm742 opened #646 "Broken quoting and unquoting for delimiter-separated value files"
If you make a file with the .tsv extension like this:
[code]
... , open it in sc-im and save it, the program will save it as:
[code]
... because sc-im will quote cells not when there is a tab in them, but when there is a comma in them. Basically any delimiter-separated value file is treated as comma-separated.

But it doesn't end there, because if you open *that* file in sc-im and save it again, i

[2022-01-05 15:31] Melind4 commented on #393
This idea is good. I imagine that it would be enough to create a wrapper in lua to work with coin-or Clp or with Glpk. I would keep this one open for the community to find the solution.

[2022-01-05 15:37] InternetDr3am opened #648 "Highlight current column & row like conoline.vim"
The [conoline](https://github.com/miyakogi/conoline.vim) plugin for vim highlights the current line. This would be useful for being able to tell when 2 distant cells are on the same row when reading my spreadsheets with many thin columns & many blank cells yet to be filled.

[2022-01-05 16:09] InternetDr3am commented on #20
In my particular context I'd only want to highlight the row, not the column, so that would do away with the messiness. Also, I'd highlight with a much less stand-out color, like dark-grey against a black background with only the cell the cursor is on standing out a lot (maybe yellow on black).

[2022-01-05 16:14] pjvm742 commented on #643
This problem is not specific to csv import: it seems sc-im cannot display cells with doublequotes in them and considers this a syntax error in the sc format.

For example, I get the same when I try to *insert* a cell with a doublequote in sc-im, and with other imports.

[2022-01-05 21:56] ItzSwirlz opened #650 "On some debian/ubuntu systems, pkg-config can't find linker flag"
I'm packaging this for Debian (https://salsa.debian.org/math-team/sc-im) and the build failed on other machines but not my mains. Researching and installing all libncurses* packages found out that the issue was in the Makefile, where uncommenting the if statement on the 'else' for NetBSD and the -I/usr/pkg/include flags solved the issue.

I'm not going to open a PR as I don't know how you guys man

[2022-01-06 19:07] AdamMajer commented on #602
If `XLSX` is undefined, then this variable will not be defined. The `XLSX_EXPORT` is a different pre-processor block.

[2022-01-09 12:07] mkastner opened #651 "Request for help: how do I sum all cells selected in visual mode (sorry)?"
I apologize up front for this admittedly stupid question. I know, I shouldn't misuse the issues board for help requests.

But I am unable to find any documentation on how to create a sum from a selected range of cells in visual mode. I sometimes tend to read sloppily, so most likely, this is very much my own mistake, that I haven't found the respective section in the help documentation.

Neverthel

[2022-01-09 15:50] 1dancook commented on #651
tldr: set a mark for the range, then insert that mark in your expression

---

One way to accomplish this is to mark the selected range using `m` + a lower case letter. In visual mode, you can select a range and for example type `ma` to set `a` to hold the reference to that range.

Then, move to the cell in which you want to sum the range. Type `=@sum(<C-r>a)`

<C-r> = control + r

In insert mode

[2022-01-09 15:52] 1dancook commented on #651
By the way, there is a discussion section that you can use

https://github.com/andmarti1424/sc-im/discussions

If you need help check there or ask 👍😊

[2022-01-09 15:56] mkastner commented on #651
Thanks a lot for your help. I wasn't aware of the forum, but it's definitely the place I should have placed my questions.

So, again thank you very much an also – again – I apologize for having misused this issues section. BTW sc-im is awesome. It frees me of MS-Excel and I can use my favourite Vim keys. Thanks to everyone involved in this project.

[2022-01-12 10:57] amalgame21 opened #652 "Value of string expression disappeared everytime opening the documents"
To reproduce:

In the sc-im tutorial "Lesson12_String_Functions.sc"
Completed the lesson, save the file
Press :q<Enter> to close the sc-im
reopen the "Lesson12_String_Functions.sc" with sc-im again
all the string expression value is lost.

but the string expression is still exist in those cells
you need to go to every single cell, press e/E and hit enter to display the value of string expression

[2022-01-13 11:57] 097115 commented on #247
@andmarti1424

Well, that doesn't contradict a user being able to use those for mappings, right? :)

I mean, you sure can provide the default mappings for these keys, but it also would be great if a user could remap those defaults and use the functional keys for their own bindings.

[2022-01-13 11:59] andmarti1424 commented on #650
Thanks will try to check it out.

[2022-01-13 12:00] andmarti1424 commented on #651
Thanks @1dancook

[2022-01-13 12:00] #651 closed

[2022-01-13 12:01] andmarti1424 commented on #652
Hello. Will check it out next week.

[2022-01-15 13:42] amalgame21 opened #653 "[Function request] paste or export only the visible (shown) cells, excluding the hidden cells in between"
I cannot find a way to copy and paste, or export only the cells that is visible.
if I hide all the rows with the command :hiderows , like :hiderow 1:10
and only shows some of the rows with :showrows, like :showrow 3 , :showrow 5, :showrow 7
when I copy and paste the shown(visible) rows (3,5,7)
the hiddenrows in between (4,6) are also being pasted.

This problem also happens when I use the :e csv c

[2022-01-15 20:45] amalgame21 opened #654 "Chinese character cannot be applied to filter in @eqs()"
for example
a cell B5 contain a chinese character "文"
if B6 =@eqs(B5,"文")
B6 will output 1 as expected

but if I add the filter by :addfilter "@eqs($B,'文')"
and apply the filter with :filteron A0:D10
none of the cell can be filltered out.

I have tried some english word with success, but not chinese character.

[2022-01-15 20:48] amalgame21 opened #655 "filter cannot be saved in .sc files"
filter cannot be saved in .sc files
After the filter is applied and the file is saved
Exit sc-im and reopen the file again
the filter is gone , instead those line was "filter" with :hiderow/hidecol
but not :addfilter and :filteron

[2022-01-17 19:48] tuckerconnelly commented on #614
I concur with @bartenbach, and move to stop this nonsense and purify the keybindings.

To fix these wrongs, you can edit your `sc-im` configuration file `nvim $HOME/.config/sc-im/scimrc` with the following:

[code]

[2022-01-18 03:39] bartenbach commented on #614
At first it's definitely very jarring. I'm used to it now, and I never bothered to remap.

I guess one of the main issues with my original plan would be that '\\' inserts a label, but it will not insert a number which is what '=' is used for. That certainly complicates things.

It's a fantastic program and I use it more and more.  I highly recommend checking out ":help" if you haven't already. It'

[2022-01-18 16:53] freddieventura opened #656 "Typo on the Readme"
So In the Readme you have

gtab12 | go to cell AB12

When it should be

goab12 | go to cell AB12

Thank you for the tool

[2022-01-18 17:01] freddieventura opened #657 "Be abe to Scroll Up/Down the helpsheet with pgUp/pgDown"
It seems that
be abe to Scroll Up/Down the helpsheet with pgUp/pgDown
is not possible , would be nice to have it for easy reference.

Thank you

[2022-01-19 09:13] amalgame21 commented on #656
seems the keymapping changed from "go" to "gt" for goto command.

or you can press "/ab12" and hit enter to goto AB12 cell

[2022-01-19 09:13] amalgame21 commented on #652
Thank you very much!

[2022-01-19 09:37] 097115 opened #658 "A hotkey to insert the current date?"
Probably, a very simple question, just can't wrap my head around it...

So, let's say I want to create a mapping that would populate the selected cell with the current date in `%Y-%m-%d` format. Where do I start?

It seems that `sc-im` alone can't solve this problem, right? So, probably calling `@ext`? or some external script? or `@lua` / lua script? would be a way to go? But how do I combine all

[2022-01-19 12:32] freddieventura opened #659 "Compilation fails when installing with libxlsxwriter"
Hi there,

So I wanted to use your export feature with `libxlsxwriter` , and I installed the library according to their  [tutorial](https://libxlsxwriter.github.io/getting_started.html) , and I even tested it and it is working great. But I cannot compile your program with it.

What I have to do is to uninstall this library to re-compile your program. But it is a pitty to be honest.

[code]
Am I do

[2022-01-19 15:34] 1dancook commented on #658
Check for this entry in the help file (`:help`): `@date({date_expr}, {sexpr})`. (And the context around that entry)

Then for mapping search for `mapping` in the help. Specifically you likely want to use `:nmap`. Write your mappings in your config.

[2022-01-19 15:52] 097115 commented on #658
@1dancook, thanks for your answer!

However, `@date` still needs `{date_expr}`, right?  And if I use `@now`, it will be recalculated in the future.

As I see it, it would be great to employ something like `@ext("date", "+'%s")`here (or may be some external script which just calls `date +'%s'`)  but I just can't make it work... (and probably don't understand how calling external programs is used in

[2022-01-19 19:21] 097115 opened #662 "Can't pass string cell to an external program and get a string in return?"
Let's say I have the following file, `case.sc`:

    set external_functions
    newsheet "Sheet1"
    movetosheet "Sheet1"
    offscr_sc_cols 0
    offscr_sc_rows 0
    nb_frozen_rows 0
    nb_frozen_cols 0
    nb_frozen_screenrows 0
    nb_frozen_screencols 0
    let A0 = 10
    label B0 = @ext("echo",A0)
    label A1 = "AB"
    label B1 = @ext("echo",A1)
    goto B1

Then, while the first `@ext`

[2022-01-20 13:06] andmarti1424 commented on #657
Please update to latest commit and retry.

[2022-01-20 13:06] #657 closed

[2022-01-20 13:08] andmarti1424 commented on #656
Thank you both! Fixed.

[2022-01-20 13:08] #656 closed

[2022-01-20 13:10] andmarti1424 commented on #659
I really dont know. session is declared on line 73 of xlsx.c

73 extern struct session * session;
don't know why you get: "error: ‘session’ undeclared"

[2022-01-20 13:12] andmarti1424 commented on #658
may be adding and @if to not override if date already has been filled?
move this to discussion.

[2022-01-20 13:36] freddieventura opened #664 "Visual-Mode not working the Vim way"
Hi there ,

So I am trying to select a range of fields for what I go to `Visual Mode` and then once on there I'm trying to select a big range of fields so I try by moving from that initial field downwards with `400j` and it is not working (it looks to be working with lower numbers such as `50j` or even 3 digits `100j` but most of 3 digits ones are not working)

Neither using `pageDown` will work o

[2022-01-20 13:40] andmarti1424 commented on #664
Please try redefining macro
#define MAX_MULTIPLIER   100
in macros.h and rebuilding sc-im

[2022-01-20 14:05] freddieventura opened #665 "Autocomplete names when :w myN{tab}"
I'm just missing the feature of pressing Tab , say I got a file `myFileLongName.csv` and I'm on the same path and I want to create an alternative out of the firstone `myFileLongName02.csv` I would just `:w myFile{tab}` but that is not autocompleting.

Thanks

[2022-01-20 14:08] andmarti1424 commented on #665
Please open discussions for feature requests. Already move this to there.

[2022-01-20 14:17] freddieventura commented on #664
I don't understand what you mean by `redefining` ? you mean define it at the end of the same file? because I already have that line

[2022-01-20 14:18] andmarti1424 commented on #664
change that 100 number to the one that you'd like to use as multiplier

[2022-01-20 14:23] freddieventura opened #667 "\" B1 \" B1 \" B1 In different columns (mirroring that field string) buggy"
Is difficult to explain thisone I attach the document I'm working with

https://drive.google.com/file/d/1zTYkhiO94VnfQ0rTuiG9GfNNkKTCVIlr/view?usp=sharing

If you check the second Column , B3 , B4 , B5 and B6 are defined as ` \" B1`  . The problem is that when opening the file , this fields show up to be blank . It seems that performing any operation in the spreadsheet will refresh this such as do

[2022-01-20 14:25] freddieventura commented on #664
Ok thanks, I don't understand why is so low the number , it should be like in `vim` Thank you

[2022-01-20 14:27] andmarti1424 commented on #664
Whats that number in vim then?
Ur the first one to complain about that being low in 8 years or so.

[2022-01-20 14:28] andmarti1424 commented on #667
This is a bug i believe.

[2022-01-20 14:36] andmarti1424 commented on #664
i dont claim it to behave like vim. It has some common things to vim but there are other things that just are not. besides they 2 different animals.

[2022-01-20 14:38] freddieventura commented on #664
`vim-like spreadsheet calculator.` :smile:

[2022-01-20 14:43] andmarti1424 commented on #664
that means it has common things with that text editor.. shortcuts, some modes, etc..
but a value of configuration of a multiplier seems to not be one of those.

[2022-01-20 14:52] freddieventura commented on #659
Are you able to use `libxlsxwriter` yourself in your `sc-im` instance then?

[2022-01-20 14:56] andmarti1424 commented on #659
Yes, I have it working. I use Arch.

[2022-01-20 15:16] freddieventura commented on #659
I'm using `Debian Buster` myself

[2022-01-20 15:34] freddieventura commented on #659
First of all , I don't understand what the guy is trying there (he could be putting the code he modified) , there is no else statement commented (so what am I gonna uncomment)

Neither my error has to do with `lbncurses` it is with `libxlsxwriter`

[2022-01-20 15:40] freddieventura commented on #659
I have tried using his fork but it doesn't work either

[2022-01-20 15:41] andmarti1424 commented on #659
Yes, does not matter the latter. Could be the same problem.
Make sure compilation happens to issue this:
-I/usr/pkg/include  or the path where u have the library headers.

[2022-01-20 15:46] freddieventura commented on #659
Ok thank you very much , it is working . With his fork [sc-im for Debian](https://salsa.debian.org/math-team/sc-im)

[2022-01-20 15:49] andmarti1424 commented on #659
Could you please try with this repo as before but changing the Makefile to his:
`https://salsa.debian.org/math-team/sc-im/-/blob/master/debian/patches/adjust-makefile-for-packaging.patch`

[2022-01-20 16:03] freddieventura commented on #659
It doesn't work the patch

[code]

[2022-01-20 16:10] freddieventura commented on #659
If despite that I go ahead and try to compile this new **hybrid** I get

[code]

[2022-01-20 16:15] andmarti1424 commented on #659
-I/usr/include/lua5.4 is probably not correct..

[2022-01-20 17:23] freddieventura commented on #659
Yeah I made it compile changing it to lua5.2 , but unfortunately it doesn't get `:e xlsx` support

[2022-01-20 17:27] andmarti1424 commented on #659
mmm i cant recall. may be it was with `:w name.xlsx`

[2022-01-20 18:31] andmarti1424 commented on #659
actually u could try both this `:e xlsx name.xlsx` or the above

[2022-01-21 07:20] 097115 commented on #662
OK, it does work via the string concatenation, like this:

    ....
    label B1 = @ext("echo "#A1#" #",0)
    ....

But the more important problem is that string functions aren't called at the startup or via the `@` hotkey, right?

I will close this issue, since the question is resolved in some way, but, as I understand, the related issue  https://github.com/andmarti1424/sc-im/issues/652 still st

[2022-01-21 07:20] #662 closed

[2022-01-21 07:37] 097115 commented on #652
A simple example:

    # This data file was generated by the Spreadsheet Calculator Improvised (scim)
    # You almost certainly shouldn't edit it.

    set external_functions
    newsheet "Sheet1"
    movetosheet "Sheet1"
    offscr_sc_cols 0
    offscr_sc_rows 0
    nb_frozen_rows 0
    nb_frozen_cols 0
    nb_frozen_screenrows 0
    nb_frozen_screencols 0
    format B 45 2 0
    format C 30 2 0

[2022-01-21 14:37] ddrdy opened #668 "Selecting filtered range"
After applying a filter and then selecting the entire range is selected. And we if we edit the selected range the hidden rows are also affected. It would be if after a filter selection is only applied to the visible rows.

[2022-01-23 06:55] 097115 opened #669 "sc.lsetnum can't add number to the cell it was called from?"
Let's say, we have the following `test.lua` script:

    z = 1
    sc.lsetnum(sc.curcol(), sc.currow(), z)
    sc.lsetnum(sc.curcol(), sc.currow() + 1, z)

Next, if we select A0 cell and call the script like this: `=@ston(@lua("test.lua", 0))`, then the expected result should be 1.00 in A0 and 1.00 in A1, is this correct?

However, the observed result is 0.00 in A0 (the exit status? the returned r

[2022-01-23 11:57] 1dancook commented on #669
I was also wondering if this is a bug but perhaps there is something I haven't thought about yet that it's necessary to be this way.

I now wonder if the same behavior is there if trying to set the cell value with sc.sc() but don't have time to try this now.

[2022-01-24 00:12] BioBox opened #670 "Can't remap horizontal scrolling"
I use the Colmak keyboard layout and would like to remap "zh" to "zk" and such:
[code]
The maps involving capitals work fine, but the lowercase "zk" and "zi" do nothing. Changing the first two paragraphs to their "noremap" equivalents doesn't work either.

[2022-01-25 09:24] amalgame21 opened #671 "Can't remap number with direction keys"
Just some minor issue

I used to remap J and K with 10j and 10k in vim like this
[code]

seems it is not working for sc-im
it would be great if it works.

[2022-01-25 12:58] 097115 commented on #671
Well, for this particular case you can just `nnoremap "J" "jjjjjjjjjj"` :) (which will also have a bonus by moving 20 rows down if you press `2J` :)

[2022-01-28 21:23] amalgame21 commented on #671
Thank you!!!!!!!!!!!!!!!

[2022-01-29 22:34] amalgame21 opened #674 "Cannot extract only visible column and rows with some filter rules."
Issue explained in detail in #673
This also related to #653.

Refer to #673
If the filter applied ( in user 097115 case, `:addfilter "#A<25"`)
1-25 row is visible, which is consecutive.
Then the `:e mkd` and `:e csv` output work as expected.
No problem in this case.

But if the filter applied is not in sequence (in my case, `:addfilter "@eqs(@substr($B,1,1),'B')"`)
5, 13, 14, 15, 17, 59 rows is vi

[2022-01-30 13:42] andmarti1424 commented on #671
This is in the doc.
`
Some notes:
The Left and Right sequence of a mapping cannot contain numbers.
`

[2022-01-30 13:42] #671 closed

[2022-01-30 13:46] andmarti1424 commented on #669
yes. seems 't' is a typo there.
Could please type '@' to recalculate with the first script and see if the behaviour is the same? Thanks.

[2022-01-30 13:48] andmarti1424 commented on #648
Yeah. Im not sure about adding this as I said earlier.
Convert this to discussion.

[2022-01-30 13:52] andmarti1424 commented on #670
Actually, this works for me. Anyone else could please try this?

[2022-01-30 13:53] #664 closed

[2022-01-30 13:54] andmarti1424 commented on #659
Could you manage to export it as xlsx btw?

[2022-01-30 13:59] andmarti1424 commented on #655
yes, actually saving filters was not a thing we thought about when the filters were added.
it was more or less an instant filter and left the hidden rows/cols if someone wants to leave them hidden permanently.
move this to a discussion of feature request.

[2022-01-30 14:01] andmarti1424 commented on #654
i know what might be the cause of this..
btw, i cannot even see the character here in the github site :(

[2022-01-30 14:17] andmarti1424 commented on #674
Let me see if I understand the problem. When you apply filters and end up with visible rows that are not consecutive. they are not exported properly.
but when the rows are consecutive, they are? is this the case?

[2022-01-30 16:08] 097115 commented on #669
You mean after...

...press `@` to recalculate? It doesn't change anything :)

[2022-01-31 00:44] 1dancook commented on #670
I tried the zi and zk mappings and that works fine on my end.

[2022-01-31 11:48] freddieventura commented on #659
I would need to use the Debian Salsa fork for that , and thatone is quite an old version , so it is a bit unfeasible for me at this time to use `sc-im`. Good Project I wish you luck carrying on with it , but at the moment I cannot adapt my workflow to it.
Thank you!

[2022-01-31 17:06] amalgame21 commented on #674
yes exactly!!
not only not exported properly, it cannot be copy and paste properly in visual mode too!

[2022-02-01 06:14] BioBox commented on #670
I think I've found what's causing it.

For starters, running `git log v0.8.2..` on a clone of the repo yields **a lot** of commits, so I installed sc-im-git to get the latest commit. When I delete the first two paragraphs in the example I showed it works, but remapping the movement keys will break the "zi" and "zk" mappings, **even when using nnoremap**.

[2022-02-01 14:56] andmarti1424 commented on #670
The other thing to try is to change the
`
nmap "zk" "zh"
nmap "zi" "zl"
nmap "zK" "zH"
nmap "zI" "zL"
`
to the noremap equivalent.

[2022-02-01 15:05] andmarti1424 commented on #674
First thing to discuss in here is:
when you have hidden rows or cols if those should be exported or not to a csv.. Currently, I believe those are exported, and that is why when u apply filters (applying a filter it just hides a row), the rows get exported.

[2022-02-02 00:13] BioBox commented on #670
Putting those two maps at the beginning fixed it, and I didn't have to use any `noremap`s. Thank you!

[2022-02-02 00:13] #670 closed

[2022-02-02 12:42] 097115 opened #678 "sc.lsetform coordinates swapped?"
According to the manual:

        sc.lsetform (c, r, str) - set formula to a cell. Basically it does "let
                                  cell= str"

However, it seems that `sc.lsetform(0, 4, "A0/B0")` sets **E0** instead of **A4** (i.e., `c` and `r` parameters in the function call are swapped :)

[2022-02-02 13:38] andmarti1424 commented on #678
@097115 you are correct! please update to latest commit on dev branch. should be fixed.

[2022-02-02 13:38] #678 closed

[2022-02-02 14:21] 097115 commented on #678
Thanks, @andmarti1424, it works!

On a side note, I also noticed the following: let's say we have this test.lua `$XDG_CONFIG_HOME/sc-im/lua`:

    sc.lsetform(4, 0, "A0/B0")

And then we launch `sc-im`, set A0 to 100, B0 to 25 (or we may skip this, it really doesn't matter), and then on C0 we call our `test.lua` script: `\"@lua("test.lua",0)` (or `=@ston(@lua("test.lua",0))`). Then, the formula wi

[2022-02-02 14:23] andmarti1424 commented on #678
Please open another issue, since that does not seem to have nothing to do with this one.

[2022-02-02 14:28] 097115 opened #679 "Segmentation fault after calling sc.lsetform()?"
Let's say we have this `test.lua` in `$XDG_CONFIG_HOME/sc-im/lua`:

    sc.lsetform(4, 0, "A0/B0")

And then we launch `sc-im`, set A0 to 100, B0 to 25 (or we may skip this, it really doesn't matter), and then on C0 we call our `test.lua` script via `\"@lua("test.lua",0)` (or via `=@ston(@lua("test.lua",0))`). Then, the formula will appear in E0, and everything will look fine.

However, if we choo

[2022-02-02 14:29] andmarti1424 commented on #652
@amalgame21 Please update to latest commit on dev branch and retry.

[2022-02-02 14:43] andmarti1424 commented on #679
[code]

[2022-02-02 14:50] 097115 commented on #652
Don't know if I'm missing the point but let's say we have this simple `sc-im` file:

    # This data file was generated by the Spreadsheet Calculator Improvised (scim)
    # You almost certainly shouldn't edit it.

    set external_functions
    newsheet "Sheet1"
    movetosheet "Sheet1"
    offscr_sc_cols 0
    offscr_sc_rows 0
    nb_frozen_rows 0
    nb_frozen_cols 0
    nb_frozen_screenrows 0

[2022-02-02 14:55] andmarti1424 commented on #652
That seems a different problem and has to do with the `@ext` function particularly.
To be sure.. If you change the `@ext` function to another does it refresh ok?

[2022-02-02 15:00] 097115 commented on #652
For me, it doesn't :(

With this:

    # This data file was generated by the Spreadsheet Calculator Improvised (scim)
    # You almost certainly shouldn't edit it.

    set external_functions
    newsheet "Sheet1"
    movetosheet "Sheet1"
    offscr_sc_cols 0
    offscr_sc_rows 0
    nb_frozen_rows 0
    nb_frozen_cols 0
    nb_frozen_screenrows 0
    nb_frozen_screencols 0
    label A0 = @replace

[2022-02-02 15:02] 097115 commented on #652
@andmarti1424

Sorry, was wrong :) The correct answer is not always :)

With this test file:

    # This data file was generated by the Spreadsheet Calculator Improvised (scim)
    # You almost certainly shouldn't edit it.

    set external_functions
    newsheet "Sheet1"
    movetosheet "Sheet1"
    offscr_sc_cols 0
    offscr_sc_rows 0
    nb_frozen_rows 0
    nb_frozen_cols 0
    nb_frozen_scre

[2022-02-02 15:04] andmarti1424 commented on #652
Please update again to latest commit on dev branch and retry.
Thanks.

[2022-02-02 15:07] 097115 commented on #652
@andmarti1424 Confirm, all three are shown (and `@ext` works, too).

You are a hero, thanks! :)

[2022-02-02 15:08] andmarti1424 commented on #652
Will leave this open for some time though

[2022-02-02 15:17] andmarti1424 commented on #667
I cannot seem to download the file. This might have been fixed with latest commits, however I cannot test it.

[2022-02-02 15:17] #667 closed

[2022-02-02 15:27] andmarti1424 commented on #674
Yeah. We need to find a proper solution to this.
This:
[code]
seems a bug.

[2022-02-02 19:25] amalgame21 commented on #674
I would like to help but I do not have any knowledge in programming...sorry

[2022-02-03 14:12] andmarti1424 commented on #674
Actually i would do the commits to the dev branch and i need ur testing only.. could you help in that?

[2022-02-03 14:25] andmarti1424 commented on #668
What kind of edition are you doing after the filter is applied?

[2022-02-03 15:03] andmarti1424 commented on #669
@097115, please call the lua script like this:
`\"@lua("test.lua", 0)`
as the doc suggests.

[2022-02-03 15:10] andmarti1424 commented on #650
Hello. Whats your `uname -s` in your Debian system? Cause this line should not matter to your system: `else ifeq ($(shell uname -s),NetBSD)` Thanks.

[2022-02-03 15:25] 097115 commented on #669
Yep. You are absolutely right. Sorry for my mistake with that `@ston`, missed forrest for the trees :) (i.e., if we want `@lua` to return a number, we shouldn't convert the returned string to number but instead just code `@lua` script **to actually return a number**, thanks to `sc.lsetnum`.)

There's one caveat, though: what if I want to map a call to this `@lua` script, what the notation would be

[2022-02-03 15:25] andmarti1424 commented on #643
@pjvm742 could it be that this also happen on sc?

[2022-02-03 15:32] 097115 commented on #669
@andmarti1424

It works! Thanks again :)

[2022-02-03 15:32] #669 closed

[2022-02-03 16:22] pjvm742 commented on #643
In sc, when inserting a text value you have to give it in doublequotes,
and an unescaped doublequote inside the value gives a similar error as
in sc-im.

I did find out that you can escape doublequotes with a backslash, e.g.
inserting `"\"what?\""` works and displays as `"what?"`. This also
works in sc-im.

[2022-02-03 16:44] andmarti1424 commented on #679
This is related specifically to `sc.lsetform()`, and perhaps the problem is caused because the evaluation its being called more than once.

[2022-02-03 17:00] andmarti1424 commented on #645
I cannot get it to segfault.
Could you please try may be to put those 3 cells with the formulas above or below the table?

[2022-02-03 17:05] tralce commented on #645
Sincerest apologies, I completely forgot that I opened this issue.

Whatever was the cause of it, updating fixed it. I was running the current AUR version of sc-im (0.8.2), but updating to sc-im-git (0.8.3) causes this to not happen.

[2022-02-03 17:09] 097115 commented on #679
By `sc-im`, you mean? Or by me, a user?

[2022-02-03 17:10] andmarti1424 commented on #679
Sc-im

[2022-02-03 17:11] 097115 commented on #679
I see. Then, can't this also be related by any chance? https://github.com/andmarti1424/sc-im/issues/636

[2022-02-03 17:13] andmarti1424 commented on #679
Yeah. Might be related. Nevertheless this should not segfault

[2022-02-03 17:26] #645 closed

[2022-02-03 17:34] andmarti1424 commented on #653
This should be addressed with latest changes on dev branch.
See ignore_hidden configuration variable on doc.

[2022-02-03 17:35] andmarti1424 commented on #674
This should be addressed with latest changes on dev branch.
See ignore_hidden configuration variable on doc.

[2022-02-03 18:53] mrusme opened #680 "Clipboard: wl-copy / wl-paste"
I've browsed through the issues here, trying to find an example that works but it seems I'm out of luck, hence this issue.

My `~/.config/sc-im/scimrc` looks like this:

[code]

Copying doesn't seem to work unfortunately. I've tried removing the quotes, without success - sc-im will show a syntax error without them.

Any idea how to get this working with Wayland's wl-copy/wl-paste commands? Thank y

[2022-02-03 18:57] andmarti1424 commented on #680
hello. cannot try that exactly since i dont have wayland right now.. if you issue `echo algo | wl-copy -t text`.. does that word get copied to your clipboard?

[2022-02-03 18:58] andmarti1424 commented on #680
i move this to a conversation.

[2022-02-04 05:35] 097115 commented on #674
From my limited testing, it looks really good (and introducing an option is nice, too, can be toggled on the fly if needed).

Thank you, Andrés!

[2022-02-04 12:44] #674 closed

[2022-02-04 12:44] #653 closed

[2022-02-05 08:15] ddrdy commented on #668
For example, selecting a filtered range and delete, or apply a formula.

[2022-02-06 21:26] for-coursera opened #682 "sc-im colors in tmux"
When running sc-im in tmux (v.3.4) I noticed that the grid "disappears" – probably its color is displayed as black? Here are two screenshots, the first one is a [normal sc-im](https://i.imgur.com/yiEybdi.png), and the second one is a [tmuxed sc-im](https://i.imgur.com/FCKfld5.png).

Also, if I redefine a color like this, the default blue to [this one](https://www.color-hex.com/color/3d85c6):

[2022-02-07 11:24] andmarti1424 commented on #682
These tmux issues are not new. Tmux seems to not interpret that terminal code correctly. I'm afraid this has nothing to do with sc-im.

[2022-02-07 11:29] for-coursera commented on #682
@andmarti1424

Thanks. Closing this then?

[2022-02-07 11:58] andmarti1424 commented on #682
I close it. I suggest you contact tmux devs and tell them that the ncurses underline is not working properly on your terminal.

[2022-02-07 11:58] #682 closed

[2022-02-10 23:20] reportaman commented on #605
@andmarti1424 Not sure if this will get resolved anytime soon. In my testing, the problem occurs only when user is defining some color and using it. To bypass the problem, would it be possible to give user the ability to specify 256 colors? Like COLOR0-COLOR255 or COLOR16-COLOR255 given 16 lower colors are already covered? Thanks.

[2022-02-11 00:20] reportaman opened #683 "Feature: add ability to invert default foreground and background"
For base-16 color schemes, it would be very beneficial to have the ability to invert DEFAULT_COLOR for background and foreground. Perhaps, the color names should be DEFAULT_FG, and DEFAULT_BG. That way those colors can be passed to bg and fg respectively to get the desired inverted foreground-background effect.

Thanks :)

[2022-02-11 18:29] andmarti1424 commented on #683
I dont think i understand you. DEFAULT_COLOR its just a way to say "not change the color". See tui.h where they are defined.

[2022-02-11 18:39] andmarti1424 commented on #605
@reportaman I really dont know. As I said before, it seems an ncurses or tmux issue. Certainly not an issue of sc-im.
How could more colors bypass the issue u say?

[2022-02-11 18:56] reportaman commented on #683
@andmarti1424 Found it!!! There is an attribute ``reverse`` that sets ``A_REVERSE`` of ncurses. It works in sc-im.

[2022-02-11 18:56] #683 closed

[2022-02-11 19:11] andmarti1424 commented on #683
I didnt know what u mean. Yes. That works.

[2022-02-11 19:57] reportaman commented on #605
@andmarti1424 The problem occurs only if the user tries to define a color, which corrupts some state somewhere. Currently, one can use 16 colors without the need for defining any (RED, BLUE, etc). If user is able to access the default 256 colors, it will just enlarge their repertoire of colors without running into this issue, which we don't know the origin of.

As a sidenote: After seeing the bene

[2022-02-18 18:46] krossgear opened #684 "Multi-Sheet Functionality Gone After Switching To Latest Stable Release"
Upgraded my system a couple weeks ago and had to reinstall from scratch. Don't know what version I was using before, but I chose v0.8.2 this time and now the ability to create, let alone navigate between, multiple sheets is gone. Even the corresponding keybindings in :help are gone. Also all my existing sc files (which all used multiple sheets) appear to be corrupted and load with a syntax error.

[2022-02-18 18:50] andmarti1424 commented on #684
Multisheet is available since version 0.8.3.
You cannot load files that has multisheet with 0.8.2 version.

[2022-02-18 23:11] krossgear commented on #684
I figured I made an installation mistake somewhere. Latest commit fixed it.

[2022-02-18 23:11] #684 closed

[2022-02-19 22:18] krossgear opened #685 "Can't get alternating column colors"
I am trying to get columns to alternate between BLACK and a user-defined "GREY"; similar to the effect in this [screenshot](https://github.com/andmarti1424/sc-im/blob/main/screenshots/scim6.png?raw=true)

I assumed that could be accomplished with the GRID_ODD and GRID_EVEN color types, but defining those don't seem to have any effect. So I may be misunderstanding what those color codes are for.

I

[2022-02-22 15:42] andmarti1424 commented on #685
Try something like this:
[code]

[2022-02-22 16:00] andmarti1424 commented on #668
Could you retry this using latest commit on dev branch?
Please, also see ignore_hidden configuration variable in doc.

[2022-02-24 23:20] krossgear commented on #685
No change. Appears to assume the background color of the terminal unless manually changed inside a session.

[2022-02-24 23:47] andmarti1424 commented on #685
Could you please try with other terminal? Ncurses doesn't know about .Xresources..

[2022-02-25 00:45] krossgear commented on #685
That was with urxvt. Doesn't have the same effect with gnome terminal. Weird.

In any case, I've solved the problem. Process of elimination revealed that "type=NORMAL" overrides the GRID values. Whenever that's commented out, everything works as expected.

[2022-02-25 00:45] #685 closed

[2022-03-01 19:36] dylanmc opened #687 "Mouse select broken (macOS)"
Mouse select / copy&paste work fine normally, but in sc-im, when I try to select text, I get a message in the status line `Cannot handle mouse scroll. Please update your ncurses library`

According to `brew info` I'm running `ncurses: stable 6.3 (bottled) [keg-only]`, which is indeed the latest stable release. Puzzling.

(macOS, multiple versions, reproduced in Terminal.app and Alacritty)

[2022-03-01 19:45] andmarti1424 commented on #687
You cannot use mouse to select text under sc-im. Mouse its used for selecting a cell or scrolling the spreadsheet.

[2022-03-01 20:35] dylanmc commented on #687
Well that explains it! Is there a way to get a cell's contents into the system clipboard?

[2022-03-01 20:43] andmarti1424 commented on #687
Yes, with ccopy command. It's explained on the doc.

[2022-03-01 21:03] dylanmc commented on #687
Aha - I stopped using the `homebrew` version of sc-im a while back when the screen flashing thing happened, but I didn't properly configure that part of the `Makefile` in my build. Thanks for the pointer!

[2022-03-01 21:04] #687 closed

[2022-03-01 21:12] dylanmc opened #688 "`:ccopy` on an over-full cell copies the ***'s instead of the cell contents"
Just figured out `:ccopy` (thanks, Andrés!), but ran into this error. Paste after `:ccopy` of a cell that overflows its bounds, so the view is full of `****`, pastes a bunch of asterisks instead of the cell's actual contents.

[2022-03-06 19:29] krossgear opened #691 "Spreadsheet Won't Open, Throws Color Error Instead"
Was messing around with the colorscheme today and now my spreadsheet refuses to open. It throws an error saying-

"One of the values specified is wrong: GREY. Please check the values of type, fg, and bg."

The only thing I changed were were the RBG values for GREY. The syntax looked right, so I replaced all references to GREY in the colorscheme with standard colors and commented the GREY definitio

[2022-03-06 19:35] andmarti1424 commented on #691
You have a typo with ovnoremap.
To detect where the error is, I would start from an empty scimrc and start adding lines from your current scimrc.

[2022-03-06 20:00] krossgear commented on #691
Update

The syntax error was due to a fault keybinding that somehow creeped in, so that explains that. Tried removing the entire  colorscheme from the scimrc, but I still get that error message. Found out that the file will eventually load, it just takes ~10 seconds.

[2022-03-06 20:03] andmarti1424 commented on #691
When you say 'fault keybinding', your referring to the typo I just told you?
When you say 'I still get that error', what error is it?

[2022-03-08 11:02] krossgear commented on #691
Yes, "faulty keybinding" refers to the typo. I didn't see your response until after I posted.

The error whenever I try to launch my spreadsheet- "One of the values specified is wrong: GREY. Please check the values of type, fg, and bg."

I tried launch it from an empty scimrc, but I still kept getting the same error message. So I eventually decided to just export the data into a new spreadsheet si

[2022-03-13 20:50] SeerLite opened #692 "Is it possible to map keys in EDIT MODE?"
Hi! This is an amazing spreadsheet editor, thanks for making it :)

Is it possible to map keys in EDIT MODE (the mode that one enters when pressing `e`)?

I use a non-standard keyboard layout and remap the Vi directional keys on most programs I use, and I'd like to be able to do that in edit mode too. I couldn't find anything in the `:help` page about this.

Thanks!

[2022-03-15 17:43] andmarti1424 commented on #692
No. I am afraid mappings are not supported in EDIT_MODE. Patches are always welcome though!

[2022-03-15 17:45] #688 closed

[2022-03-18 19:50] #691 closed

[2022-03-18 22:46] mhmdanas commented on #625
This sounds pretty similar to https://github.com/andmarti1424/sc-im/issues/606.

[2022-03-19 17:04] oaklandgit opened #695 "Autocalc not working as expected after inserting rows"
Wonderful piece of software! But I am encountering the following issue:

**Steps to reproduce:**
1. Confirm that `autocalc=1` in settings
2. Enter values into 3 cells (e.g. A0`10`, A1`20`, A2`30`)
3. On 4th cell enter formula `=@SUM(A0:A2)`. Cell will show `60` as expected
4. With `or` (open row) command, add a cell between A1 and A2 and enter a value (so now you have e.g. `10`, `20`, `25`, `30`)

[2022-03-19 17:10] spearman commented on #695
I came to make the same issue. I haven't used sc-im much so maybe I am missing something, but when I use `fcopy` to copy a formula, only the value of the original cell will update when changing inputs. If I close the file and reload, then it works as expected (changing inputs updates the values in the copied formula cells).

[2022-03-19 20:48] oaklandgit commented on #695
+1 @spearman. I need to close and reload for the calculations to take effect.

[2022-03-22 06:46] jonnieey opened #697 "Nocurses stuck"
sc-im ran with  options --nocurses  option get stuck if  nocurses=0 is set in the configuration file.

[2022-03-23 10:27] josephgerth opened #698 "Copy/Paste from select mode causes crash"
I was trying to copy and paste some cells within a spreadsheet. I selected the range AF2-AF11, and was going to paste that into C2-C11. Copying and cutting operate as expected.

When I go to paste the program crashes. I get the error
`corrupted size vs. previous size zsh: IOT instruction (core dumped) sc-im FILENAME`
whether I had used copy or paste.

[2022-03-23 11:57] andmarti1424 commented on #698
Could you please share your spreadsheet so I can check it out?
Can you reproduce it from a fresh start after loading the file?
Thanks.

[2022-03-23 12:30] andmarti1424 commented on #697
I believe you're overriding the `nocurses=0` when you set it with `--nocurses..`. It is also probably not stucked, but waiting for your commands. What are you trying to do btw?

[2022-03-23 12:33] andmarti1424 commented on #695
@oaklandgit The result in my case gets updated correctly to 85. What version of sc-im are you using?

[2022-03-23 12:55] jonnieey commented on #697
Yeah, at first it go stuck but now its segmentation fault.  I'm tring to learn how to use sc-im without curses and also create more sc-im tutorials

[2022-03-23 13:02] jonnieey commented on #697
![2022-03-23-160040](https://user-images.githubusercontent.com/47189744/159705216-b94da731-ecb1-4f65-a826-f886401e7ab4.png)

[2022-03-23 13:05] andmarti1424 commented on #697
could you share your scimrc file and the file your loading (if there is one)? thanks.

[2022-03-23 13:11] jonnieey commented on #697
I'm not opening any file but here's my config file.

![2022-03-23-161013](https://user-images.githubusercontent.com/47189744/159707100-92a4600c-e9f8-44de-be7f-e86b5c22ecf8.png)
![2022-03-23-161031](https://user-images.githubusercontent.com/47189744/159707117-93084070-8ebe-4977-9a63-2dc6efefc6b1.png)

[2022-03-23 13:34] andmarti1424 commented on #697
Yes. Thats the problem. The `set nocurses=0` in the scimrc overrides (and collides) with the `--nocurses` passed as argv.
Your saying do not use ncurses interface and later you say "use it".

May be the solution would be to not allow setting that in the scimrc it if its already passed as argv..
Cause sc-im first get to know the argv parameters.. and then reads the config file.

[2022-03-23 14:02] jonnieey commented on #697
Well, generally command line argument  overide configuration options. Yeah, I think command line args should take preceedence over config options.
should read config file first (the default), then if cmd args are provided overide those argurments in the config file by the cmd arg, else use the config file args.

[2022-03-23 14:04] andmarti1424 commented on #697
I commited a change to dev branch to now allow overloading nocurses that way. It should not crash anymore.

[2022-03-23 16:33] andmarti1424 commented on #695
Seems outdated. Could you please retry with the version on dev branch? I could not managed to reproduce it with it. Thanks.

[2022-03-23 17:02] oaklandgit commented on #695
OK thanks -- I'm not well-versed on how to configure a Makefile for my system so I may wait until the newer version is available through Homebrew.

[2022-03-23 17:39] andmarti1424 commented on #650
Hello Debian folks. You still have problems when building sc-im manually? Please report. Thanks.

[2022-03-23 21:26] ItzSwirlz commented on #650
Hi, I'm sorry. I just saw the response, I've been busy. We actually patched the makefile to work with us and now sc-Im is in Debian but we mostly got rid of the if statements and cut it out to work with us

uname should just be like 'Debian'

[2022-03-28 01:34] reportaman opened #699 "Feature: drop down menu like in excel"
Recently a friend showed me a feature of excel that is pretty nifty, and saves time for a class of sheets. One can define drop down menu for cell, and click on a cell to show the possible valid values. Perhaps this can be implemented using json. For instance, user will be able to specify a directory to lookup, and that directory will have jsons that just have ``"key":"value"`` pairs. If a user cli

[2022-03-29 12:13] 097115 opened #700 "Mappings break if { or } are present?"
Seems that mappings stop after `{` or `}` (if those are present, obviously).

To reproduce:

1. set these test mappings:

        nnoremap "ir" "<HOME>}<RIGHT>"
        nnoremap "il" "<HOME><RIGHT><LEFT>{<RIGHT>"

2. launch `sc-im`
3. enter some string in the first column
4. move cursor away
5. press one of these set mappings
6. observe the cursor not moving after aligning the string in the first

[2022-04-04 23:37] andmarti1424 commented on #698
@josephgerth, can you share your spreadsheet? Thanks.

[2022-04-04 23:38] andmarti1424 commented on #695
@oaklandgit , could you test this with a newer version? If that's the case, please report. thanks!

[2022-04-04 23:43] andmarti1424 commented on #700
@097115 you are right! this is so strange. will try to figure it out.
thanks for reporting it.

[2022-04-04 23:45] andmarti1424 commented on #700
found the cause.. line 1138 of cmds.c that contains.. `cmd_multiplier = 0;`
if it will work if you comment that line.

[2022-04-04 23:56] andmarti1424 commented on #699
hello. this is a really specific case. dont know if a lot of people would use something like this.
i know of fzf. cool tool btw.
move this to Discussion -> ideas / FR so others can give their opinions.

[2022-04-05 04:38] 097115 commented on #700
@andmarti1424

Can confirm, this solves it! :)

[2022-04-05 12:57] oaklandgit commented on #695
@andmarti1424 Could you provide steps for building from dev branch for M1 macs? Or update Homebrew with the latest? (Sorry -- I am still learning how to build from source.)

[2022-04-05 14:27] andmarti1424 commented on #700
I leave this open until i can commit the fix.

[2022-04-06 01:25] oaklandgit commented on #695
Thank you @andmarti1424 . This version (main branch) seems to work!

[2022-04-06 01:25] #695 closed

[2022-04-06 01:43] oaklandgit opened #702 "Default color scheme not as expected and unable to change"
Hi,
The default color scheme looks like this:
<img width="686" alt="image" src="https://user-images.githubusercontent.com/421615/161878486-5ce41d3c-9fd0-47c4-baa6-0f62380c1ced.png">

which seems incorrect, as help looks like:
<img width="686" alt="image" src="https://user-images.githubusercontent.com/421615/161878532-15640982-4bc8-4473-accc-d43e2411172b.png">

I tried changing the scheme with:
`:c

[2022-04-06 01:48] andmarti1424 commented on #702
That's strange. Please try replacing WHITE with DEFAULT_COLOR.. Please check syntax with one of the files inside themes directory..

[2022-04-06 06:54] 097115 opened #703 "Multiline mappings?"
With a long mapping, for the sakes of readability, it would be great to have a opportunity to split it over several lines, like Vim can :)

May be something like this:

        # insert date in the first column
        nnoremap "id" "<HOME>
                     \ =@ston(@ext(\"date +'%s' #\", 0))<CR>
                     \ :valueize<CR>
                     \ :format \"d%Y-%m-%d\"<CR>"

We can't d

[2022-04-09 04:40] 097115 opened #704 "'sk'/'sh' mappings don't work?"
Is it just me, or the `sk`/`sh` mappings (shift the current cell or range up / left) don't really work?

For me, they just delete the contents of the cell(-s) in question (`sj`/`sl`, on the other hand, work just fine).

(I'm on the latest dev branch.)

[2022-04-09 13:20] andmarti1424 commented on #704
Its working fine for me. Anyone has a problem with those commands?
Just in case, check you dont have a mapping with those..

[2022-04-09 14:52] 097115 commented on #704
I've even renamed the whole `~/.config/sc-im` folder before testing :). But yes, that was my first thought, too. (BTW, something like Vim's `-u` command line switch, allowing `-u NONE` would be sort of handy, what do you think?)

Anyway, I've built 352e425 from the scratch just in case. And with empty `~/.config/sc-im` run it like this:

        ./sc-im test.sc

Here I immediately press do `:w`, a

[2022-04-09 16:04] andmarti1424 commented on #704
It's shifting it correctly when you issue 'sk'. If you put something in B2 before doing it, you'll notice it

[2022-04-09 16:20] 097115 commented on #704
Oh, I see.

If we move down or to the right, then a blank cell is inserted because we have the space to move / to shift the current cell. But if we move to up or to the left, where the space is limited by the boundaries of the sheet, we actually delete the current cell because we can't move it anywhere without affecting other cells.

Interesting :) (don't know if this is a well known feature of Ex

[2022-04-09 16:20] #704 closed

[2022-04-09 16:43] andmarti1424 commented on #704
That is exactly what "shift cells" do in Excel.

[2022-04-12 02:37] ei14 commented on #698
@andmarti1424

I reproduced a similar bug. sc-im appears to crash when putting the contents of a visual-mode yank when doing so would update the result of another cell.

Upon opening sc-im, I typed the following:

`=@sum(A1:A1)<Enter>l=1<Enter>vlyhjp`

I use `fish`, so my error message is different:

`fish: Job 1, 'sc-im' terminated by signal SIGSEGV (Address boundary error)`

[2022-04-12 17:06] andmarti1424 commented on #703
I am afraid no. Move to discussion with other feature requests..

[2022-04-12 17:06] andmarti1424 commented on #702
@oaklandgit, Could you check this?

[2022-04-12 17:14] andmarti1424 commented on #698
I am afraid I am not able to reproduce the error @ei14.
For instance with this file:

[code]
after opening it, if you press `vkhyhjp`... does it crash as well?

[2022-04-12 18:20] ei14 commented on #698
@andmarti1424

I got a syntax error when opening the file. After pressing escape precisely 8 times, the file opens.

Pressing `vkhyhjp` does not cause a crash with the file you provided.

Since you couldn't reproduce my error, I'll get specific about my setup.

* Latitude E6330 01
* Intel i7-3520M (4) @ 3.600GHz
* Arch Linux 5.16.10-arch1-1
* dwm
* sc-im version 0.8.2

I reproduced my issue in 2 t

[2022-04-12 18:53] andmarti1424 commented on #698
Do you get the crash with v0.83-main?

[2022-04-12 18:53] andmarti1424 commented on #698
@josephgerth what version of sc-im are you using?

[2022-04-13 13:49] oaklandgit commented on #702
Hi @andmarti1424 I tried and there was no effect. I'll keep investigating on my end.

[2022-04-13 14:02] andmarti1424 commented on #702
That's weird. Could you please try with another terminal..?

[2022-04-15 11:59] andmarti1424 commented on #593
Sorry. I still owe you an answer for this

[2022-04-16 00:32] 1dancook commented on #702
Possibly related #627

[2022-04-16 00:55] oaklandgit commented on #702
Yes @1dancook. My issue is the same as #627.

I also only have the problem when building from source. The homebrew version looks fine.

[2022-04-16 00:57] andmarti1424 commented on #702
@oaklandgit do you use the same virtual terminal that @1dancook uses?

[2022-04-16 01:36] oaklandgit commented on #702
Yes. My original screenshot is from Kitty. And I also see blinking in Mac OS Terminal:

Uploading Screen Recording 2022-04-15 at 6.34.11 PM.mov…

[2022-04-16 10:04] 1dancook commented on #702
I basically concluded that this had nothing to do with my terminal but it was because of how Scim was being built. I don't know enough to diagnose it though. But I concluded it was also nothing to do with scim itself. I think when brew builds it, brew has the right packages for it. When you build it yourself, something isn't quite right.

If someone could try to build scim on MacOS that doesn't ha

[2022-04-16 12:10] andmarti1424 commented on #702
Perhaps it has to do with the version of ncurses used for the building

[2022-04-17 12:16] kalyan860 opened #707 "How do I autofill dates like in excel/libreoffice calc?"
I tried doing this using fill function using the numerical value of current date as the initial value and then incrementing it by 1 in the subsequent cells and then converting the resultant numbers to date format. But this is not working.

Is there an easier or better way?

[2022-04-18 09:11] p-m-brown commented on #253
sorry, what does "linking against ncursesw" mean? ie how do you solve the problem described above?

[2022-04-18 18:34] 257 commented on #20
looks cool!

[2022-04-18 18:36] 257 commented on #20
@andmarti1424 any patches i can try?

[2022-04-18 22:31] bartenbach opened #708 "Segfault opening Excel spreadsheet"
![image](https://user-images.githubusercontent.com/572337/163887571-0d88928f-2639-4c13-991a-307a9e5a9b78.png)

I compiled libxml2 and libzip, as previously I was getting a message that support was not compiled in. I recompiled, but I get a segfault upon open.

Happy to help troubleshoot

[2022-04-19 11:54] andmarti1424 commented on #707
Hello. Try increasing it by 86400, instead by 1. That's the number of seconds in a day.

[2022-04-19 11:54] andmarti1424 commented on #708
hello. what version are you using? could you please share your file? thanks.

[2022-04-19 11:58] #700 closed

[2022-04-19 12:14] #620 closed, assigned to nobody

[2022-04-19 13:39] kalyan860 commented on #707
But then I have to rewrite the function everytime I went to add new dates?
Is there a shortcut to copy formula of above cell or to autofill down a column upto the visual selection? Thanks

[2022-04-22 03:55] kalyan860 opened #710 "How do I name cells?"
How do I assign variable names to cells like in excel or libreoffice?

When using forumlas, it is not readable to see I7, C13 etc instead of readable names like price, discount etc?

[2022-04-22 12:17] andmarti1424 commented on #710
I am not aware of sc-im having this. nor in sc.

[2022-04-23 17:41] bartenbach commented on #708
sc-im - version 0.8.3-main

i don't see where github will let me upload a file. it says i can "drag and drop" but I don't have a GUI-based file manager, so that's not something I can do.

[2022-04-23 17:42] bartenbach commented on #708
[data.xlsx](https://github.com/andmarti1424/sc-im/files/8547718/data.xlsx)
Oh, I can click that bar. I had no idea that was a clickable object.

[2022-04-27 14:58] freeit opened #711 "Move range"
How can I move a source range to a destination range like the original sc command "rm"?  Especially with its bevaviour:

"... This differs from deleting a range with rx and pulling it back in with pm in that any expressions that  reference a cell in the range to be moved will reference the cell at its new address after the move."

[2022-04-27 18:56] andmarti1424 commented on #711
Have you checked doc/help?
This might help:

![image](https://user-images.githubusercontent.com/9466161/165599524-8e777968-dc42-41cd-9366-772e9d33a3e0.png)

[2022-04-27 18:59] andmarti1424 commented on #708
Hello. Where do this file come from? Excel, LibreOffice, Openoffice...?

[2022-04-27 19:06] andmarti1424 commented on #707
You can select the cell that hast the formula and yank it with `yy`.
Then select the desired range in visual mode and press `P`..
The formula should be pasted over the selected range.

[2022-04-27 19:09] andmarti1424 commented on #668
@ddrdy could you check this out?

[2022-04-27 19:21] freeit commented on #711
Yes I have checked the docs, but didn't find a corresponding command. If you think the "Pc" command is doing the right thing, I think you're wrong, because this command adjust the cell references from formulars inside the range of cells not the references from cells outside the range to be copied. Let me show it in an example:

Following spreadsheet:
A0=10
A1=A0

Now if you move cell content A0 to

[2022-04-27 19:31] andmarti1424 commented on #711
Oh yes. Now I get what you're trying to do. We might have missed adding that during clean up.

[2022-04-27 19:35] freeit commented on #711
It would be great, if you could add this feature/command again, because it's absolutely necessary if you want to rearrange your sheet.

By the way, I like your new "sc" (sc-im) very much. Really good work.

[2022-04-27 19:37] andmarti1424 commented on #711
Yep. Actually I was checking out how much trouble would be..

[2022-04-28 00:32] andmarti1424 commented on #711
[711.patch.txt](https://github.com/andmarti1424/sc-im/files/8578608/711.patch.txt)
Please feel free to try this patch over dev branch.

[2022-04-28 10:25] freeit commented on #711
Your patch works for references in plain cells. It doesn't work for references for example in functions (see attached video; it is  showing how it works correctly in sc). Another point is the non-atomic operation. In sc the rm command is an atomic operation (like shown in the attached video). In the patched sc-im it is not. You have to do the range move in two separate operations (dd and Pm). Afte

[2022-04-28 10:49] andmarti1424 commented on #711
Will check out the references within functions. I'm aware of the two steps needed for the movement. It's that way on purpose. It should not stay in erroneous state between the two steps, cause the references are not lost when you yank the original range.

[2022-04-30 13:36] bartenbach commented on #708
I think it's Excel. I got it from someone else.

[2022-04-30 17:52] Bellavene commented on #301
Same on macos + iTerm

[2022-04-30 17:56] andmarti1424 commented on #301
Ncurses might not mind on your locale/alt

[2022-05-04 20:00] Alessandro-Barbieri opened #713 "rename LIBDIR"
Please rename LIBDIR to something else to avoid confusion since it's used for the tutorials

[2022-05-06 05:37] cantcuckthis opened #714 "Compilation errors about zip functions when building with xlsx support"
[code]
I use sc-im-0.8.2 but the same issue happens also if I clone the source from github.
I'm on gentoo.
I use this: https://gitweb.gentoo.org/repo/proj/guru.git/tree/dev-libs/libxlsxwriter/libxlsxwriter-1.1.4.ebuild?h=dev&id=fd50b5c39e810314d0fcb852064b52cbe684a1ad to install libxlsxwriter.

[2022-05-06 15:57] kalyan860 commented on #710
Can you please add this feature? It makes formulas more readable instead of typing B3 etc.

[2022-05-06 21:12] andmarti1424 commented on #714
Please check you have libzip installed. It shows undefined reference to all of its functions..

[2022-05-07 05:18] cantcuckthis commented on #714
I have libzip 1.8.0 installed.

[code]
with these use flags:
[code]

[2022-05-07 05:56] cantcuckthis commented on #714
After my comment it dawned on me that I wasn't building libxlsxwriter with dynamic libraries. Adding -DBUILD_SHARED_LIBS="ON" to cmake args fixed the issue.

[2022-05-07 05:56] #714 closed

[2022-05-10 18:51] nwotero commented on #708
Just saw the same thing on a fresh install, commit b1f338f1579ff780f7b833e4f221ea1b6fc62c3e.

Followed the instructions here: https://github.com/andmarti1424/sc-im/wiki/Ubuntu-with-XLSX-import-&-export

I had this working on another computer with an older install, might be worth bisecting

[2022-05-10 23:20] neo1312 commented on #256
It will be aweso multiple sheets

[2022-05-23 10:24] bzp99 commented on #627
I solved this problem by setting `TERM` to `xterm` or `tmux` instead of `xterm-256color` or `tmux-256color`, without having the set any colour options.

[2022-05-24 13:46] andmarti1424 commented on #708
Please feel free to apply this patch..
![image](https://user-images.githubusercontent.com/9466161/170048574-7ea86e46-b7e5-4c8f-b9b2-64d34c7d3a85.png)

[2022-05-25 03:01] BioBox opened #718 "Compilation Fails due to YACC issues."
I'm using bison version 3.8.2, and it appears that it's generating function prototypes that conflict with other headers in the code when compiling version 0.8.2. This is the stderr from make:
[code]
This also occurs when compiling under the latest commit. Please help.

[2022-05-31 05:54] DanielDowling1 opened #721 "date-time formatting"
SC-IM has a number of numeric features that produce date-time values, like "@now". Is there a way to format these numerical results such that they actually appear in a human-readable format?

[2022-05-31 13:54] andmarti1424 commented on #721
Please take a look at DATES INPUT section in documentation.

[2022-06-02 10:58] DanielDowling1 commented on #721
Ah, after re-reading it and a bit of experimentation, I found the command I needed was `:format "d%d/%m/%Y %H:%M:%S"`

[2022-06-02 10:58] #721 closed

[2022-06-02 11:06] DanielDowling1 opened #722 ".xlsx export moves dates back by one day."
Just exported a spreadsheet from .sc to .xlsx and it set all the dates back by one day. Not sure if it's because of my locale. I'm in Australia (GMT+8) and use `%d/%m/%Y` date formatting. Opening the exported file in Excel reveals all cells containing dates showing dates a day before the date shown on sc-im.
Attached example files
[Sample.tar.gz](https://github.com/andmarti1424/sc-im/files/8823304

[2022-06-14 17:48] ItzSwirlz commented on #718
Did you try installing gnuplot? Maybe try using bison or other things or try updated versions of Yacc/bison

[2022-06-14 17:50] ItzSwirlz commented on #602
As of when 0.8.2 was packages and pushed to Debian unstable, and now at the moment Ubuntu Jammy 22.04 and Kinetic Kudu (devel branch) 22.10, in order to make things work I actually patched/adjusted the makefile a bit.

https://salsa.debian.org/math-team/sc-im/-/blob/master/debian/patches/adjust-makefile-for-packaging.patch

[2022-06-16 00:28] BioBox commented on #718
I tried installing gnuplot and got the exact thing from a clean make. Bison version is still 3.8.2 on Arch.

[2022-06-20 19:42] SethMilliken commented on #593
Any updates on this? Is there at least some way to manually force all `@if` expressions to be re-evaluated for a sheet?

[2022-06-20 19:52] SethMilliken opened #723 "`@fixed` function undocumented"
In the help file, the examples for `@sum` make use of a function `@fixed`, but that function is not documented. What does this function do?

[2022-06-22 12:40] andmarti1424 commented on #593
I'll try to look at this next weekend..

[2022-07-05 10:04] Kreijstal opened #726 "use HAVE_STRUCT_TM_GMTOFF"
Trying to compile in mingw results in

[code]

[found something similar](https://github.com/fmtlib/fmt/issues/2670)

[2022-07-05 13:08] andmarti1424 commented on #722
@DanielDowling1 please try re setting this configuration variable:

'tm_gmtoff' [default -10800 seconds]
set gmtoffset used for converting datetimes to localtime.

[2022-07-05 13:11] andmarti1424 commented on #723
@fixed come from old sc. Haven't test it on sc-im. According to sc doc, seems its like '$'.

[code]

[2022-07-05 13:12] andmarti1424 commented on #708
@bartenbach @nwotero Could you test it?

[2022-07-05 13:13] #698 closed

[2022-07-11 18:32] Kreijstal commented on #726
apparently it doesn't work on Mingw but on MSYS since this uses posix, so libraries such as sys/time.h aren't available in just unix

[2022-07-18 20:06] JamieSlome opened #727 "Trying to get in touch regarding a security issue"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@itzswirlz) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a secu

[2022-07-18 20:09] andmarti1424 commented on #727
Hello. Please take a look at the file named BUGS. Thanks!

[2022-07-19 09:52] JamieSlome commented on #727
@andmarti1424 - appreciate it 👍

You can find the report directly here:
https://huntr.dev/bounties/39169aba-22d4-4297-b7bd-5fd1edb95ee0/

It is currently private and only accessible to you, as you are the owner of the project :)

[2022-07-25 20:40] Matthew-Tate-Scarbrough opened #728 "Can I remap a given key or key sequence to another?"
In Excel, LibreOffice Calc, and Google Sheets, after entering a value, upon striking return, it enters the value and moves one cell to the right.  Is there any way I can replicate this?

    :nnoremap/:inoremap "<Return>" "<Return>l"

does not seem to work and there is no `map` command.  Am I missing something by any chance?

Thank you.

[2022-07-25 20:56] andmarti1424 commented on #728
Hello. Please take a look at newline_action configuration setting in the doc..

[2022-07-28 20:13] michaelskyba commented on #718
(I'm not BioBox but I'm having the same problem)

To use yacc, you uncomment ``YACC = bison -y`` and change it to ``YACC = yacc`` in the Makefile, right? Doing that, I still get
[code]

[2022-07-28 20:27] andmarti1424 commented on #718
Im using bison 3.8.2, and building completes without problem in my arch system.
My generated y.tab.h does not have that definition of yyerror either.
Please try building that y.tab.h manually with bison 3.8.2, and see if you still have that declaration of yyerror in your y.tab.h.
I attach my y.tab.h just in case
[y.tab.h.txt](https://github.com/andmarti1424/sc-im/files/9213996/y.tab.h.txt)

[2022-07-28 20:38] michaelskyba commented on #718
(I've also been using bison 3.8.2)

Your y.tab.h is different from mine:
[code]

I'm not familiar with bison but from reading looking at the documentation on their site, I think the command would be ``bison -yd gram.y``, which again generates a y.tab.h with this yyerror.

[2022-07-28 21:22] michaelskyba commented on #718
I'm able to get it to compile if I do a lot of manual removing in response to these errors, but that doesn't solve the root of the problem

[2022-07-28 21:26] andmarti1424 commented on #718
I dont know why bison in your case generates the y.tab.h with yyerror and the yylex, while that does not happen in my case.
not a bison expert neither.

[2022-08-08 16:09] andmarti1424 commented on #728
@Matthew-Tate-Scarbrough , could you manage to try it?

[2022-08-08 16:16] andmarti1424 commented on #726
I see. Not planning on getting rid of its use though.

[2022-08-08 16:16] andmarti1424 commented on #722
@DanielDowling1, could you try it?

[2022-08-09 02:00] DanielDowling1 commented on #722
Thanks for your help. I don't really understand why, but the command that ended up working was `sc-im --tm_gmtoff=115200 [filename]`
With the GMT offset set to +32 hours, I can export to .xlsx without time shifts.

[2022-08-09 11:39] #722 closed

[2022-08-10 16:01] jbrubake commented on #659
I am having the same issue on Fedora. I was able to successfully build using the following fix. I'm not positive it isn't buggy as my C is a bit rusty. And the fix makes about as much sense to me as the compilation error in the first place. There is an identical assignment of `session->cur_doc` on line 192 and that doesn't throw an error

Add the following line just prior to line 569 (where the er

[2022-08-24 05:10] sagsai opened #731 ""go" does not work after remapping "o", cannot remap anything else to "go" either!"
I am using Colemak keyboard layout so remapped n-e-i-o for cell navigation.
[code]
At this point I expected "go" to work ("goa12"), but it didn't. Instead of going to the cell 'a12' it is going to the last visited cell. I thine "go" is translated to "gl" automatucally due to the mapping, which is unexpected.

I tried many other mappings/combinations none of which work:
[code]
So is this a bug or a

[2022-08-24 11:55] andmarti1424 commented on #731
I see. You can just
```nmap "gt" "go"```
it would work, until  you map "o" after it..

[2022-08-24 13:26] marcusmueller opened #732 "List Fedora COPR installaiton method in Readme"
Seeing there's brew /… instructions, maybe add
[code]
as installation instructions for current Fedora Linuxes.

[2022-08-24 14:57] sagsai commented on #731
Unfortunately mapping "o" to something else cannot be avoided on colemak. So the following mappings don't work for sc-im.
[code]

Have been able to change mappings using similar commands for neovim and ranger succussfully for colemak, this is the first time they didn't work.
Thanks.

[2022-08-24 15:05] Hirschiii opened #733 "Need help with lua macro"
Hi, I recnetly started with sc-im but coud not get the lua macro to work. When I open the example file ([lua example folder](https://github.com/andmarti1424/sc-im/tree/main/examples/lua)) I dont  see anything happening (like that the scrit get executet). I also tried to change the script, but the test.sc didn't changed.
When I tried to execute the macro.lua file by itself, I got this message:

`lu

[2022-08-24 15:58] andmarti1424 commented on #732
Hello. Thanks for the details.
These instructions change constantly on each system. So please feel free to add it to a wiki page, along with Debian/Ubuntu/FreeBSD/OpenBSD wiki pages.

[2022-08-24 15:59] marcusmueller commented on #732
Thanks! Will do.

[2022-08-24 15:59] #732 closed

[2022-08-24 16:01] andmarti1424 commented on #732
Thanks to you.

[2022-08-26 12:58] earthshrink opened #734 "Invalid row format error reported on folded text columns"
Per help file, run `sc-im --quit_afterload --nocurses --export_txt examples/sc/wraps.sc`.
`Invalid row format` gets reported on stderr.
Wondering if this exception is an obsolete internal consistency check.

[2022-08-26 13:07] andmarti1424 commented on #734
Hello. An internal check seems wrong.

[2022-08-26 13:15] andmarti1424 commented on #734
@earthshrink Please update to latest commit on dev branch and retry. Thanks.

[2022-08-26 13:56] earthshrink commented on #734
Error message not seen with the dev branch. However, a different error is exposed on both main and dev branches with this single-cell sample file:
[code]
The text export produces
[code]

[2022-08-26 14:45] earthshrink commented on #734
I had
[code]
in my `scimrc`. Removing `scimrc` gets the correct output like you have. Issue occurs with `overlap = 1`.

[2022-08-27 00:11] bitigchi opened #735 "i18n support"
It would be great to be able to translate sc-im to different languages.

I am planning to have a take at this in a couple of months with `gettext`, any pointers in advance are appreciated.

[2022-08-27 11:02] andmarti1424 commented on #735
What would you like to translate? The doc file? We don't have menus in here

[2022-08-27 11:50] bitigchi commented on #735
For starters, `sc_info`s and `sc_error`s would suffice (plus intro screen, mode names etc.). Documentation would definitely follow.

[2022-08-29 11:23] earthshrink commented on #734
I just found a way to get a non-interactive but full colour rendering on the terminal, bypassing the above issue.
[code]

[2022-08-29 14:52] EdwardWong1994 opened #736 "Some issues for new users"
Hello, thanks for this wonderful plugin and i am new to this plugin and just finish the tutorial for sc-im. During doing the tutorials, i met across some issues. Can you help me out?
- When i try the `\"@if(C0>20,"strong","weak")`(Assume C0=50) , it did give me `strong` but when i change `C0=10`, and when i want to update it using `ini recalc`, the `strong` will not change to `weak`, do you know w

[2022-08-31 19:38] andmarti1424 commented on #736
Hello.
a. `@` key will recalculate. It should automatically refresh the value though.
b. `goc4`
c. examples\sc\sort.sc

[2022-09-01 03:41] EdwardWong1994 commented on #736
Thanks for your reply. I have readed the help file for sc-im.  I still have one problem related with plotting.

I want to plot the first column and third column and i change the `plot_line` file here.  When i use `:plot line` to plot figure, it gives me x range is invalid.   If i commented out `plot filename using 1:3 with linespoints` , it works but just give me the plot between first and second

[2022-09-02 02:22] EdwardWong1994 opened #737 "can not map <C-q> to ":cellcolor" function"
Hi

I try to map `<C-q> ` to a function `:cellcolor "bg=CYAN fg=BLUE"` using `vnoremap "<C-q>" ":cellcolor\"bg=CYAN fg=BLUE\"`, but it won't work.
The below figure is the mapping result when i type `:showmaps`

 Can you give me some hints on this? Much thanks

![Xnip2022-09-02_10-21-40](https://user-images.githubusercontent.com/96438179/188045022-78242572-f02b-40f2-a0ed-d963005af90d.jpg)

[2022-09-02 05:05] 1dancook commented on #737
It seems as though some CTRL+<something> combinations just don't work. I don't know if this is a bug type of issue or it may be because some key combinations are reserved for other things. Evidence for the latter is that I was able to get your formula working with <C-t> but not with <C-q> or <C-v>.

It looks like you are also be missing a space after `:cellcolor`. Compare:

- `vnoremap "<C-t>" ":c

[2022-09-02 13:06] EdwardWong1994 commented on #737
That is very kind of you to share your keybindings. thanks

[2022-09-04 03:51] EdwardWong1994 opened #738 "Is there a way to transverse row into column?"
Hello,

I am wondering if there is a function that can tranfer data in one row into column.  I haven't found such things in manual.

Looking forward to your reply

[2022-09-22 14:11] earthshrink opened #739 "Please show last active sheet on open"
## Synopsis
Currently sheets seem to be written to the `.sc` file in the order they were added, and there is not yet a way to re-order the sheets in the UI. As a result, opening the spreadsheet always results in the last added sheet being brought up, regardless of which sheet the user was working on.
For example, say user was preparing annual accounts. User may start by creating the summary sheet

[2022-10-01 17:09] master-of-m opened #741 "I volunteer to create a logo for this app"
Respond if interested

[2022-10-03 12:21] andmarti1424 commented on #741
Hello. Yes, sure. What is your idea for it?

[2022-10-03 13:18] Friptick opened #742 "How to select and sum a range?"
Hello, thanks for your work. I am not a spreadsheet user and this will be the dumbest question you have ever heard. But I promise have just spent an hour with the docs and I'm not getting anywhere.

**In my sheet, I want to see the sum total of the values of a bunch of cells from the same column.** The cells are not contiguous, i.e. they will be, say, B2,B3,B6,B7,B8.

How would I go about this, wi

[2022-10-03 13:24] andmarti1424 commented on #742
Hello. I think you can select them using a mouse (if you have). Or you can insert the cells manually.
Both in insert mode.

[2022-10-03 14:04] Friptick commented on #742
Thanks. Was hoping to stay on the keyboard. It would be great to have some kind of temporary buffer for marking cells with the keyboard. The file manager Ranger has `ya` to "yank add" files and `uy` to wipe the buffer, for example.

Then the sum of the buffer could be displayed in the status bar, for instance. The objective is just to make it simpler to do on-the-fly throwaway calculations. I beli

[2022-10-03 14:41] andmarti1424 commented on #742
You can enter insert mode with =, then C-v to enter visual mode to select the cell or range of cells, then C-o and C-k to begin selection and confirm selection, and then ENTER twice to copy the cell or range to formula. Cannot remember why two ENTER pressings were needed but the rest is on the doc file.

About the syntax, this would achieve what you want:
=C30+@sum(C32:C37)
or
=@sum(C30)+@sum(C32:

[2022-10-03 17:45] andmarti1424 commented on #742
The dual ENTER pressings is a terminal issue with C-k. It happens to me inside tmux. It might not happen to you.
You can also just:
[code]

[2022-10-03 19:02] master-of-m commented on #741
Hi, I'm happy you like the idea.
I was thinking about something very simple like a generic terminal logo with a spreadsheet on it. I also like the concept of BASH logo very much, where they represent the terminal with a "box" shape.
If you have ideas feel free to share, the app is yours.
Also I can provide you in the next few days with a quick sketch of the logo I'm thinking about.
Greetings!

[2022-10-03 19:07] andmarti1424 commented on #741
Sure. That sounds great.

[2022-10-03 20:38] Friptick commented on #742
Works. With a single ENTER and the syntax you outlined. Something tells me I'm gonna be coming back to this post when I need to do it again next month. :)

Thanks for your patience and your work on this project. Closing.

[2022-10-03 20:38] #742 closed

[2022-10-04 10:23] sisrfeng commented on #297
I hate dark theme!!!!!!!!!!!!!!!

[2022-10-04 12:08] andmarti1424 commented on #297
Do not feel alone. A lot of people do.

[2022-10-04 14:01] sisrfeng commented on #297
![image](https://user-images.githubusercontent.com/53520949/193839828-c405c40d-b975-4382-a552-99d63b1b6449.png)

my config:

[code]

[2022-10-04 17:28] rako233 opened #743 "Using NONE_COLOR for a theme is not possible"
According to the linked help file in the README.md there should be a NONE_COLOR which would support alternative colors on columns, but this color isn't existing in the parser.

[2022-10-04 17:31] andmarti1424 commented on #743
You can use alternative colors in columns with HEADINGS and HEADINGS_ODD I believe.

[2022-10-04 17:33] rako233 commented on #743
But this example in the README.md isn't working because bg can't be set to NONE_COLOR

![2](https://user-images.githubusercontent.com/10392436/193887235-817a968f-8e5f-4d20-b754-42d727a0ac8e.png)

[2022-10-04 17:53] andmarti1424 commented on #743
I really cannot recall my config when taking that screenshot

[2022-10-04 19:29] rako233 commented on #743
I exchanged in color.c  the dict value for DEFAULT_COLOR with NONE_COLOR and the striped design worked, when assigning DEFAULT_COLOR to bg for STRG.
What I don't get, when I'm adding the lines for NONE_COLOR the get() for the dict return 0.

[code]

[2022-10-05 16:53] master-of-m commented on #741
These are some ideas me and my girlfriend (mostly her) produced. Don't worry about the mess, we'll fix it. The big icons were the first ideas when we didn't bother to check if the icons were suitable to be small as icons should be. Tell me what you like and what you don't and we're gonna refine it!
[sc-im copy.pdf](https://github.com/andmarti1424/sc-im/files/9717540/sc-im.copy.pdf)

[2022-10-05 17:28] andmarti1424 commented on #741
I really liked these:
![image](https://user-images.githubusercontent.com/9466161/194121308-1ff8a2c5-0acd-4f8d-9665-557d358d3eda.png)

[2022-10-06 10:50] earthshrink opened #744 "Inadvertent conflicting saves to same file should be prevented"
If one opens a file in Vim while it's already open in another window, Vim alerts and limits the secondary open to `readonly`. This protects the user from inadvertently overwriting the file from a stale session, for example, after going home and remoting into work, and losing unsaved edits. The new multi-sheet capability makes it easier to fail to notice that the same file might be open in another

[2022-10-06 13:21] andmarti1424 commented on #744
actually this was included on sc-im. may be its not working properly..

[2022-10-06 13:24] andmarti1424 commented on #744
do you have these set in your Makefile?
[code]

[2022-10-06 13:38] earthshrink commented on #744
I missed that. Thanks!!

[2022-10-06 13:38] #744 closed

[2022-10-07 20:06] master-of-m commented on #741
Ok, we are gonna polish them! I hope to be able to provide you the final files in the next few days.
If you have requests or advice for the logos feel free to tell me!

[2022-10-07 20:12] climbTheStairs commented on #646
I believe this issue has been resolved, and it can be closed, right?

[2022-10-11 07:33] nwotero commented on #708
Can do.

On Tue, Jul 5, 2022, 09:13 Andrés Martinelli ***@***.***>
wrote:

[2022-10-12 16:27] master-of-m commented on #741
![scim1-01](https://user-images.githubusercontent.com/91836055/195397495-4424d1ec-ae6e-42ce-a1f2-1f1f0b2115cb.png)
![2-01](https://user-images.githubusercontent.com/91836055/195397524-bce14d75-9cfd-46a5-bdf5-473324cc3249.png)
![3-01](https://user-images.githubusercontent.com/91836055/195397537-f8fea44f-1772-4794-9468-03f2cc94ffcc.png)
![4-01](https://user-images.githubusercontent.com/91836055/1953

[2022-10-12 17:00] andmarti1424 commented on #741
Thanks! Can you add the cell to the first logo?? Check the dev branch. i have added to the front page.

[2022-10-12 18:09] master-of-m commented on #741
![scim1-01](https://user-images.githubusercontent.com/91836055/195416594-80245ce8-bb4b-4651-8d0e-f89cb82f7394.png)

Oh sorry we forgot, here it is!

[2022-10-12 18:21] andmarti1424 commented on #741
Thanks. Updated the logo in front page!

[2022-10-12 20:36] andmarti1424 commented on #741
closing. thank you once again. merged to dev branch. will soon be in main.

[2022-10-12 20:36] #741 closed

[2022-10-18 20:00] nkh opened #745 "General question; using sc-im in a script"
Hi, thank you for keeping Sc-im alive, we need more TUI programs.

I'd like to, from a bash script, create a file, open it in sc-im, then read what modification were made by the user. I can't seem to find documentation about that, do you have any you can link to?

Cheers, Nadim

[2022-10-18 20:15] andmarti1424 commented on #745
Hello. No. There is no track of that. I dont know whats your final goal but you might try to activate autosave, try to find the temp file and read it..

[2022-10-19 11:50] nkh opened #746 ""syntax error" message should contain more information"
I'm writing a sc file by hand, the error message would be much much more helpful if the line containing the error was also listed.

[2022-10-19 11:52] nkh opened #747 "Remove "press Enter to return" message"
The message is displayed when running :!load

It doesn't add anything in this case, could it be possible to pass an argument, alt set an option so the message is not displayed?

[2022-10-19 11:56] nkh opened #748 "set the cursor at the intersection of the headers"
I use a terminal emulator, if I have multiple panes open with scim in them it becomes difficult to see which one is currently in focus, this could of course be made more evident in the emulator but that forces the eye to shift focus from the spreadsheets.

a block cursor with a user set color would be great and if not set would not change anything to how it looks today

[2022-10-19 12:19] nkh opened #749 "freezecol can't be used in sc file"
"freezecol A" generates an error message 8without any more information), freezecol in command mode works as expected

The column name has a '!' appended, would setting the name of the column with '!' in the sc file work and how?

[2022-10-19 12:23] andmarti1424 commented on #748
i really dont get what the problem is. dont you see the current cell in the header?

[2022-10-19 12:31] andmarti1424 commented on #747
Im afraid not. Dont you need to press a key to go back to spreadsheet?

[2022-10-19 12:51] andmarti1424 commented on #746
Try changing gram.y:1241 line to this:
`sc_error("syntax error: %s", line);`
and  rebuild.

[2022-10-19 12:53] nkh commented on #749
1 :freezecol A
  2 format A 57 0 0
  3 format B 9 0 0
  4 format C 9 0 0
  5 format D 9 0 0
  6 label B0 = "tag_uno"
  7 label C0 = "tag_deux"
  8 label D0 = "tag_drei"
  9 leftstring A1 = "ftl.png"
...

that also gives a syntax error, I compiled the latest version 2 hours ago

[2022-10-19 12:57] nkh commented on #748
![screenshot_2022-10-19_14-56-13](https://user-images.githubusercontent.com/45409/196697021-3c913b2c-55e9-4924-b233-039bbe311acb.png)

If there are multiple sc-im running it's difficult to see whicg one is in focus

[2022-10-19 12:58] nkh commented on #745
It's OK for me to wait for the user to quit the application so I can read the data from there, I just haven't seen what

[2022-10-19 12:58] #745 closed

[2022-10-19 13:07] andmarti1424 commented on #749
the freezecol command is for use in command mode.
you should be creating sc files manually.
the sc command for freezing is like this:
![image](https://user-images.githubusercontent.com/9466161/196699489-99495a0d-9eaf-4c81-9826-38e5364e4128.png)

[2022-10-19 13:08] andmarti1424 commented on #748
this is out of sc-im scope.
if you are using tmux you can highlight the pane..

[2022-10-19 13:16] nkh commented on #746
About a zillion times better. for 2 zilion time better a line number is needed.

that may be more difficult though

[2022-10-19 13:21] andmarti1424 commented on #746
im afraid you'll have to get along with having it a zillion times better only..

[2022-10-19 13:24] nkh commented on #748
You decide the scope but as a user I find it less than optimum to not show that the application has focus.

when I closed the above panes I tried to guess which on I was closing and missed every time.

[2022-10-19 13:25] nkh commented on #747
Ok, pity.

[2022-10-19 13:25] #747 closed

[2022-10-19 13:27] andmarti1424 commented on #749
what do you mean? as i said earlier..
freezecol command is for being used on COMMAND MODE.
not inside a file.

[2022-10-19 13:29] nkh commented on #746
A zillion times is not that bad at all, and it already helped fix one issue.

I tried to add yylineno but the parser groaked on an undefined variable. This article may be of help if you have the inclination to add it later.

https://stackoverflow.com/questions/66864607/yylineno-undeclared-when-using-flex-and-yacc

[2022-10-19 13:37] nkh commented on #748
What would happen, in ncurses, if you put a block cursor? would curses handle it?

I usually go for ANSI codes so I can't help with ncurses unfortunately.

[2022-10-19 13:41] nkh opened #751 "syntax error in sc-im/examples/sc/defines.sc"
opening the file displays this error, can't tell you the line.

syntax error: define "dos" 125

[2022-10-19 13:41] andmarti1424 commented on #749
what do you mean?

![image](https://user-images.githubusercontent.com/9466161/196707511-27f2c70f-a300-44f5-86d8-c414e350ad70.png)
.......
![image](https://user-images.githubusercontent.com/9466161/196707691-c59b49c5-6b13-46ba-9223-4620453ab87b.png)

"having freezecol available in the files too." -> what do you mean?

[2022-10-19 13:44] andmarti1424 commented on #748
i think ncurses handles block cursor..
may be you can try replacing
`curs_set(1);`
lines in tui.c
with
`curs_set(2);`

[2022-10-19 13:44] nkh commented on #749
The documentation says "freezecol", nowhere in the documentation can we find "freeze" and the explanation that it should be used in sc files rather than "freezecol". That could be clarified in the documentation.

the alternative is to accept "freezecol" in the sc files and not need any documentation change.

[2022-10-19 13:45] nkh commented on #751
followed by:
syntax error: let C6 = dos

[2022-10-19 13:46] andmarti1424 commented on #749
because freeze is just the way it gets saved in the files. its not for user use.

[2022-10-19 13:48] nkh opened #752 "Documentation: can't find how to set column and row text and change their color"
Could you please point at where in the documentation this is explained?

The project page first screenshot shows an example. Is the sc file for the example included in the source (I didn't find it)

Cheers

[2022-10-19 13:51] andmarti1424 commented on #751
i believe that is an sc file example. it might work on sc. but defines in sc-im doesnt work that way... (reading gram.y definition right now)

[2022-10-19 13:51] nkh commented on #748
the change made no difference, maybe the cursor need to be placed somewhere visible first

[2022-10-19 13:54] andmarti1424 commented on #752
you cannot change the text. for colors, see color COMMAND MODE command in doc:
![image](https://user-images.githubusercontent.com/9466161/196711025-fd22d07c-1cc8-4c9e-a7a3-15204fbd9c1c.png)

you also have themes in the themes folder.
cant recall about that screenshot though

[2022-10-19 13:54] andmarti1424 commented on #748
yes it does. if you are in COMMAND MODE or INSERT MODE you'll see the block cursor.

[2022-10-19 13:59] nkh commented on #752
I was wrong about the header text change, since there was no '!' after the 'A' I thought i was custom names.

it would be good to include the example in the distribution.

![screenshot_2022-10-19_15-57-47](https://user-images.githubusercontent.com/45409/196712198-51378fc3-4798-4c31-b5da-5fac205d2086.png)

[2022-10-19 14:15] nkh commented on #749
IMHO, it would be nice if there was no difference because it allows users to do something in scim and then look at the generated file.  And maybe it's simple than maintaining two sets of code and documentation.

There was a section about using scim in non-interactive way but it's short and my, maybe wrong, reflex was to look in the sc files, specially as they aren nice clear text files (what a bre

[2022-10-19 17:40] andmarti1424 commented on #746
Done commit with the change to dev branch

[2022-10-19 17:40] #746 closed

[2022-10-19 17:40] andmarti1424 commented on #739
Merged!

[2022-10-19 17:40] #739 closed

[2022-10-19 17:51] andmarti1424 commented on #752
Thanks @nkh. I dont have that file at hand Im afraid..

[2022-10-19 17:51] #752 closed

[2022-10-19 21:31] fourjay commented on #682
FWIW....
If I run TERM=xterm-256color sc-im inside of tmux, REDEFINED colors work fine.

[2022-10-20 07:50] nkh opened #753 "quit if ctrl-C is pressed multiple time or too many errors"
if a sc file contains many errors, ALL errors are shown, which may take time to get out of.

either handle ctrl-C to quit after a few presses or. might be simple, display that too many errors were display and stop showing errors

[2022-10-20 07:53] nkh opened #754 "Accept single quoted string in sc file"
label A0 = "xxxx" is legal but label A0 = 'xxxx' is a syntax error.

life is hard, quoting is harder, let make quoting simple

[2022-10-20 12:01] nkh opened #755 "Running a script when a cell is changed"
I generate this scim file, thank for the help) and I'd like to run a script every time a cell is changed. is it possible? I couldn't find a clear description in the manual, I may have missed it.

![tmsu_scim](https://user-images.githubusercontent.com/45409/196942527-e5763215-e6d7-436e-a877-979d9a09cf76.png)

[2022-10-20 12:02] nkh opened #756 "Autofit: automatic on cell change"
is it possible to set an option on the spreadsheet so that every time a cell is changes all the cells are autofit-ed

[2022-10-20 12:04] nkh opened #757 "Limiting range of cell values"
Is it possible to set a range of valid values and have scim validate new values? Or possible to assign a script that would check, and set, the value when it's changed?

[2022-10-20 12:32] nkh opened #758 "Increment visual range"
incrementing a cell value work on the current cell but not on the visual range

[2022-10-21 19:17] andmarti1424 commented on #758
yep. that seems the case. please open a discussion for feature requests. thanks.

[2022-10-21 19:17] #758 closed

[2022-10-21 19:18] andmarti1424 commented on #757
please open a discussion for questions. regarding your inquire you may be want to try triggers.
i dont use them but there are some examples on the doc.

[2022-10-21 19:18] #757 closed

[2022-10-21 19:23] andmarti1424 commented on #749
Yes indeed. May be some other documentation can be added on a separate file for advanced users that want to use scripting.
may be those people just read gram.y but .. anyways PR are welcome!

[2022-10-21 19:23] #749 closed

[2022-10-21 19:24] andmarti1424 commented on #755
Again, please refer to triggers.

[2022-10-21 19:24] #755 closed

[2022-10-21 19:27] andmarti1424 commented on #748
Did you try show_cursor configuration variable?

[2022-10-21 19:27] andmarti1424 commented on #748
Take note that NORMAL_MODE does not show cursor.

[2022-10-21 19:29] #751 closed

[2022-10-21 19:32] andmarti1424 commented on #754
This comes from old sc (made in the 80's)..
Dont know if this can be done easily.
Dont know if its worth the effort as well. You're the first one to complain that " is hard.
Again PR are welcome!

[2022-10-21 19:32] #754 closed

[2022-10-21 19:34] andmarti1424 commented on #756
dont think so. but there's a normal_mode command for that: 'aa'
maybe you can write a trigger to do that. But..
I wouldnt go that way.

[2022-10-21 19:34] #756 closed

[2022-10-21 20:08] andmarti1424 commented on #753
Im not sure about what other people think about this behavior that you suggest.
In case you want to implement it this would be the patch:

In file.c
![image](https://user-images.githubusercontent.com/9466161/197280115-a9fc7bf2-a7c9-440a-a6dc-2e595453c091.png)
in main.c
![image](https://user-images.githubusercontent.com/9466161/197280166-0dc3c919-040a-41e0-afa2-d1fd2a35486f.png)

dont hesitate to o

[2022-10-21 20:08] #753 closed

[2022-10-21 20:09] andmarti1424 commented on #753
![image](https://user-images.githubusercontent.com/9466161/197280502-2cacec46-2e09-4856-aac2-d781a119f748.png)

[2022-10-22 07:32] nkh commented on #753
thought  about this a bit more, I still think that one should not to press a key to go over multiple errors in the file. If it's not implemented yet, I think all those load errors should end up in some sort of log and when the second ctl-C is pressed the name of the log file should be displayed.

handling double ctl-C seems to be standard in quite a few application, I think it's a good solution.

[2022-10-22 07:47] nkh commented on #748
it was the mode I would have like to see it otherwise the patch worked in the other modes

[2022-10-22 08:00] nkh commented on #749
Asking for development documentation PRs is a bit asking for the impossible. That would mean spending an enormous  amount of time trying to figure out things when you have already spend the time. Code PRs and always simpler than documentation PRs.

But all my questions revolve around documentation and also around the lack of examples. In complex applications like sc-im that unfortunately means a l

[2022-10-22 13:52] nkh opened #759 "ANSI codes output to stderr"
sc-im outputs ANSI codes to stderr, is it the intent, and could you please tell me why, or not intended?

codes I got:
^[[?1049h^[[22;0;0t^[[1;24r^[(B^[[m^[[4l^[[?7h^[[24;1H^[[?1049l^[[23;0;0t^M^[[?1l^[>

[2022-10-23 12:23] andmarti1424 commented on #759
it shouldnt. may be it has something to do with ncurses. but with the information you provide.. we cannot really say much

[2022-10-23 12:27] andmarti1424 commented on #748
As I said earlier NORMAL_MODE does not show cursor.
Again, terminal emulators already handle this issue.

[2022-10-23 12:27] #748 closed

[2022-10-23 12:29] andmarti1424 commented on #736
Sorry. I am afraid  I am no gnu plot expert. This could be better answered on a gnu plot forum.

[2022-10-23 12:29] #736 closed

[2022-10-23 12:32] andmarti1424 commented on #737
@EdwardWong1994 May be your terminal does not allow to use CTRL-q..
I dont see it reserved for its use on sc-im

[2022-10-23 12:32] #737 closed

[2022-10-23 12:33] andmarti1424 commented on #735
Hello @bitigchi . Do you have any progress on this?
Thanks.

[2022-10-23 12:34] #727 closed

[2022-10-23 12:34] #726 closed

[2022-10-23 12:35] #734 closed

[2022-10-23 12:38] andmarti1424 commented on #733
Please try with a simpler script like this:
`sc.lsetstr(1,1,"Some text")`
to try to find where the problem really is..

[2022-10-23 12:48] andmarti1424 commented on #718
@BioBox Could you retest this? May be something changed on your system after some time..

[2022-10-23 14:02] bitigchi commented on #735
Hello @bitigchi . Do you have any progress on this?
Thanks.I have some progress but nothing ready to commit yet. This is on my to-do list still, I will get back to it eventually.

[2022-10-23 21:06] nkh commented on #759
sc-im 2>log will give you anything that's written to stderr, where it's coming from I have no idea.It looks like the first codes send to setup the screen.

[2022-10-25 06:58] nkh opened #760 "Request: Add "cq" command"
A "cq" command that quits without saving and sets the exit code makes it much easier to integrate sc-im in workflows.

example, one I am working on now, from a file manager use sc-im, if the user changes her mind she can quit and the workflow gets interrupted.

example of workflows I'm working on:
- manipulate TMSU tags for selected files
- set file attributes for selected files
- present preview

[2022-10-27 02:20] bitigchi commented on #735
I've fiddled with it some more, but my lack of knowledge of C compiler ways really slows me down. Whilst implementing the feature is dead simple (just include `libintl.h`, set a macro and enclose the strings, then create a .pot file with `xgettext`), I get all sorts of compiler nagging on my macOS machine, and it will take some time for me to educate myself on C and various stuff.

[2022-10-30 19:17] marrs opened #762 "Segfault possibly caused by empty cell"
I'm afraid this is a pretty lousy bug report as I'm no longer able to reproduce the error to provide any information, but it's serious enough that I feel I ought to at least report it.  I'm using the last stable release v0.8.2.

I was editing my accounts on a spreadsheet with a number of columns containing date, text, and numeric data.  At some point, I managed to engineer a situation in which, ev

[2022-10-30 19:52] marrs commented on #762
I managed to reproduce the issue.  This is the smallest I can get the file.

[code]

So I guess all that theorising above was wrong.  It appears to be the `@sum` function that's causing the problems.  If you change the range from `B0:B2` to `B0:B1`, then the issue goes away.

With the above file, you should be able to cause a segfault in 2 ways:

1. copy 2 lines (not including the cell with the fo

[2022-10-30 20:00] andmarti1424 commented on #762
Im using the dev branch. I cannot get it to segfault with any of the 3.

[2022-10-31 00:45] marrs commented on #762
I'll close the issue then.  Looks like you've probably fixed it.  I'll try and find the time to check myself on main and get back to you if I reproduce it again.

Thanks for your time

[2022-10-31 00:45] #762 closed

[2022-10-31 00:55] andmarti1424 commented on #762
Probably. But probably not. Please test it on main or dev branches and report back. Thanks!

[2022-11-01 12:40] alexmyczko opened #763 "new release of sc-im within two months?"
The last release is more than a year old, a lot has happened with the code commit wise,
is there a chance for a new release?

[2022-11-01 12:53] andmarti1424 commented on #763
Actually there is. I'm working on it for some time now

[2022-11-04 15:32] michaelskyba commented on #718
(I'm still getting the same error)

[2022-11-05 04:27] halloleo opened #764 "Running sc-im examples/sc/sheets/a.sc shows "syntax error""
When I run

    sc-im examples/sc/a.sc

I get sc-im displaying the sheet in my terminal as I'd expect it.

However when I try another sheet

    sc-im examples/sc/sheets/a.sc

I get an empty sheet and at the top the text (in red): `syntax error`

Only when I then hit the `Return` key three times I get to the proper sheet.

Why's that? Is this expected, do I do something wrong or is this a bug?

**

[2022-11-09 19:15] swindlesmccoop opened #767 "Entire Window Flashing"
I'm not sure how to describe it, so I just recorded a video: https://youtu.be/yufWiBUPYg8
I'm using DWM on X11 on OpenBSD. This is inside of a VirtualBox virtual machine as well. Not sure if the same error persists on real hardware, no current way to test.

[2022-11-13 21:16] andmarti1424 commented on #767
It probably has something to do with the X11 or ncurses on that particular system. Could you please test it outside X? And/or with another graphics card on the VM?

[2022-11-20 10:01] Jomy10 opened #768 "suspended after pressing control + Y"
When I press `ctrl + Y` in sc-im, it exits with the following message:

[code]

[2022-11-22 13:43] andmarti1424 commented on #768
It seems to react as like pressing C-z.
I dont know what your system is but this is not related to sc-im I am afraid.

[2022-11-22 15:07] Jomy10 commented on #768
I was going to say maybe it’s related to the fact that I use azerty, but the Y key is the same key on azerty as on qwerty.

[2022-11-24 03:22] sisrfeng commented on #324
I put  `int format C 14 2 0` in my sc-im/scimrc, but there will be "syntax error" when opening sc-im.  How to set it in the sc-im/scimrc?

[2022-11-25 12:19] andmarti1424 commented on #324
@sjmulder That syntax is indeed not valid.
Havent thought about setting format in scimrc file but try it without `int`

[2022-11-25 13:20] sisrfeng commented on #324
In sc-im/scimrc:

I. they cause syntax error:
1.  format 'C 14 2 0'
2.  format "C 14 2 0"

II. Nothing happen:
format C 14 2 0

[2022-11-25 13:39] andmarti1424 commented on #324
like this `format C 14 2 0`
in your .config/sc-im/scimrc file.

[2022-11-26 12:07] sisrfeng commented on #324
Nothing happen in sc-im  with this in  .config/sc-im/scimrc:
`format C 14 2 0`

[2022-11-26 14:14] andmarti1424 commented on #324
@sisrfeng it does for me. Please double check sc-im is reading your scimrc file properly

[2022-11-26 18:19] kingjon3377 commented on #759
I got similar output (a bunch of ANSI codes, and `>` once I stripped them out using `ansifilter`) when I redirected stderr to a file, but I noticed that the file was empty until I told `sc-im` to quit. So I would guess it's something in the ncurses terminal-cleanup routines?

[2022-11-26 18:38] kingjon3377 commented on #764
I see a similar error when viewing a file I'd created in the original SC, but not in a different SC file. The one obvious difference I see when I open the two files up (that seems likely to be relevant) is that the file triggering the error has `set numeric craction = 2 rowlimit = 9999 collimit = 6` as its first nonempty non-comment line, while the file that doesn't cause the error doesn't have an

[2022-11-28 02:26] sisrfeng commented on #324
lines before or after  `format C 14 2 0` are working, but `format C 14 2 0` not:
![image](https://user-images.githubusercontent.com/53520949/204178340-e2fe8ec1-bb32-4cc2-94a7-43680644c816.png)

![image](https://user-images.githubusercontent.com/53520949/204178217-2e33faa0-bc2f-4c49-abae-5d817b272add.png)