[2020-09-15 14:17] sanjeebSubedi opened #453 "cannot load a file."
I am trying to open a 460kb file on sc-im but it doesnot load. Sc-im opens up but its all dark screen.
I can open smaller files with no problems.

[2020-09-15 20:30] 0xtrzy commented on #446
feel free and make your code working
**Your example not working !**

[2020-09-15 20:37] andmarti1424 commented on #446
I am already free thanks God. The example works.

[2020-09-16 09:22] fab1an2 commented on #446
I ask: HOW compiling example
please tell me how compiling it?

[2020-09-17 15:08] andmarti1424 commented on #446
I just build the gui example. What I did was:
Leaving gui.c and gui.h files INTACT, you copy them to src directory, You then delete tui.c and tui.h files. Modify Makefile to include gtk headers of course.
Remove references to tui.c and tui.h and replace them with gui.c and gui.h.
It might have worked better just to replace tui files with gui files. Havent tried it.

Minimal changes to some files t

[2020-09-17 16:03] wimstockman commented on #446
Maybe create a separate branch with the gui example ?

[2020-09-17 16:05] andmarti1424 commented on #446
The thing is I am not going to work in a gui. That is why you dont already see a branch for it.

[2020-09-17 16:09] wimstockman commented on #446
Yeah, I know the purpose of scim is just that it is a console application :-)

[2020-09-17 16:12] andmarti1424 commented on #446
Dont get me wrong. It would be great for us to have an option to use it with gtk interface as well.
I dont know much of gtk.
I did such example so someone with experience in gtk could spend a couple of hours and write a useful gtk gui.
Its mainly rewrite that gui.c file.

[2020-09-18 12:18] fab1an2 commented on #446
1. Please add in Makefile section example-tui
2. I talk about terminal code

[2020-09-18 17:14] andmarti1424 commented on #446
I dont understand you. You mean this???

[code]

This is just linking to gtk library just as you would do for a simple "hello world" in gtk..

[2020-10-06 11:44] bataliero opened #454 "EDIT MODE undo"
Hi,
I extensively use EDIT MODE for text editing. Vast majority of commonly used bindings are available and work perfectly. Is there a plan to implement undo and redo 'u'/c+r for EDIT MODE?

If it is not planned soon, in some spare time I might be able to contribute. Any tips where to start would be much appreciated.

Thanks

[2020-10-06 12:34] andmarti1424 commented on #454
Hello. If you confirm the edition. It leaves EDIT MODE and enters NORMAL MODE. Then you can undo/redo the changes to cells done in edit mode.

[2020-10-06 17:49] bataliero commented on #454
Hi, I am aware that it possible, but that seems too "coarse-grained". I am looking for a undo/redo in EDIT MODE.

[2020-10-06 17:53] andmarti1424 commented on #454
No undo there. Just between editions.
If you ask me, cant imagine a use case for that.

[2020-10-12 21:56] kofm commented on #291
Also, if you write a number i.e. 0.2542 but the format is 10 2 0 in the CSV only 0.25 is saved
So e.g. if you open a CSV file with numbers at the fourth decimal, the number is formatted and then if you save the file, the third and fourth decimal are lost in the process.
Is there any workaround instead of manually adjusting the numbers formatting at each open?

[2020-10-16 00:42] yamanq opened #457 "Cursor position adds empty rows or columns to csv files"
## Compiler used and options (although Makefile would be welcome)
Used the Makefile that was provided with the project and the standard options for building on Linux.

## Actions done
1. Open sc-im with either a csv file or just a blank spreadsheet
2. Add values to the spreadsheet
3. Move the cursor past last data value in either direction (rows or columns)
4. Save back to csv file

## sc-im behav

[2020-10-18 16:27] c-nv-s commented on #329
@wimstockman I saw you mention you might work on a feature to pass contents of a worksheet to an external command and back into the worksheet. Is that not what @ext function does already? Or did you mean something similar to what I described in this old feature request but with the string in the cell being the including the actual external command too?

[2020-10-21 19:50] wimstockman commented on #329
Hi, thanks for mentioning this.
The function @ext sends data to a script and the result gets back to one cell. Hence it's a formula.
I wrote the command :!r {cmd}which reads data from a script into multiple cells like the cpaste command works
and I'm currently working on a :!rw {inrange} {cmd} {outrange} command which can read a range of data and paste it to an external script and reads back the d

[2020-10-22 11:42] c-nv-s commented on #329
That makes sense, thanks for the explanation. Both !r and !rw are very useful features. If you could look at my old feature request that would be amazing. I am not able to contribute any code but it would help me out immensely

[2020-10-22 13:28] earthshrink opened #459 "Freeze range does not work in visual mode"
The `doc` lists Normal Mode command `fa` for freeze selected area, but this never works. The `:freeze <range>` command in Command Mode works, so only the visual mode code for handling freeze, similar to yank etc., is missing.

[2020-10-24 19:42] kourtbailey commented on #452
Rather than implementing "3-dimensional references" within a sheet, perhaps it would be both simpler and more general to implement "external references" to other sheets?  Then rather than a "workbook" concept, users could store the related sheets together in a directory.

[2020-10-26 07:59] denisov0gleb opened #460 "SC-IM on Windows"
First of all, thank you for your project, it looks nice!

### Question:
Is it possible to build SC-IM on Windows?

First look to **Makefile** shows that it is strongly depend on *nix architecture.

Also there are not listed any *Dependencies* in **Readme** file :((

[2020-10-27 12:12] Smingvin opened #461 "How do I divide two numbers in sc-im?"
How do I divide two numbers in sc-im? Documentation has all kinds of functions such as sin, cosin, log and so on, but I can't figure out how to perform a simple division?

[2020-10-27 12:35] Smingvin commented on #461
Never mind. It's just =A/B.

I was confused by the documentation because it has @sum and @product so I was expecting a similar operation for division... but the @ is for ranges I suppose.

[2020-10-27 12:35] #461 closed

[2020-10-27 14:58] kourtbailey commented on #452
to further clarify, a user could use screen/tmux to manage multiple instances of `sc-im`.  This is how external references are handled in a major commercial spreadsheet: [https://www.dummies.com/software/microsoft-office/excel/using-external-cell-references-in-excel/]

[2020-11-03 07:19] 80aff123-9163-4f3e-a93d-4a2f35af9be1 opened #462 "How to set xclip at runtime?"
On [this line](https://github.com/andmarti1424/sc-im/blob/freeze/src/Makefile#L55) it mentions that the variables below can be set at runtime.

I've been trying to do that but I can't seem to figure it out.

How can I use the bash export command to do this without having to recompile sc-im?

I tried this at the sc-im command mode but I had no luck:

[code]

What am I doing wrong here?

Any help is

[2020-11-03 08:20] wimstockman commented on #462
You have to make the change in the makefile around line 60.
And then recompile sc-im.

[2020-11-03 08:23] wimstockman commented on #462
change the tmux clip and paste lines to
”xclip -i -selection clipboard <"
For the paste
"xclip -o -selection -clipboard"

[2020-11-03 08:25] ccao001 commented on #462
@wimstockman shouldn't it be possible to change that variable dynamically by running the set command in the editor?

my `.scimrc`
[code]

after running `set:`
[code]

[2020-11-03 09:28] wimstockman commented on #462
Yes, you can
You have some typo in your scimrc file
it is:
set default_copy_to_clipboard_cmd=xclip -i -selection clipboard <
set default_paste_from_clipboard_cmd=xclip -o -selection clipboard

[2020-11-03 10:55] ccao001 commented on #462
@wimstockman thanks for the help!

I fixed my config with your suggestion but copying to my system clipboard still doesn't work....
I get this error when using `ccopy` in scim:
[code]

My ~/.scimrc currently looks like this:

[code]

I'm wondering if the problem is not with scim.

I'm running NixOS but I installed xclip with guix. Will try installing xclip with nix to see if the default setup chan

[2020-11-03 11:32] wimstockman commented on #462
Have you tested to set the clipboard in sc-im and not in the .scimrc file.
Maybe your scim rc file isn't loading.

[2020-11-03 12:43] ccao001 commented on #462
@wimstockman I just tested setting it in sc-im and it worked.I was able to copy with ccopy! Now to see why my scimrc file is not loading...

I have one in `~/.scimrc` and one in `~/.config/scimrc`

Thanks!

[2020-11-03 17:49] wimstockman commented on #462
For the scimrc file to work you might put a dot infront of it or remove it.
It depends on what is in your makefile for the scimrc to work.

[2020-11-05 06:40] ccao001 commented on #462
This is what is in my makefile i.e. `scim --version`:
[code]

[2020-11-05 08:08] wimstockman commented on #462
Are you using nixos ?
It seems so.
This distro places all kind of files on different places then normal Linux distros.
Can you post the makefile ?

[2020-11-06 19:08] ccao001 commented on #462
Yes I am using nixos.

I'm not sure where the Makefile is because I installed via `nix-env -i sc-im`

The full nix expression for sc-im [is here](https://github.com/NixOS/nixpkgs/blob/nixos-20.09/pkgs/applications/misc/sc-im/default.nix#L17).

Here's the relevant part in that nix file that modifies the Makefile:

[code]

[2020-11-06 19:11] ccao001 commented on #462
@wimstockman

Any help is greatly appreciated. If there's a fix that is needed in the nix expression above I'd be happy to collaborate on that to send upstream.

[2020-11-06 19:17] ccao001 commented on #462
Nix has services that can be turned on in one's configuration.nix.

[Here's an example](https://search.nixos.org/options?channel=unstable&show=services.emacs.defaultEditor&from=0&size=30&sort=relevance&query=emacs).

`services.emacs.defaultEditor` When enabled, configures emacsclient to be the default editor using the EDITOR environment variable.

Maybe this is relevant for sc-im.

i.e. `services.

[2020-11-16 11:32] Erikria commented on #323
I found that the problem was caused by the lack of **"wordexp.h"**. SC-IM can be compiled correctly after I added **"CFLAGS += -DNO_WORDEXP"** into **"Makefile"**.

[2020-11-16 19:28] bentitmus commented on #358
In addition it doesn't use it for `plugin_exists` which just checks for files in `~/.scim`. In fact, because `plugin_exists` looks for additional configuration files, `scimrc` should really be contained in `$XDG_CONFIG_HOME/scim/scimrc` rather than `~/.config/scimrc` which is where it is located at the moment.

[2020-11-17 15:00] wimstockman opened #464 "Merge two cells visually"
Hi,
it would be nice if we could merge cells to one. So we could create some sort of text area without affecting all the columns sizes. Or even just some text overflow method....
Is anyone keen on implementing this feature ?
Kind regards,
Wim

[2020-11-20 13:17] Ingvix opened #465 "Multiple conditions and relativity within @sum()"
Okay, so I have the following kind of situation (the actual sheet contains more rows):

[code]
And I want to sum values in C column based on the column and row titles on the right. I'd also want to do this in a way I could copy to all the other cells on the table on the right side

Now, I build this function that does it well for the H1 cell:
[code]
The first question is could this be done more el

[2020-11-20 13:30] Ingvix commented on #465
Did some testing and found out that I can just combine expressions simply with `&`. It's just that I couldn't actually search for the character in `:help` since it seems to find all the headers with it rather than the actual character. Escaping it with \ doesn't seem to work either for the search. Anyways, that's pretty much solved now. Now this is just about the relativity issue.

[2020-11-23 21:22] taviso opened #466 "Using @now in sc-im"
Hello, if I create a cell with the value `@now` in classic sc, it contains the current UNIX time. I can keep pressing `@` to recalculate values, and it updates.

If I enter `@now` in sc-im, it seems to always be zero, is this a bug?

Reproduce:
1. Start a new spreadsheet.
2. Hilight cell A0, and type `=@now`
3. The cell shows 0.00.

Expected:

The cell shows the current UNIX time.

[2020-11-24 13:10] andmarti1424 commented on #466
Hello. I believe its a bug. It should enter then numeric value of current date time. And then after use of datefmt command you should see it correctly. The failure seems to be in the first one of those.

[2020-11-26 00:08] arvyanh opened #467 "can't save xlsx"
open the xlsx after saving using`:wq` will show nothing.   (I could open the .xlsx save by other programs)

Using something like gnumeric warns about `Unhandled directive: 'mark' `
Using vim to open is shows:
[code]
Which I suppose is the `mark` gnumeric warns.

Is it a bug or the issue with xlsxlibs?

[2020-11-26 14:16] Epicalert opened #468 "Function to calculate factorials"
It would be nice if we could calculate factorials with a function like @fact() (same name as LibreOffice and Excel).

[2020-11-26 17:43] alexandre-mbm opened #469 "refman.tex"
I would to get the ``refman.pdf``, but at ``sc-im/src/latex`` directory we have a ``Makefile`` only.

Was all migrated to the ``doc`` file?

[2020-11-26 18:01] alexandre-mbm commented on #453
@sanjeebSubedi, you need to give more details to they. For example, speaking about the file, its origin, filetype...

[2020-11-26 18:09] alexandre-mbm commented on #446
I think the author's targets are clear and that he did much already for the community. This issue must to be closed (my opinion).

[2020-11-26 18:19] alexandre-mbm commented on #368
I understood from https://github.com/andmarti1424/sc-im/issues/335#issuecomment-613710417 that this behavior is inhereted from sc and that it will not changed.

Hint: to close the two issues.

[2020-11-26 18:31] andmarti1424 commented on #368
Yes, you are right. If you want to align numbers you have to convert them to text.

[2020-11-26 18:31] #368 closed

[2020-11-26 18:31] andmarti1424 commented on #446
Thank you!

[2020-11-26 18:31] #446 closed

[2020-11-26 18:32] alexandre-mbm commented on #364
It don't happen on Android 5.1. Certainly it is fixed. **Close the issue please.**

[2020-11-26 18:34] #364 closed

[2020-11-26 18:45] alexandre-mbm commented on #348
I think that SC-IM must be minimalist. The project on Github is stuck because it was overloaded with non-essential demands like this.

The main concern should be the absence of bugs!

The code is freezed...

I heard that Gnumeric can import *.sc files. That should suffice! The SC-IM does not need to become a file exporter. It will never be widely adopted. It is just a minimalist tool. And as such

[2020-11-26 18:54] alexandre-mbm commented on #362
SC-IM is a small project that is being choked!

See this: https://github.com/andmarti1424/sc-im/issues/348#issuecomment-734440592

[2020-11-30 16:17] cuberobenicio32 opened #470 "Can't build on WSL2, Debian"
Hello. I can't build sc-im on Debian, WSL2. Here's the error.

[code]

[2020-11-30 16:19] cuberobenicio32 commented on #470
I'm running Debian 10 buster on Windows 10 x64.

[2020-12-01 17:20] kdkasad opened #471 "Add ZZ and ZQ commands"
In Vim, pressing `ZZ` when in normal mode will save and quit the current file (equivalent to `:wq`). `ZQ` quits without saving (equivalent to `:q!`). It would be nice to have this in sc-im as well.

[2020-12-01 17:23] andmarti1424 commented on #471
I believe you could create a mapping to achieve that. Did you try it?

[2020-12-01 17:29] kdkasad commented on #471
I hadn't even thought of that. The following two mappings implement this:
[code]

Although pressing `ZZ` with no filename and no changes to the spreadsheet will cause a `There is no filename` error instead of exiting.

[2020-12-01 17:29] #471 closed

[2020-12-03 06:13] 4D617278 opened #473 "=@sum(A0): segmentation fault (core dumped)"
Hello, after starting up the program and typing in =@sum(A0), the program crashes.

[2020-12-03 07:09] kp9001 commented on #470
Run `sudo apt install byacc` and try again.

[2020-12-04 03:09] cuberobenicio32 commented on #470
Works, thank you so much!

[2020-12-04 03:09] #470 closed

[2020-12-05 08:00] Ethanol6 commented on #467
Yes, I have noticed the same behaviour. If I load an .xlsx file and then save it with :w the file is overwritten with .sc file type information but still keeps the .xlsx file extension. Then, loading the .xlsx file in SC-IM displays a blank spread sheet, but renaming the file manually with .sc file extension and loading it in SC-IM will open the spreadsheet as it should.

Opening a spreadsheet in

[2020-12-07 15:06] 097115 commented on #376
Either we are missing something, or that `@ext` was broken from the very beginning: I've just checked every version back to 0.1.8, and these examples (including the one provided by @immae in #262) were simply failing with the every build.

@andmarti1424, please, help! :)

[2020-12-13 18:08] cmF3 opened #474 "EXECUTE syntax error"
$ cat example.sc
EXECUTE "load! /tmp/test.xls"
EXECUTE "e! mkd /path/test.md"
$ sc-im example.sc --nocurses --quit_afterload
syntax error
syntax error
$ cat example.sc|sc-im --nocurses --quit_afterload
Interp will receive: EXECUTE "load! /tmp/test.xls"

syntax error
Interp will receive: EXECUTE "e! mkd /path/test.md"

syntax error
$

[2020-12-18 14:13] earthshrink commented on #464
I would like this feature too. I have been copying empty adjacent cells to maintain the background colour etc.

[2020-12-24 23:07] npitre opened #475 "crash (segmentation fault) on circular references"
The following is sure to crash the program here:

[code]

[2020-12-30 02:32] sudoerena commented on #402
I have the same problem on CentOS7. (Also typically on light mode, but the error persists on dark mode.)
I don't believe it's a colour issue, as the help file displays fine when I launch sc-im from within  `sc-im/src`, albeit with unreadable colours, but I have the same blank screen when sc-im is launched elsewhere.

[2020-12-30 02:35] sudoerena commented on #439
I had the same issue. Just for posterity, if anyone runs into this in the future, the config file should be under `~/.config/scimrc` with no dot.

Alternatively, edit Makefile to source `.scimrc` under your config directory.

[2021-01-10 20:30] josephgerth opened #476 "Not installing?"
Newb here, so I apologize if this is a dumb question or in the wrong place.

I was able to get sc-im running on Pop OS 20.10. I followed the instructions from the wiki, which gave directions for installing on Ubuntu. I am not, however, able to launch sc-im from the terminal as it states. When I type sc-im into the terminal, it says "Command 'sc-im' not found, did you mean:..."

However, I am able

[2021-01-10 23:12] BlakeWeissman opened #477 "Get current row or cell value?"
If this feature doesn't exist already would it be possible to implement a function that gets the current row/column value? Ex using `@ccol` on cell D2 would return "D"  or using `@crow` on C5 would return "5". I'm aware of `@frow` and `@fcol` however these require a parameter which defeats the purpose of what I'm going for.

[2021-01-12 12:24] josephgerth commented on #476
I should add that when I access sc-im this way, I cannot save anything. Using :w prompts "File could not be saved".

[2021-01-13 20:00] cesss opened #478 "Modify LOOKUP family to return text cells?"
Is it possible to patch the LOOKUP/HLOOKUP/VLOOKUP family of functions so that they return text if the result is a text cell? Currently they return 0 in that case, but however one of the most useful applications of these functions is to return text (returning a label or message depending on the value on other row or column).

I tried to modify it myself but couldn’t find a way: can a function retu

[2021-01-13 23:49] sarpu opened #479 "Where is cell color info saved?"
I am changing the cell colors of a csv file via ` :cellcolor A0:H0 "fg=RED bg=BLACK" `, but upon saving and reopening the file, the colors are lost. From the past issues, I figured out that there is possibly a .sc file, but I don't know where to find it. Is it possible to save color info for csv files somewhere (on a per file basis, as opposed to using .scimrc)? Thank you for the project!

[2021-01-14 01:11] andmarti1424 commented on #479
Hello. Csv is text
you can't save colors there. You only can use colors in sc files..

[2021-01-14 05:21] #479 closed

[2021-01-14 05:21] sarpu commented on #479
👍 thank you

[2021-01-19 00:35] josephgerth commented on #296
My apologies for bumping an old thread, but I would like to have this feature as well. Astralspurs, were you able to find a solution?

[2021-01-24 13:08] leonardorame commented on #464
Apart from cell merge, I noticed when I type a text longer than the width of the cell, it is replaced with `*****`, is there a way to let the text overflow the adjacent cells, just like Libreoffice or Excel?.

[2021-01-24 13:10] andmarti1424 commented on #464
@leonardorame yes. There is a config variable you can set for this. Please check help file

[2021-01-24 21:01] astralspurs commented on #296
I never did find a solution, but this would be great to have.

[2021-01-24 21:16] pkillnine opened #480 "Why is there a limit of 1,048,576 rows?"
It says in the Readme file "65.536 rows and 702 columns supported. (The number of rows can be expanded to 1.048.576 if wished).", why does it have this limit?

[2021-01-25 12:42] andmarti1424 commented on #480
Those are 2^16 and 2^20 values. Excel used to have that values as limit as well. Then switched to 2^20. Dont know which limit they have now.

[2021-01-25 14:01] leonardorame opened #481 "Lua scripting documentation"
I would like to insert data from an external source (a PostgreSql database, for examle). As far as I understand I need to create a Lua script.

Where can I find documentation or examples of Lua scripts that interact with SC-IM ?.

[2021-01-25 17:39] pkillnine commented on #480
So it's a limit in the xlsl format, and the limit is added to sc-im so the file it saves remains compatible with Excel?

[2021-01-27 19:22] thexhr opened #482 "Segfault when using wrong number separator"
Hi,

I am running latest git version. Whenever I add a numerical value with "," as separator instead of "." sc-im crashes. If you need more, just let me know.

**How to reproduce**

Open sc-im and enter =1,1 and I get a segfault immediately.

**Stacktrace**

By compiling with -g3 i get the following:

[code]

**Environment**

[code]

[2021-02-05 01:14] bin opened #483 "Sum in date range"
I have a range of rows from which I would like to sum one column.  I want to add each value to the sum if and only if the date in another column in that same row is within a range.  The issue I have here is that I cannot figure out how to reference a column in the current row in the expression for `sum()`.  I want to do this: `@sum(A0:A10, @month(#B)=1)`, where `#B` references each row in a loop.

[2021-02-16 06:35] dther commented on #358
Made a patch for this! Check the above pull request.

[2021-02-23 05:19] reportaman opened #485 "Apple Silicon macOS xlsx file opens as a blank file"
Hi, I followed steps for xlsx support from here: https://github.com/andmarti1424/sc-im/wiki/Ubuntu-with-XLSX-import-&-export, and added these lines to my ``.zshrc``.

[code]

Now, while trying to open .xlsx files, I do not get the error that sc-im isn't compiled to open .xlsx files, but the file opens blank (there is nothing in any cell). Here's an example I tried:

[code]

For some reason, ``otoo

[2021-02-23 05:49] reportaman opened #486 "Enhancement: Autodetect delimiters, or interactively ask at load time, or add configuration variable"
Passing delimiter as  a command line option ``--txtdelim=";"`` is a little cumbersome. It would be good if we can auto-detect the delimiter, or ask user at interactively at load time, or add configuration file variable that one can set.

[2021-02-23 06:03] reportaman opened #487 "Enhancement: add a configuration variable to ask if the command line should be at bottom or top for more vim like experience"
Add a configuration variable to ask if the command line should be at bottom or top for more vim like experience. If set to bottom, show the command line at bottom of terminal.

[2021-02-23 06:08] reportaman opened #488 "Enhancement: Add a configuration option like vim to show keys pressed to form a command (set showcmd), and a option so partial commands don't timeout"
Add a configuration option like vim to show last key pressed to form current command: ``:set showcmd``, and an option so partial commands don't timeout. Currently in normal mode partially entered key commands timeout after some time, this assumes non late-night slow brain function among others who are not fast :)

[2021-02-23 06:16] reportaman commented on #480
And what does it mean "The number of rows can be expanded to 1.048.576 if wished". Does the limit also apply to csv files? Any plans to change that, and apply it only to import/export of xlsx format?

[2021-02-23 06:33] reportaman opened #489 "Bug: having set truncate in scimrc still shows asterisks for cells with more text than cell size"
Having ``set truncate`` in ``.scimrc`` does not have any effect in the ``.csv`` files that I have been working with, it still shows asterisks for long cell contents.

[2021-02-23 08:13] reportaman opened #490 "Apple Silicon macOS, colors are not applied from .scimrc for manual build from source, and are applied in homebrews version"
I am trying to build sc-im from source on macOS BigSur Apple Silicon. Even though I linked sc-im to ``libncursesw``, any color setting I do in my $HOME/.scimrc file are not applied in sc-im that I build. Homebrew's scim build does pickup color changes... What do I need to do?

[code]

[2021-02-23 08:16] reportaman opened #491 "Update homebrew formulae: 1) enable xlsx format, 2) truncate not available in help docs, so something is broken"
Please update the homebrew formulae for sc-im to https://formulae.brew.sh/formula/sc-im#default to enable xlsx support.

As a side note, it also seems like an older version as help file does not have information on configuration flag ``truncate``... Surprisingly, both homebrew and my build version say 0.7.0, so something is broken in versioning, or homebrew somehow picks up stale source code.

Hom

[2021-02-23 20:30] kevinduffbeer opened #492 "Keymapping Challenges"
Hi, thanks for this great program. Much prefer using it for basic spreadsheet operations over other GUI alternatives.

I've been trying to implement a few keymaps but haven't been successful. I've read the man page, help file and reviewed past issues, but still not sure what can be done.
`inoremap "jj" "<TAB>"`
`inoremap "<S-<CR>>" "<CR>lk"`
`nnoremap "<C-s>" ":w<CR>"`

The first keymap uses jj to

[2021-02-23 22:07] reportaman commented on #485
My bad! Even after building with correct xls read/write libraries linked, I was storing file as ``:w filename.xlsx``, instead of exporting it using ``:e xlsx filename.xlsx``. ``:e`` means something completely different in Vim, maybe ``:w`` should check if user is writing file to `.csv` or `.xlsx` and warn the user that its not appropriate...

[2021-02-23 22:35] reportaman commented on #490
Fixed! The default config dir for homebrew's installation was different chosen by default by src/Makefile.

[code]

Now colors get applied!

[2021-02-23 22:35] #490 closed

[2021-02-23 22:48] reportaman commented on #489
Fixed! There were two problems that were confusing me:

1. Homebrew's latest version doesn't have support for truncate... Open help docs from scim: ``:h`` and search for string "truncate", search will not hit.
2. My own build, which had information on truncate, defaulted to a different location for config file. Homebrew's scim looks for  ``~/.scimrc``, mine was looking in ``~/.config/scimrc``. And

[2021-02-23 22:48] #489 closed

[2021-02-23 22:55] reportaman opened #493 "Check the extension user is trying to write to, and at least warn"
I recently downloaded scim, and tried to write a few files to .xlsx format using a wrong command ``:w filename.xlsx``. Then I tried opening it with ``sc-im filename.xlsx``. It showed a blank file. I realized that the format ``:w`` writes to is sc-im's own format & there is a different way of exporting it to other formats. It would be a good check to at least warn user if he/she is trying to "write

[2021-02-23 22:56] #485 closed

[2021-02-24 06:06] reportaman commented on #16
@andmarti1424 Please add! I am not able to get even this ```=@nval(coltoa(@mycol-3), @myrow)``` to work. It always results in 0.00. Is ``@mycol`` & ``@myrow`` not really supported?

[2021-02-24 06:45] reportaman commented on #477
@BlakeWeissman If you trying to evaluate a column/row/cell value in relation to other columns/row/cel then try: ``@coltoa(@mycol)``, and ``@myrow`` in an expression, and it will evaluate correctly. For instance, in the following expression: ``=@nval(@coltoa(@mycol-1),@myrow)*1000/255`` will get the numeric value of adjacent cell in previous column, multiply it by 1000 and divide it by 255. Copying

[2021-02-24 08:35] reportaman commented on #466
@andmarti1424 Even these expressions put numeric value ``0.00``: ``=@mycol``, and ``@myrow``.

[2021-02-24 09:17] reportaman commented on #481
@leonardorame I think its already there in the src/doc: https://github.com/andmarti1424/sc-im/blob/freeze/src/doc#L1446-L1482, and check https://github.com/andmarti1424/sc-im/blob/freeze/examples/lua/macro.lua as an example

[2021-02-24 10:33] reportaman opened #494 "Enhancement: Add a lua getproperty function"
It would be nice to have a function that gets current cell properties (format, color name,etc). This could help write custom converters, for instance to convert table to latex format.

[2021-02-24 10:36] reportaman opened #495 "Enhancement: Add support to use more colors"
AFAIK, at any given point of time, only these colors: ``WHITE, BLACK, RED, GREEN, YELLOW, BLUE, MAGENTA, CYAN, DEFAULT_COLOR`` can be used. Given we now have ncursesw 256 color support, it would be great if one can specify R G B (0-1000 in ncursesw syntax) directly or define & use new colors by name. That will enable using more colors in the user interface.

[2021-02-24 11:53] reportaman opened #496 "Lua interface issue sc.lquery requires two carriage returns, and picks value before the second one"
Based on the lua example here [macro.lua](https://github.com/andmarti1424/sc-im/blob/freeze/examples/lua/macro.lua), I tried to write a basic lua script that asks for user input, and writes it to the (curcol+1,currow+1). There are multiple problems:

1) I need to press Enter (i.e Carriage Return) twice, and the string entered before the second Enter is captured as user input. This is difficult to

[2021-02-24 12:28] reportaman opened #497 "Incorrect results of numeric expressions, adding 0 makes them evaluate correctly"
A numeric expression that just "gets" an existing numeric value from another cell or internal variables like ``@myrow``, ``@mycol`` always evaluates to ``0.00``. Adding a ``0`` to such numeric expressions solves the problem. Copy-pasting the contents of such cell to itself also seems to update the value, though saving and reopening the file would again show ``0.00`` & one would have to repeat copy

[2021-02-25 01:31] user1180 opened #498 "sc-im not installing due to missing file"
Running Manjaro

When attempting to install  from the package manager, I get this error output:

[code]

[2021-02-25 01:38] reportaman commented on #497
Some further testing reveals that copy-pasting a cell's contents into itself gives the right result. As a side note, having ``autocalc`` enabled or disabled has no effect on this. Here's another GIF that shows how expressions evaluate correctly upon pressing ``yyp`` on the cells containing expressions:

![Screen Recording 2021-02-24 at 5 30 19 PM](https://user-images.githubusercontent.com/71736629

[2021-02-25 02:14] reportaman commented on #497
This GIF shows the most robust workaround is to have a 0 added to every numeric expression for it to evaluate correctly:

![Screen Recording 2021-02-24 at 6 05 33 PM](https://user-images.githubusercontent.com/71736629/109092790-1012b700-76cc-11eb-9b65-7312a4195978.gif)

[2021-02-25 05:21] reportaman commented on #482
@thexhr I don't get segfault on opening sc-im and doing ``=1,1<CR>``. I instead correctly get "syntax error", and value assigned to cell is ``1.00`` (it drops everything after comma). Am on macOS ARM64 though.

[2021-02-25 05:30] reportaman commented on #467
@Ethanol6 @arvyanh I filed this issue yesterday... https://github.com/andmarti1424/sc-im/issues/493. There seems to be no commit after Sep 4, 2020. Not sure what the direction is of this wonderful project.

[2021-02-25 05:39] reportaman commented on #464
@andmarti1424 Works for left-aligned, and center-aligned strings. Puts asterisks for long right aligned string. I bet this is a feature? Or is it a bug?

[2021-02-25 05:43] reportaman commented on #313
@andmarti1424 There is another fork of sc that has mouse enabled: https://github.com/n-t-roff/sc. Search ``set mouse`` on the page.

[2021-02-25 05:47] reportaman commented on #269
@andmarti1424 https://github.com/n-t-roff/sc has ``set mouse``, and claims to be a fork of the latest sc, not sure if mouse was a later addition though.

[2021-02-25 06:13] reportaman commented on #421
@msharov I think there will be immense interest, I didn't even know if such a thing existed in past. Given I don't see any commits since Sep 4, and there are show-stopper bugs (like https://github.com/andmarti1424/sc-im/issues/497). I have asked if neovim team is interested in bringing this utility under their umbrella: https://github.com/neovim/neovim/issues/14011

We software developers, and ner

[2021-02-25 06:38] reportaman commented on #415
@Karl-Stefan I had a similar issue. Can you check if adding 0 to every numeric formula resolves the problem? If yes, then it is the same issue as the one I encountered, and narrowed down to: https://github.com/andmarti1424/sc-im/issues/497. @andmarti1424 Can then fix both of our tickets together.

[2021-02-25 09:44] jedi2610 opened #499 "slow when opening files"
it takes a good 20 seconds to load a 450KB file. it is fast when opening smaller files (32KB). is this expected?

[2021-02-25 12:50] andmarti1424 commented on #499
Hello. What kind of file you are opening?
.SC, .CSV, .XLSX???

[2021-02-25 12:52] andmarti1424 commented on #498
Hello! It seems it not patching something correctly:

"can't find file to patch at input line 3"

Please comment this to sc-im maintainer of the Arch community.
I believe something could have changed in arch, since nothing changed on SC-IM since last months of 2020..

[2021-02-25 12:55] andmarti1424 commented on #497
Hello. Yep. This is an evaluation bug.
That is why a "+0" works since its evaluating again or rebuilding something in dependency graph..

[2021-02-25 12:59] andmarti1424 commented on #495
Hello. Actually you can redefine colors like this:

REDEFINE_COLOR "RED" 65 800 0

Dont remember if this is in the doc file or not..

[2021-02-25 13:09] jedi2610 commented on #499
@andmarti1424 it's a csv file

[2021-02-25 13:12] andmarti1424 commented on #499
Is it possible for you to attach to this issue so I can test it? Or sending it to scim.spreadsheet@gmail...

[2021-02-25 13:17] andmarti1424 commented on #467
Hello. This is correct.
:w command always saves is sc format.
To save in csv or xlsx or tab.. you have to use the export command   :e

[2021-02-25 13:19] andmarti1424 commented on #475
Thank you for sharing this. Will test this and try to get it fixed.

[2021-02-25 13:30] andmarti1424 commented on #474
What version of SC-IM are you using?

[2021-02-25 13:33] andmarti1424 commented on #474
Btw Dont know what is the intention/purpose of this command.. Did not create it myself.

[2021-02-25 13:37] andmarti1424 commented on #474
It seems the way to write it is like this:
EXECUTE "load a.csv"

The ! after load is wrong

[2021-02-25 16:09] andmarti1424 commented on #460
Basically it requires ncurses.
Havent tried it since I am not a Windows user.
It would probably build successfully with minimum changes.
If you manage to build it please share those changes so I can merge them in  the project and give SC-IM full WIndows support.

[2021-02-25 16:32] andmarti1424 commented on #421
@reportaman That would be great. Hope more people chime in so this piece of software move to another level.

[2021-02-25 16:36] andmarti1424 commented on #497
Could perhaps be only a misevaluation of @mycol @myrow variables?
Did you find this behaviour when not using  those ?

[2021-02-25 18:09] Iron-E commented on #421
I could see the benefit of using Neovim as a backend. For one, it could potentially allow plugin creation for this application using Lua(!!) which is a big bonus.

I know that Neovim supports creating external UIs on top of it (see `:help ui` for more info) but I am not sure if it is feasible to create a tabular UI which calls back to Neovim. I am completely unversed in C though, so I don't really

[2021-02-25 18:10] jedi2610 commented on #499
ofc, here is a link to the file `https://ufile.io/mp41i1q3`

[2021-02-25 18:26] andmarti1424 commented on #421
With LUA you can make read and write calls to SC-IM. This could be the communication to other applications.
But again, I would replace the core for something new (remember the evaluation core is from the 80's!)
Something that supports multiple sheets and cross references would be necessary.

About Excel, the thing is in sc-im there are not the same formulas as used on Excel. Nevertheless, the main

[2021-02-25 18:28] DarkWiiPlayer commented on #421
@andmarti1424 [Lua](http://lua.org/about.html#name)*

[2021-02-25 18:33] reportaman commented on #497
@andmarti1424 It doesn’t happen with this fork of sc https://github.com/n-t-roff/sc. The author there has made commits till 2019.

[2021-02-25 18:40] andmarti1424 commented on #497
@reportaman About that not happening in old sc gives me no much help since I replaced the evaluation code (which was recursive and not very efficient) with a dependency graph.
It should be more efficient now, but of course has some problems like the one you described as well.
Or the crash with circular references..

[2021-02-25 18:48] andmarti1424 commented on #499
It took a lot in my computer to open! This is a great file to test speed! The file is not too big.
It should open more quickly.

What it does is, for every cell it calls to the interpreter. And it seems that process is rather slow.

Of course it could be optimized, so a bunch of cells can be stored at the same time.
May be it can be done by row rather than by cell.

[2021-02-25 18:51] andmarti1424 commented on #499
@jedi2610 It would be ok if I upload the file to the repository so I can avoid losting it?

[2021-02-25 19:07] andmarti1424 commented on #497
@reportaman Of course I could restore it back relatively easy.
I have uploaded a new commit for this issue. Could you please update to latest commit and test this again?

[2021-02-25 19:18] reportaman commented on #497
Thanks, I confirm it works now. Even if I do ``=@mycol`` or ``=@myrow``. Though if I do something like: ``\"@coltoa(4)`` it doesn't put any string inside the cell.

[2021-02-25 19:20] andmarti1424 commented on #497
Thats great. Yes, I have to modify each of those as well, to get saved in the dependency graph.

[2021-02-25 19:27] reportaman commented on #497
Regarding,

Maybe maintain a developer mode that still runs old engine on the subset of old sc's functionality, and have a gatekeeper test that compares results for common cases as you change core algorithm.

IMO, having incorrect evaluation result (ever) is going to make most people dread switching over to sc-im, or continue using it. If I were in your place, I would keep make it functionally cor

[2021-02-25 19:42] reportaman commented on #499
On my system it took 15sec of user time for ``>> time sc-im train.csv``. As a UI advice, I could recommend something more... Load and display the cells that can fit the screen, and show a progress bar on top that hows percentage of lines loaded.

[2021-02-25 19:47] andmarti1424 commented on #488
Actually the :set showcmd is a good idea..

[2021-02-25 19:48] andmarti1424 commented on #488
The other thing, you might want to modify this value in macros.h:
#define CMDTIMEOUT       3000

[2021-02-25 20:00] reportaman commented on #488
Thanks, will change that for myself. How about two commands ``:set showcmd`` ``:set notimeout`` like in vim. Check the description of timeout behavior from neovim docs. In my .vimrc, I have ``:set notimeout``

<img width="813" alt="Screen Shot 2021-02-25 at 11 57 53 AM" src="https://user-images.githubusercontent.com/71736629/109209864-e8b9f980-7760-11eb-9734-ba7d50a26f3f.png">

[2021-02-25 20:07] andmarti1424 commented on #492
Hello. Actually I also have a mapping (kj) to ESC in vim. let me see if there is something that can be done. If I recall well.. I used to have an issue with the ESC key and ncurses.

[2021-02-25 20:10] andmarti1424 commented on #499
You both have good computers. Mine took ages.

@reportaman both of that are a good idea as well!

[2021-02-25 20:50] reportaman commented on #497
@andmarti1424 After your commit, https://github.com/andmarti1424/sc-im/commit/281b870c316c4cb7540fe354584c4a93a5a78565, ``>"@coltoa(@mycol)`` works well. Next I tried to print the entire cell name in the cell: ``>"@coltoa(@mycol) # @chr(@myrow)``, and it didn't work. I guess ``chr`` also needs to be in dependency graph. Or by default all functions should be? I wonder why this doesn't happen with o

[2021-02-25 20:55] Iron-E commented on #421
I must have forgotten it can already do this. Perhaps making a Neovim plugin for `sc-im` would actually be more readily doable than I originally thought.

I left a mock on the Neovim issue of something that would be cool to do (rendering tables with `sc-im`). It'll take me some time to investigate but it would be worth trying IMO.

[2021-02-25 21:05] reportaman opened #501 "Question: Can we convert number to string in expression? or have C style strings in string operations?"
Is there a way to convert a number to its string representation, ideally one would be able to specify full C-style string formatting option.

Something like: ``@ntos("format string",number)``

It could perhaps just be a generic cstring option

``@str("format string",comma separated list of arguments)``

[2021-02-26 01:45] user1180 commented on #498
Aren't you the maintainer? https://aur.archlinux.org/packages/sc-im

[2021-02-26 01:47] andmarti1424 commented on #498
@user1180 no I am not. Rhinoceros guy is

[2021-02-26 01:52] andmarti1424 commented on #498
@user1180 Just mark it out of date so he can see it..

[2021-02-26 05:05] reportaman commented on #499
@andmarti1424 Yes I have the Apple Silicon M1 MacMini. It's very fast, among the fastest CPU performance/watt, and even raw sustained performance. It starts at $699, which is quite economical if you already have a screen, keyboard, and mouse. Its also dead silent, and for day-to-day tasks never heats up (mine remains 5-10C above room temperature the entire period it is ON, my past Intel CPU used t

[2021-02-26 05:35] reportaman commented on #495
@andmarti1424 Sorry if I wasn't clear. What I meant was, at any given point in time, there can be only 9 colors that can be used (names mentioned above) to apply to 18 color categories: ``HEADINGS, MODE, NUMB, STRG, DATEF, EXPRESSION, CELL_ERROR, CELL_NEGATIVE, CELL_SELECTION, CELL_SELECTION_SC, INFO_MSG, ERROR_MSG, CELL_ID, CELL_FORMAT, CELL_CONTENT, WELCOME, NORMAL, INPUT``, and any random cell

[2021-02-26 05:45] reportaman commented on #498
@andmarti1424 FYI, the homebrew's version number reported by ``--version`` is ``0.7.0``, which is same as what I get today. Though homebrew's version does not have ``set truncate`` option in it, it gives error & is not listed in the ``:h`` help doc.

[2021-02-26 05:57] hatunike opened #502 "tmux redefine color"
I ran into an issue where i couldn't use :
`redefine_color "RED" 0 0 0` like commands. This would happen if i was setting that in my scimrc as well as just calling the command manually after starting sc-im. Anytime I tried to redefine my colors, i'd get a "Could not redefine color" error message.

I looked into the problem further and it turns out it would work in another terminal window than the

[2021-02-26 06:01] hatunike commented on #495
I too would love this as i've run into the issue of max number of color slots as described above. Another workaround could even just be to bump up the number of color slots. 16 should be the minimum imo. Although, I too like either proposed solutions by @reportaman better than just adding a few more color slots.

[2021-02-26 11:36] andmarti1424 commented on #502
Yes I also use tmux in a server and ran into a same issue regarding the 256 colors.
Its a terminal issue. "Could not redefine color" is just the ncurses indicating is unable to set the color..
Its not a SC-IM issue..this time

[2021-02-26 11:38] andmarti1424 commented on #501
No. I believe its not possible. Asumming someone you create that function, it would return a string.
Do you think it would be useful to save a number in a string representation?

[2021-02-26 11:39] andmarti1424 commented on #498
Thank you. I believe truncate was added later on by a user..

[2021-02-26 11:50] reportaman commented on #501
Yes very useful! The case I was thinking of: For functions that take ranges like ``=@avg(A1:A37)``, one could instead get the substrings A, 1, 37 from other functions like ``@coltoa()`` and proposed ``@ntos``. I think it could even work with a simple, and similar implementation as ``@coltoa`` to instead get row number as string to use in concatenation operation & feed it to other functions like ``

[2021-02-26 11:55] andmarti1424 commented on #497
Added @chr to depgraph. The ^ seems to be a bug in that chr function. Do not recall if that function was in SC. Do you know?

[2021-02-26 12:05] reportaman commented on #497
I have installed this version of sc: https://github.com/n-t-roff/sc on my machine, and can confirm it is not there in it.

Though! It has ``@fmt(se,e)``, which looks like what I was asking for in another issue. Check this screenshot:

<img width="999" alt="Screen Shot 2021-02-26 at 4 02 53 AM" src="https://user-images.githubusercontent.com/71736629/109298047-d6cf6980-77e7-11eb-9983-db750f27ebd2.pn

[2021-02-26 12:10] andmarti1424 commented on #497
You are right! My bad. Will try to track the origin of @chr  ..

[2021-02-26 12:19] reportaman commented on #501
Copy from our discussion on https://github.com/andmarti1424/sc-im/issues/497#issuecomment-786607750:

The other implementation of SC seems to have a ``@fmt`` function that does what I was asking for in ``@ntos``. Not sure how easy it is for you to just pull in that function definition, and apply it here. The only other feature it adds is mouse support, and I don't think there will be further chang

[2021-02-26 12:21] andmarti1424 commented on #497
@chr should only return printable characters between values 32-126.. why are you calling it for values under 32?

[2021-02-26 12:27] reportaman commented on #497
@andmarti1424 Ok, I didn't know that... How do you plan to use ``@chr``?

[2021-02-26 12:32] andmarti1424 commented on #497
I never used it. I believe it was added by someone else. May be he/she needed it for something. Do not know..

[2021-02-26 12:34] andmarti1424 commented on #497
Could be that you need the @coltoa behaviour?

[2021-02-26 12:37] reportaman commented on #497
@andmarti1424 From your docs it sounded like it converts a number to its string format (something we are discussing [there](https://github.com/andmarti1424/sc-im/issues/501#issuecomment-786600530)). Now I get what it does.

[2021-02-26 13:53] reportaman commented on #421
@andmarti1424 Add a GitHub sponsorship button to your repo!

[2021-02-26 15:12] reportaman opened #503 "Page scroll down doesn't fill full terminal screen with new rows"
Page scroll down doesn't fill terminal screen with new rows. This is the same behavior as old SC, and perhaps can be improved. In the following GIF, for the entire period I am just pressing page down:

![Screen Recording 2021-02-26 at 6 49 29 AM](https://user-images.githubusercontent.com/71736629/109318884-253e3180-7803-11eb-8be6-a7599420df90.gif)

[2021-02-26 15:15] andmarti1424 commented on #421
@reportaman I just dont know which funding model to use..
Patreon may be?

[2021-02-26 15:28] reportaman commented on #421
@andmarti1424 I have been following the project Asahi Linux, this is what its contributions page says: https://asahilinux.org/support/. They use both Patreon, and GitHub sponsorship. Given your GitHub page already has 2.6k likes, it is a good place to begin I think, you can create both together.

[2021-02-26 15:41] andmarti1424 commented on #421
I have created a patreon. I still have to see how much are the fees. For instance, Paypal directly, cuts 5.7% in my case. which is a lot!

[2021-02-26 15:42] #421 closed

[2021-02-26 15:44] andmarti1424 commented on #503
This is the expected behaviour. Once you get to the bottom row (last memory alloc'ed row) it shows that way until you move a row down and a bunch of other rows are alloc'ed.

[2021-02-26 15:52] reportaman commented on #503
Ok, makes sense! Just noticed that if on every page down I want to see a full new page of new rows I can keep the cursor in the bottom row & press page down.

[2021-02-26 15:52] #503 closed

[2021-02-26 16:12] andmarti1424 commented on #497
This can be closed?

[2021-02-26 16:20] jedi2610 commented on #499
@andmarti1424 feel free to upload it to the repo

[2021-02-26 16:23] jedi2610 commented on #499
@reportaman nice idea. @andmarti1424 is that easy to implement?

[2021-02-26 16:24] reportaman commented on #497
The way I engage with my bugs at work is to keep them open till I have a complete fix. If you think you covered all cases, the yes please close this. If you want I can do some more testing later today, will be away from computer for a few hours...

[2021-02-26 16:29] andmarti1424 commented on #499
@jedi2610 The linerang is pretty doable.
the percentage I believe is not that easy since I read the file until EOF if I recall correctly.
I would have to read it twice (the first one to count the \n chars) and all to show the loading percentage..
The loading in background is a better idea IMO.

[2021-02-26 16:36] jedi2610 commented on #499
yeah it do be like that while writing programs in `C` lol. btw, this is such a great project and is underrated.

[2021-02-26 16:44] andmarti1424 commented on #499
Seems people do not use spreadsheets a lot anymore.

[2021-02-26 16:48] andmarti1424 commented on #483
I believe this could be done with the nval and sval functions. Let me try to remember and report back..

[2021-02-26 17:01] andmarti1424 commented on #483
No the correct answer is:
@sum(B1:B4,@eqs(C1,"JANUARY"))
![image](https://user-images.githubusercontent.com/9466161/109331036-1a06f800-783b-11eb-9798-b141bfcd3779.png)
But its not working correctly. Let me see.

[2021-02-26 17:02] andmarti1424 commented on #483
Actually it is working ok. Like this:

![image](https://user-images.githubusercontent.com/9466161/109331186-4fabe100-783b-11eb-9b53-8e7b6f12783a.png)

[2021-02-26 17:04] andmarti1424 commented on #482
I also get syntax error!

[2021-02-26 17:15] andmarti1424 commented on #480
Does not matter if its csv, xlsx.. as long as gets memory allocat'ed

You can test increasing it by changing this value in Makefile:
CFLAGS += -DMAXROWS=65536

I believe some UI problems would appear if passed 9.9 million rows though.
I know MS Excel had this limitation as well. Dont know in the last versions since its been years since I no longer use Excel.

[2021-02-26 17:28] hatunike commented on #502
Seeing as how this isn't directly SC-IM issue, i'm going to go ahead and close this issue.

[2021-02-26 17:28] #502 closed

[2021-02-26 17:29] andmarti1424 commented on #476
May be a permission issue not letting the binary get copied to a binary path during install.
The same with 2nd message. Seems a permission issue.

[2021-02-26 17:30] andmarti1424 commented on #468
Great. Thank you. Let me see if I can merge this!

[2021-02-26 17:31] hatunike commented on #490
I've been spelunking through the issues the last couple of days and it seems like it's pretty common for users to get hung up on the config file now being assigned to the ~/.config/scimrc (which is exactly where it should be!). But I think the problems is just that it's not clear from the README how to setup the config file.

[2021-02-26 17:32] andmarti1424 commented on #466
Please update to latest commit and report back!
Dont forget to convert the numeric value to a dateformate (see doc if in doubt)

[2021-02-26 17:38] andmarti1424 commented on #464
@reportaman Thats whats it is expected I believe.
The merge feature can be done. The thing is how they get shown in the spreadsheet. The workarounds work ok IMHO.

[2021-02-26 17:44] andmarti1424 commented on #459
I believe it is working in normal mode:

Please type ma over one cell
then mb over other
then Rab
and then fa
Move down with C-f and the range marked above should be frozen..

[2021-02-26 17:48] andmarti1424 commented on #459
In visual mode it could be added..
Its not in the doc, so this is a feature request rather than an issue I believe.

[2021-02-26 17:50] andmarti1424 commented on #490
I will add it to the doc! THanks

[2021-02-26 17:51] Luc-Saccoccio commented on #466
On my side, `@now` now prints the current UNIX Time.

[2021-02-26 18:30] andmarti1424 commented on #466
Excellent!

[2021-02-26 18:30] #466 closed

[2021-02-26 18:44] Luc-Saccoccio commented on #466
I might have not been clear : It update the time in seconds, it doesn't change the date format.

[2021-02-26 18:48] andmarti1424 commented on #466
You have to type:
:format "d%d/%m/%Y"

[2021-02-26 18:51] andmarti1424 commented on #466
BTW,  :datefmt is a command used to convert a date (that you entered as text) into the numeric value and with date format applied..

[2021-02-26 19:02] #468 closed

[2021-02-26 19:24] andmarti1424 commented on #411
Please try the latest in AUR

[2021-02-26 19:40] andmarti1424 commented on #376
Could you please update to latest git commit  and try again?
@ston(@ext("echo 1", 10)) is now returning correct value.
Thanks.

[2021-02-26 20:14] Luc-Saccoccio commented on #466
Oh, I'm sorry ^^

[2021-02-26 20:35] andmarti1424 commented on #466
No need to apologize

[2021-02-26 21:28] reportaman commented on #376
@andmarti1424 ``=@ston(@ext("echo 1", 10))``, it evaluates and puts correct value but the status on the top left remains stuck till I move the cursor around, it reads ``Running external function...``

[2021-02-26 22:48] hatunike opened #505 "README config clarification"
The README has a configuration section that should better clarify how the `scimrc` config file should be setup. I'm not sure if this is different for each OS or installation method. But from what i can tell the most common directory for this file is now `~/.config/scimrc` whereas the current readme suggests the file is located `~/.scimrc`.

I know you can confirm which path it's expecting by using

[2021-02-26 23:24] andmarti1424 commented on #505
Actually, today I modified the doc file regarding this. It should also be clarified in the Readme as you suggest.

[2021-02-27 01:10] hatunike opened #506 "Clarification on color categories"
Does anyone know what these colour keys specifically refer to? Some of them are more obvious than others. I'm in the process of setting them and would love some documentation for them. If there isn't any documentation I could submit a doc/wiki pr on them. (Assuming i can finish figuring out exactly what they refer to).

`HEADINGS, MODE, NUMB, STRG, DATEF, EXPRESSION, CELL_ERROR, CELL_NEGATIVE, CEL

[2021-02-27 06:15] reportaman commented on #499
@andmarti1424 In my engineering work people use spreadsheets a lot. I think this is the real problem: Unlike source code, spreadsheets that engineers create are frequently shared with management, and management people do not understand command line & are generally trained in excel. Also, people share and edit spreadsheets online.

Where does sc-im standout? It's spreadsheet on steroids, given we c

[2021-02-27 06:17] 097115 commented on #376
@andmarti1424 if entered "live", then yes, it does. However, if the we save the file and then re-open it, the cell shows `0` for me. Running 6d18113.

Nonetheless, it's great to see you, and thanks for your time and support!

[2021-02-27 06:29] #505 closed

[2021-02-27 06:56] reportaman commented on #376
@097115 We recently asked @andmarti1424 start a Patreon project page. Feel free to support: https://www.patreon.com/user?u=51340616

[2021-02-27 07:53] reportaman commented on #257
@therealraven ``@now`` works now: https://github.com/andmarti1424/sc-im/issues/466#issuecomment-786798553

[2021-02-27 14:06] andmarti1424 commented on #407
Please keep file in .config/scimrc

[2021-02-27 14:06] #407 closed

[2021-02-27 14:07] andmarti1424 commented on #407
@DarkWiiPlayer already done. thank  you.

[2021-02-27 14:08] #467 closed

[2021-02-27 15:17] andmarti1424 commented on #451
Actually I believe its not possible. I will work on adding something like this:
@sum(A0:@getent("A",@lastrow))
as soon as I find some time to do it..

[2021-02-27 22:17] reportaman opened #508 "Adding ston to depgraph breaks Lua interface"
Commit https://github.com/andmarti1424/sc-im/commit/383ae36a367e6d388c4baaf0de58276a60183814 that added ``@ston`` to dependency graph breaks interface with lua in many ways.

1. Lua scripts that write to the same cell in which they are triggered from using ``=@ston(@lua("scriptname.lua",0))``, end up writing the cell with ``0.00`` when ``@ston`` finishes; that overwrites whatever ``<value>`` user

[2021-02-27 22:51] reportaman commented on #506
@hatunike I have been making https://draculatheme.com theme for sc-im. I was able to set and immediately see the change in an existing ``.sc`` spreadsheet for the most important ones.

[code]

Haven't tried coloring other features yet, I guess CELL_ERROR is the color of "ERROR" printed in cells (at times error is printed in cells, at times at the top left of the terminal), don't know what CELL_NEG

[2021-02-28 07:04] reportaman commented on #451
@andmarti1424 If we are supporting expression in ranges (which is the intent of asking this: https://github.com/andmarti1424/sc-im/issues/501#issuecomment-786600530), can we do it for the generic case instead of special functions?

If we do that, then this pattern will be part of it and will look something like:

``=@sum(@cols(@mycol) # 0 : @cols(@mycol) # @rows(@lastrow))``

And given this expres

[2021-02-28 17:05] cmF3 commented on #474
[code]

It allows you to script sc-im, in the example given in the manual it would convert a .xls file to a markdown table, I guess.

[code]

[2021-03-01 01:11] hatunike commented on #506
Thanks for sharing @reportaman! nice theme! Here is what i've found so far :

`HEADINGS` The numbers and letters  along the left side and top that show which row and column respectively
`MODE` The text in the top right that indicates which mode SC-IM is currently in
`NUMB` The cell styling used for cells formatted as numbers (That are positive)
`STRG` The cell styling used for cells formatted as s

[2021-03-01 12:30] andmarti1424 commented on #451
The thing with this
=@sum(@cols(@mycol) # 0 : @cols(@mycol) # @rows(@lastrow))
is that every single function must be modified.
I would like to avoid that.

If you want copy the formula to other columns we can think in something like:
@sum(@getent(@myrow,1):@getent(@lastrow, @mycol))

Behaviour is like this: every cell in the range would be part of the sum, doesnt matter if an empty cell is in the

[2021-03-01 19:49] kevinduffbeer commented on #492
Thanks for having a look at this. :) If it's any help, the above three remaps work if I assign the left side of the keymap to a single alphanumeric key. So it seems that the issue is with the left side of the mapping and not the right side. I've tried modifying the left side of the remaps but can't get multiple key sequences to work (e.g. j followed by j). Having more remapping flexibility would b

[2021-03-07 01:05] andmarti1424 commented on #499
Hello. Could you please test this again?

[2021-03-07 09:23] jedi2610 commented on #499
did you update the package on aur?

[2021-03-07 12:06] andmarti1424 commented on #499
Nono. Just committed on github

[2021-03-07 12:26] jedi2610 commented on #499
okay I'll check it out

[2021-03-07 14:39] #405 closed

[2021-03-07 14:45] #358 closed

[2021-03-07 15:04] andmarti1424 commented on #483
Hello. Could you test it? Thank you.

[2021-03-07 15:04] andmarti1424 commented on #474
Hello. Could you test it? Thank you.

[2021-03-07 15:06] andmarti1424 commented on #459
Hello. Could you test this? Thanks.

[2021-03-07 15:10] jedi2610 commented on #499
can confirm that it works perfectly fine. please do update the package in aur.

[2021-03-07 15:20] andmarti1424 commented on #457
Yes, you can call this a bug. Btw, you can always select the range you want to export and do  it with
:e csv

[2021-03-07 15:23] andmarti1424 commented on #499
Yes. My idea is to make a release in the next days (probably less than 2 weeks). Then the AUR maintainer can update it.

[2021-03-07 15:26] andmarti1424 commented on #454
May be the previous value can be restored.
But if you made more than one change in the same edition. That would be restored too.

[2021-03-07 15:56] jedi2610 commented on #499
okay sounds good.

[2021-03-07 15:57] #499 closed

[2021-03-08 20:18] andmarti1424 commented on #448
Done with PR

[2021-03-08 20:18] #448 closed

[2021-03-08 20:55] earthshrink commented on #459
Yes, it works this way. Thanks!

[2021-03-09 15:34] andmarti1424 commented on #495
I am working on adding RGB definitions.. It will take some time though.
I managed to get it working with latest ncurses functions.

[2021-03-09 18:07] andmarti1424 commented on #495
About how to implement this, I believe the least invasive would be to create 24 USERCOLOR slots..
And use them in types definitions like this:

DEFINE_COLOR USERCOLOR1 196 89 89
color "type=HEADINGS fg=USERCOLOR1 bg=BLACK"
or something like that.
The reason of this is because in ncurses, once you define your colors, you have to define the initpairs (a combination of fg and bg), and I believe those

[2021-03-09 20:16] reportaman commented on #495
@andmarti1424 32 colors should be sufficient for creating good themes! Also, it will be good to be able to detect if terminal supports 256+ colors or not, and make a selection in ``.scimrc``. In ``.vimrc`` users can do something like this:

[code]

[2021-03-09 20:21] andmarti1424 commented on #495
Yes. Of course I would check that.
If not handled by terminal, custom colors would be overriden to a plain black and white, or something.

NOTE: Actually, user defined colors would be 24.
Cause be will keep ncurses 8 colors intact. (You could redefine those 8 colors though).

[2021-03-09 20:26] reportaman commented on #495
@andmarti1424  Most terminals I come across seem to support 16 colors (there are BRIGHT* equivalents, like RED and BRIGHTRED). If that is something that ncurses supports, you might want to expand the base colors to include BRIGHT* versions, that way terminals that do not support 256 colors, have 16 colors; that way users are left with 16 additional color names that they can define. This has the ad

[2021-03-09 21:14] andmarti1424 commented on #495
The bright attribute, also the bold attribute, are already supported both on ncurses and sc-im

[2021-03-09 21:20] andmarti1424 commented on #495
Yes to the other. Use custom names

[2021-03-12 19:29] andmarti1424 commented on #495
Please, feel free to test this with latest commit.

[code]

[2021-03-12 22:19] Virgilio-AI commented on #460
I coul't is, I tried using ubuntu from the microsoft store but making the file leads to and error, if somebody manages to do it please let me know

[2021-03-12 22:22] andmarti1424 commented on #460
What's your OS? Ubuntu or Windows? Did you download ncurses?

[2021-03-12 22:35] Virgilio-AI commented on #460
my os is windows, for me to use ncurses I tried using the linux ubuntu terminal in available in the microsoft store, I manage to install all the requirements but making the file fails ( I believe since it is only a terminal of ubuntu and literally you only have one folder and would have to create the full system from scratch)
I think the main problem and the reason I was not able to do it from a s

[2021-03-12 22:36] Virgilio-AI commented on #460
ncurses is not avaliable for windows 10

[2021-03-12 22:42] andmarti1424 commented on #460
Mmm. Try cygwin perhaps?

[2021-03-13 03:38] andmarti1424 commented on #487
Added new 'input_bar_bottom' configuration variable" on latest commit.

[2021-03-13 03:42] #323 closed

[2021-03-13 03:45] andmarti1424 commented on #311
This shouldn't be happening anymore. Tested again with both files you sent and I had no problem.
Could you please test it again and report back?
Thanks!

[2021-03-13 03:47] andmarti1424 commented on #334
Sorry. I see no error that give a clue. This must be something with the OS itself. Could you please report this to SmartOS devs?

[2021-03-13 03:51] andmarti1424 commented on #311
Your suggestion BTW might be a good improvement.

[2021-03-13 03:53] andmarti1424 commented on #306
Please try redefining colors after today's commit.
You can now define custom colors with a RGB value and use it with types.

[2021-03-13 03:55] andmarti1424 commented on #304
This seems a terminal issue. I dont see anything I can do from stop happening.
Please update ncurses. It might change the behaviour.

[2021-03-13 03:56] #304 closed

[2021-03-13 10:35] rwmpelstilzchen commented on #311
I’ve just built sc-im (`git clone https://github.com/andmarti1424/sc-im` followed by `cd sc-im` and `make -C src`), but when I open the said `bdproto.csv` with the newly-compiled `src/sc-im` I still get the same error message.

Can you test that file in order to see whether it opens or not?

[2021-03-13 11:24] andmarti1424 commented on #311
It actually gets opened without problem for me. Its a weird csv since it has long values but no hangs or segfault here. What is your terminal size?

[2021-03-13 11:45] andmarti1424 commented on #343
Yes. Its actually shows the overlapped chars without the actuall cell colors. This would show weird in case you have a background color different on both cells, but it should shown correctly if they both share the same background..

[2021-03-13 11:48] andmarti1424 commented on #346
I really dont know what conda-forge is. A GNU/Linux distribution?
If you got ther libzip error just disable xlsx support

[2021-03-13 11:49] andmarti1424 commented on #331
Yes. Updated! Thanks

[2021-03-13 11:49] #331 closed

[2021-03-13 12:00] Hoeze commented on #346
@andmarti1424 Anaconda is a cross-platform / cross-distro package manager: https://anaconda.org/
Its only dependency is a functional glibc. It is very popular in e.g. data science applications as it resolves dependencies of all installed programs to find a working set of dependencies, in contrast to distro package managers that simply install the newest available package version.

conda-forge is a

[2021-03-13 12:03] rwmpelstilzchen commented on #311
$ stty size
    32 158

It behaves the same when I decrease the font size.

[2021-03-13 12:07] andmarti1424 commented on #346
I see. I believe this should be prompted to that project. They might need a package maintainer for sc-im.

[2021-03-13 12:09] andmarti1424 commented on #311
If you can get it to crash, could you please send gdb output?
I have no problem at all with your file.
Thanks.

[2021-03-13 12:17] OliverLew commented on #460
If you are using Windows WSL, then isn't that Ubuntu already a complete Linux system. Have you tried to install ncurses and bison just like on *nix platforms with (within the ubuntu terminal you mentioned)
[code]
or something similar?

[2021-03-13 12:29] rwmpelstilzchen commented on #311
I’ve played a bit with the file, and it seems the problem is not with the length of the file or the cells but with values containing only `-` (hyphen-minus, `U+002D`), either within "" or not. I guess it is interpreted as a formula.

[2021-03-13 15:46] sjmulder commented on #334
The original logs are gone, they had very concrete errors. I'll recheck to see if there are any recent logs.

[2021-03-13 15:48] sjmulder commented on #304
It's just PuTTY. Other curses apps behave well. It's using system curses.

[2021-03-13 15:49] andmarti1424 commented on #334
Ok. Please share them if you find them

[2021-03-13 15:53] sjmulder commented on #334
Looks like recent builds have been successful, I think https://github.com/andmarti1424/sc-im/pull/370 may have fixed it.

[2021-03-13 15:53] #334 closed

[2021-03-14 01:24] Virgilio-AI commented on #460
@OliverLew, yes that's the first think I did and it worked, but I belive that terminal is not very well integrated into the sistem so i doesn't let's me navigate my computer files and store new, obviously it doesn't alouds to compile files that are inside my sistem, I believe is just an emulation of linux. if somebody know's what to do you can let me know. I am currently using the ubuntu app that

[2021-03-14 03:55] Virgilio-AI commented on #460
@OliverLew hello, yes you were right. I found out the folder that cointains all windows data. I think I am almost there. if you have more experience making proyects using make perhabs you could help me with this error message
![image](https://user-images.githubusercontent.com/59902976/111056641-3d8a8f00-8446-11eb-8bc1-f868905023ee.png)
I have already installed ncurses, bison, make, gcc. even the o

[2021-03-14 03:57] andmarti1424 commented on #460
It's not linking to ncurses properly. Try with - lncursesw

[2021-03-14 04:06] OliverLew commented on #460
@Virgilio-AI that seems the only problem here. I guess it's something like you downloaded `sc-im` files on Windows and couldn't access those files in the Ubuntu subsystem?

Actually you can do everything just in Ubuntu, download(clone) source files with `git`.

Or if you want to send files from Windows to Ubuntu, a quick search leads me to this:
https://www.howtogeek.com/426749/how-to-access-your-

[2021-03-14 15:55] ECon87 commented on #438
I second this. This feature would be amazing

[2021-03-14 19:16] andmarti1424 commented on #506
@reportaman have you tried the latest commits that can handle custom colors with rgb values?

[2021-03-15 01:53] reportaman commented on #495
@andmarti1424 Seems close! Two issues, and one enhancement:

1. Colors defined with DEFINE_COLOR, and REDEFINE_COLOR do not look same. Try for instance:
[code]
2. ``:define_color`` gives error "COMMAND NOT FOUND", ``:redefine_color`` does not give such an error & works.

3. ``:redefine_color`` does not work on user defined colors. I guess that won't be needed if ``:define_color`` works...

Here's

[2021-03-15 02:03] andmarti1424 commented on #495
Yes. I still have to add it to the command mode.
Please add this to your scimrc file:

DEFINE_COLOR "cornsilk" 255 248 220
DEFINE_COLOR "wheat" 245 222 179
DEFINE_COLOR "dark_khaki" 189 183 107
DEFINE_COLOR "gray50" 127 127 127
DEFINE_COLOR "gray80" 204 204 204
DEFINE_COLOR "gray90" 229 229 229
color "type=GRID_PAIR fg=verde bg=cornsilk"
color "type=GRID_ODD fg=verde bg=wheat"
color "type=HEADINGS

[2021-03-15 02:19] andmarti1424 commented on #495
I found out that the difference on colors is because redefine color expected 0-1000 values while define color range goes from 0 to 255.
I modified that so both expect the later. Please update to latest commit.

[2021-03-15 02:24] andmarti1424 commented on #495
the number 2 was added as well.

[2021-03-15 02:51] reportaman commented on #495
@andmarti1424 Cool, one last point regarding this. ``:define_color "RED" 255 0 0`` gives a misleading error message ``Defined custom color...`` (though luckily doesn't apply it). Maybe a place for an error message :)

[2021-03-15 02:51] reportaman commented on #495
Also, I tested with your latest commit, can confirm it resolved 1) & 2)

[2021-03-15 02:53] andmarti1424 commented on #495
Now I will wait for that Dracula theme!

[2021-03-16 06:10] for-coursera opened #512 "Error building with old ncurses version that cannot handle 'BUTTON5_PRESSED': use of undeclared identifier"
Probably, some guards should be added if ncurses has no mouse support? :)

    tui.c:1496:24: error: use of undeclared identifier 'BUTTON5_PRESSED'
            event.bstate & BUTTON5_PRESSED) { // scroll down
                           ^
    tui.c:1501:37: error: use of undeclared identifier 'BUTTON5_PRESSED'
                currow = event.bstate & BUTTON5_PRESSED ? forw_row(n)->row : back_row(n)-

[2021-03-16 06:16] andmarti1424 commented on #512
I believe you set MOUSE macro, but your ncurses version is older than mine..

[2021-03-16 06:28] for-coursera commented on #512
@andmarti1424

Ah, yeah, commenting out `CFLAGS += -DMOUSE` in Makefile fixes it, thanks.

While we are at it, on another machine I also have a similar problem with `A_ITALIC`:

    tui.c:1390:32: error: use of undeclared identifier 'A_ITALIC'
        if (uc->italic)    attr |= A_ITALIC;

It's also due to the ncurses limitations on that machine? Commenting that line out fixes the compilation sure.

[2021-03-16 12:00] andmarti1424 commented on #512
Please try building sc-im on both machines with latest commit. It will hopefully try detecting if using old ncurses version so it can complete building (off course disabling italic and/or mouse scroll if cannot be handled by your ncurses version).
btw which version do you have?

[2021-03-16 13:47] for-coursera commented on #512
One problematic machine is an old Ubuntu, so here it goes (was complaining about `BUTTON5_PRESSED`):

    libncurses5/xenial,now 6.0+20160213-1ubuntu1 i386 [installed]
    libncurses5-dev/xenial,now 6.0+20160213-1ubuntu1 i386 [installed]
    libncursesw5/xenial,now 6.0+20160213-1ubuntu1 i386 [installed]
    libncursesw5-dev/xenial,now 6.0+20160213-1ubuntu1 i386 [installed]
    ncurses-base/xenial,

[2021-03-16 13:49] andmarti1424 commented on #506
Wrote a wiki explaining this:
https://github.com/andmarti1424/sc-im/wiki/Changing-colors
Thanks for the details.

[2021-03-16 13:49] #506 closed

[2021-03-16 13:56] andmarti1424 commented on #512
Thank you for the report. I thought you would be using older version.
btw I use 6.2-1
I also thought that 6.2 should handle italic but.. only those who port them to OSX can answer that.

[2021-03-16 13:56] #512 closed

[2021-03-16 13:56] for-coursera commented on #512
@andmarti1424

Eh... sorry, no so fast :(

On Ubuntu it crashes while compiling: https://termbin.com/2w4q

And on mac it builds OK but then core dumps when launched.

Sorry once again for being in such an idiot :(

[2021-03-16 13:59] andmarti1424 commented on #512
@for-coursera hahah. No problem.
But thats a different issue.  Its not finding ncurses library..
That is way its complaining about every ncurses functions and variable.

[2021-03-16 14:01] andmarti1424 commented on #512
About the mac issue please open another issue so OSX users can help you.
Please give details on how you built it and any other information about the crash.

[2021-03-16 14:04] for-coursera commented on #512
About the Ubuntu case: any way to fix it may be? :)

[2021-03-16 14:06] andmarti1424 commented on #512
I dont have Ubuntu but just check you have ncurses correctly installed.

Have you checked the wikis:
https://github.com/andmarti1424/sc-im/wiki
?
There are some instructions for Ubuntu

[2021-03-16 14:35] for-coursera commented on #512
@andmarti1424

Concerning the macOS case: it's definitely something that was introduced with the commit 219072c (if I comment out MOUSE in Makefile and A_ITALIC in tui.c, commit b07d2f6 builds and launches OK).

Here's the full build log just in case for the commit dd4eb5e (the one that segfaults after building): https://termbin.com/f9ti

Concerning the Ubuntu case: I checked the wikis but don't r

[2021-03-16 14:44] andmarti1424 commented on #512
There was a typo in 219072c
BUTTON_5_PRESSED
should be
BUTTON5_PRESSED
I fixed it couple of minutes after that commit.
Please update to latest commit and try again.
If it still fails please try running it with gdb. So I can have more info on that crash thanks!

[2021-03-17 01:31] andmarti1424 commented on #431
I assume your in OSX. Could you please run it with gdb and send the output? Thanks!

[2021-03-17 01:34] andmarti1424 commented on #476
Could you solve this?

[2021-03-17 01:40] kdkasad commented on #476
@josephgerth Can you post the (exact) output of the commands you ran to install sc-im? My guess is you didn't run `make install` as root, which is necessary to install system-wide.

[2021-03-17 01:43] #411 closed

[2021-03-17 01:45] andmarti1424 commented on #402
Could you please try again with latest git commit? You can redefine ncurses colors or even you can redefine a type background to a custom rgb. Please check wiki

[2021-03-17 01:46] andmarti1424 commented on #403
Could you solve this?

[2021-03-17 01:48] andmarti1424 commented on #375
Could you test this again? There were modifications regarding this topic. Thanks

[2021-03-17 01:50] andmarti1424 commented on #347
Sure? Sigwchg is handled from long time ago. Which is your terminal?

[2021-03-17 01:51] andmarti1424 commented on #352
Could you finally managed to plot?

[2021-03-17 01:56] andmarti1424 commented on #313
Already done! Please check latest commit

[2021-03-17 01:56] #313 closed

[2021-03-17 01:58] andmarti1424 commented on #306
This was added.

[2021-03-17 01:58] #306 closed

[2021-03-17 01:59] andmarti1424 commented on #314
Yes. This was added

[2021-03-17 01:59] #314 closed

[2021-03-17 02:03] andmarti1424 commented on #322
@divramod sorry.i misunderstood what you where asking. I thought you wanted to trigger UI refresh. What you need is a good idea. It could be handled with a signal..

[2021-03-17 02:05] andmarti1424 commented on #264
Could not find any single C example of its use. If you do please share and I will try to add this.

[2021-03-17 02:07] #261 closed

[2021-03-17 14:29] #308 closed

[2021-03-17 20:22] ZaxonXP opened #513 "Compilation error: undefined reference to `init_extended_pair'"
I tried to compile the sc-im on Debian 8.11 but I got the following errors:
[code]
Anyone can point me out what do I miss?

Regards,
Piotr

[2021-03-17 20:24] andmarti1424 commented on #513
Hello. Please update you ncurses version.. I use ncurses 6.2-1

[2021-03-18 14:22] andmarti1424 commented on #513
I did a quick research and it seems that debian jessie has ncurses 5.9. Am I wrong?
If so, please try updating it.

[2021-03-18 14:22] andmarti1424 commented on #513
May be with a manual build of ncurses..

[2021-03-18 16:25] magpie514 opened #514 "Incorrect version string."
Hello.

I've recently updated to the latest version of sc-im from git, and when starting it still says it's version 0.7.0, even after the latest formal release.
I've noticed version.h still says 0.7.0 here in the git repo, so it seems to be just that.

Excellent updates, by the way.

[2021-03-18 16:52] andmarti1424 commented on #514
Man I forgot last git push.
Thats fixed now. I have also asked Rhinoceros (AUR maintainer) to update the package.
Thank you.

[2021-03-18 16:52] #514 closed

[2021-03-18 21:56] ZaxonXP commented on #513
I did download the ncurses 6.2 from [here](ftp://ftp.invisible-island.net/ncurses/ncurses.tar.gz), then made:
[code]
After that I tried to recompile `sc-im`, but the result is the same. What did I do wrong?

[2021-03-18 21:59] andmarti1424 commented on #513
What you did seems correct but for some reason the building process it is not finding That version of the library. Or may be it is finding the previous version?

[2021-03-18 22:16] andmarti1424 commented on #513
Run 'pkg-config --cflags ncursesw' and 'pkg-config --libs ncursesw' and see if the output corresponds to where you installed ncurses..

[2021-03-18 23:53] ZaxonXP commented on #513
It looks there was a version 5 installed by package manager. I removed it with apt-get remove, but after running these commands I got nothing:
[code]
However when I recompiled the sc-im sources this time I got no error. :)
I ran it from the src directory, but when I checked the version it was 0.7.0 and not 0.8.0. Why is that?

[2021-03-18 23:55] #513 closed

[2021-03-19 00:19] ZaxonXP opened #516 "Color HEADINGS : How to change color of alternate columns?"
If I do:
[code]
then only every second column header is changed, but every other stays yellow.
How can I change the other columns header color?

Also where can I find the color scheme definition from version 0.7.0 (I really liked that one)?

Regards,
Piotr

[2021-03-19 00:30] andmarti1424 commented on #513
May be plain ncurses lib (without the W)

[2021-03-19 00:33] andmarti1424 commented on #516
Yes. You now have to set  HEADINGS_ODD! forgot to add it in doc

[2021-03-19 00:34] andmarti1424 commented on #516
Just compare to default values in color.c. Really don't remember which colors where at that time

[2021-03-19 00:43] ZaxonXP commented on #516
Thanks!

[2021-03-19 00:43] #516 closed

[2021-03-19 11:24] andmarti1424 commented on #513
Check this https://github.com/andmarti1424/sc-im/issues/514
about version number issue.

[2021-03-19 11:29] ZaxonXP commented on #513
Actually it was my fault as I had a previous version opened and for some strange reason it was running it even if I run the latest compiled version locally. But thanks for sharing the info.

[2021-03-19 12:50] andmarti1424 commented on #498
AUR package was updated. Culd you managed to build it?

[2021-03-19 12:50] #495 closed

[2021-03-19 12:51] #487 closed

[2021-03-19 13:00] andmarti1424 commented on #491
I believe someone already did it. Now its at v0.8

[2021-03-19 13:17] andmarti1424 commented on #482
Anyone had this issue as well? @thexhr could you please run it with gdb and send the stacktrace? thanks

[2021-03-19 13:20] #462 closed

[2021-03-19 13:22] andmarti1424 commented on #469
I was always at doc.  But the tex file should be generated..

[2021-03-19 13:56] andmarti1424 commented on #453
it should open without problem. could you please attach the file?

[2021-03-19 14:00] thexhr commented on #482
@andmarti1424 I already included a stacktrace in the first post. Do you need something else?

[2021-03-19 14:39] andmarti1424 commented on #417
Could you please try this again with latest git commit ?
If not crashing could you please compare if you see everything as it should.
About the dates, you still have to convert the numbers that represent dates to a date format of your choice, so that it gets displayed correctly.

[2021-03-19 15:28] itsfarseen commented on #417
@andmarti1424 I can confirm that the segfault is no longer present while loading the sheet.xslx file provided by the OP.

[2021-03-19 15:30] andmarti1424 commented on #417
@itsfarseen thank you.

[2021-03-19 15:31] itsfarseen commented on #417
I can also confirm that the dates are displayed as numbers.

[2021-03-19 15:42] jose1711 commented on #417
No more crash here as well. Thanks for the fix!

[2021-03-19 16:14] andmarti1424 commented on #417
Actually, the dates should be converted correctly (of course you might get a difference in a day perhaps when not setting timezone in config..). @jose1711 where you generated the xlsx?

[2021-03-19 16:32] andmarti1424 commented on #417
Please update to latest commit and try again. It should show the dates now. (I have added the datetime type used in your spreadsheet so it can be converted as well)..

[2021-03-19 16:33] #346 closed

[2021-03-19 16:38] andmarti1424 commented on #482
Yep @thexhr Sorry. I saw this now.
Does this still happens to you?
Really weird. Seems bison/yacc crashing. What is your bison version?
Could you happen to have valgrind installed.  Could you execute with it and send its log? It might give me more information. Thanks.

[2021-03-19 16:46] andmarti1424 commented on #419
Hello @itsfarseen . Actually that shouldn't happen since the backup is made with a new name and once its finished the old backup is replaced with the new one.
There is a little little change that power goes down just after the delete and before that rename. See lines 1666 and 1669 of file.c. But if that is the case you should end up with a .new file with the backup.. and no .bak file.
You shouldnt

[2021-03-19 16:51] thexhr commented on #482
T.b.H. I cannot reproduce it now since the latest master doesn't compile on OpenBSD :/

[code]

While this is bad for progressing this bug I don't want to derail the issue with compile problems that could be related to OpenBSD's curses lib (?).

[2021-03-19 17:23] andmarti1424 commented on #482
Yep. That is because the version of ncurses you have dont have that function defined.. You might need version 6.2 or just replace the two init_extended_color calls on color.c with init_color..
(lines 580 and 642). Will try to autodetect that..

[2021-03-19 17:26] andmarti1424 commented on #482
Could you please tell me the version of ncurses you have?

[2021-03-19 18:26] itsfarseen commented on #417
I just tried the latest commit: a8534aa7fdaace10139e2f6771d7a0dc26ffb62b.
`sc-im ~/sheet.xlsx` segfaults.
[code]
doesn't segfault.
And the dates are shown correctly.

[2021-03-19 18:27] andmarti1424 commented on #417
@itsfarseen I dont understand. It segfaults without gdb and not with gdb?!

[2021-03-19 18:28] itsfarseen commented on #419
I'm no longer facing this issue. Closing.

[2021-03-19 18:28] #419 closed

[2021-03-19 18:29] itsfarseen commented on #417
Correct.

[2021-03-19 18:31] itsfarseen commented on #417
Oops! My bad. I was typing `sc-im` instead of `./sc-im` :sweat_smile:

[2021-03-19 18:31] andmarti1424 commented on #417
Im lost there. Please try running it with valgrind and/or log gdb output so we can see something weird..

[2021-03-19 18:31] andmarti1424 commented on #417
OK. Now you see the dates?

[2021-03-19 18:32] itsfarseen commented on #417
Yes, the dates are now visible.

[2021-03-19 18:33] andmarti1424 commented on #417
Great

[2021-03-19 18:33] #417 closed

[2021-03-19 18:50] andmarti1424 commented on #482
Anyways. I uploaded a change so it try to detect the version of ncurses and use plain init_color if version is prior to 6.1..

[2021-03-19 19:14] #474 closed

[2021-03-19 19:22] andmarti1424 commented on #409
Please try this with latest git commit. Thanks.

[2021-03-19 19:27] andmarti1424 commented on #408
If you want to save in csv format you need to save it like  this:
:e csv ..

[2021-03-19 19:29] #361 closed

[2021-03-19 19:30] andmarti1424 commented on #365
hello.
fh and fl in  normal mode.. ?

[2021-03-19 19:32] andmarti1424 commented on #406
Please install libxls for xls support. (Dont recommend it since its obsolete).
You cant move around between sheets sadly.
Right now, SC-IM only supports one file opened at a time.
You can open a different sheet other than the first one though. You can use the --sheet parameter.  Please check out doc file.

[2021-03-19 19:32] #406 closed

[2021-03-19 19:37] andmarti1424 commented on #311
@rwmpelstilzchen That should not break anything. You really still get segfault? I have tried it again with your bdproto file. And it showed it without problem..

[2021-03-19 19:46] #352 closed

[2021-03-19 20:00] andmarti1424 commented on #350
locale -k LC_TIME

[2021-03-19 20:05] andmarti1424 commented on #350
You can create a mapping in normal mode to use a control key and write a :format command..

[2021-03-19 21:12] jose1711 commented on #417
All looking great here, too. Thank you again.

Not sure if this is still relevant but the file has been generated by python script (using `openpyxl` module).

[2021-03-19 21:14] andmarti1424 commented on #417
I see. Thank you.

[2021-03-20 07:43] reportaman commented on #491
@andmarti1424 Yes, I confirm that. Though ``sc-im --version`` gives misleading value of ``0.7.0``. Also, the brew bottle (i.e. pre-built binary) doesn't have a dependency on xlsread/write libs, so it doesn't come with those features enabled. And for some reason, doing ``brew install sc-im --build-fromw-source`` gives ``Error: SHA mismatch``:

[code]

[2021-03-20 09:40] thexhr commented on #482
ncurses is part of OpenBSD base system so there is no installed package. Since I were not sure how to find out the version number I looked into `/usr/include/ncurses.h` and found the following:

[code]

I tried compiling latest master c12c527424e9d5 and it makes no difference. Build still fails with the same error as above.

[2021-03-20 12:46] sanjeebSubedi commented on #453
I found out that the problem was while opening large files.

[2021-03-20 12:46] #453 closed

[2021-03-20 12:48] andmarti1424 commented on #453
It should not crash doesn't matter the size the size. Please attach the file if you have a problem with one.

[2021-03-20 12:51] andmarti1424 commented on #438
@Finxert?

[2021-03-20 12:53] andmarti1424 commented on #491
Oh I see. It should be updated I believe. Isn't a maintainer for that? Or a mark to set it outdated just like in AUR?

[2021-03-20 12:53] sanjeebSubedi commented on #453
I just checked it and its working fine now. It has been such a long time since I opened this issue. Maybe It got fixed in an update. Thanks.

[2021-03-20 13:00] andmarti1424 commented on #482
Yes. Kinda old.. init_extended_color was introduced on v6.1. In my second to last commit I have added a check for that macros  NCURSES_VERSION_MAJOR and NCURSES_VERSION_MAJOR.. so that those Init_extended_color gets replaced with init_color.. But for some reason it is not working for you.

[2021-03-20 13:27] Finxert commented on #438
Has the feature not been implemented?

[2021-03-20 13:34] andmarti1424 commented on #438
I have not done anything so I assume no

[2021-03-20 13:46] Finxert commented on #438
I'm 99% sure wimstockman fixed this in his pull request

#445

[2021-03-20 13:50] andmarti1424 commented on #438
I see
Will check it out

[2021-03-20 15:36] #498 closed

[2021-03-20 15:37] #476 closed

[2021-03-20 15:37] #403 closed

[2021-03-20 15:38] #402 closed

[2021-03-20 15:38] #375 closed

[2021-03-20 15:38] #347 closed

[2021-03-20 15:39] #409 closed

[2021-03-20 15:40] andmarti1424 commented on #438
I reopen so it doesnt get lost.

[2021-03-20 15:48] andmarti1424 commented on #454
Mainly all stuff should be in cmds_edit.c file. Your might need to store the cell content after each edition (wchar_* ) on a list, and free the list after confirm with ENTER or cancellation with ESC key.
you might like (or not) to store the current cursor position after each change as well.
here the important part: you then have to change inputline variable content with each 'u' undo or 'C-r' redo

[2021-03-21 12:52] andmarti1424 commented on #408
Did you try it? Just let me know if you still got problems.

[2021-03-21 12:52] #408 closed

[2021-03-21 12:54] andmarti1424 commented on #350
Hello. Did you manage to try it? Just let me know if you have any problems..

[2021-03-21 12:54] #350 closed

[2021-03-21 13:13] andmarti1424 commented on #365
you might enter something like this as well:
:int format C 14 2 0

[2021-03-21 13:21] andmarti1424 commented on #482
If you can help me with this.. I would ask you to replace the init_extended_color with init_color. If that builds ok, then theres a problem in the macro evaluation I added. the one that evaluates NCURSES_VERSION_MAJOR and NCURSES_VERSION_MAJOR. please let me know. thanks.

[2021-03-21 13:43] andmarti1424 commented on #438
Yes.  This is working great. The only drawback, if you can call it like that, is that if you paste a cell in a range (10x10)... for its undo, you have to press 'u' 100 times.
may be an improvement for the future.

[2021-03-21 13:43] #438 closed

[2021-03-21 14:03] roman65536 commented on #496
@reportaman Need to check whether to general interface was changed on sc.lsetstr since lua is writing right to the cell structure.
What may also be a problem, (didn't follow sc-im since a while) whether the depgraph plays against lua. Not sure, may be lua needs to extend a bit, so any update from lua side will be tracked also in the dep-graph stuff.

@andmarti1424 Do you have any idea how it could

[2021-03-21 14:08] andmarti1424 commented on #326
Sorry for the long delay on answering. Will check this out.

[2021-03-21 14:37] andmarti1424 commented on #496
@roman65536 man, my memory is sooo bad. cannot recall but could be.
will try to check it out.

[2021-03-21 15:18] andmarti1424 commented on #418
Yes, I believe its a design decition.
It could get out of 'waiting for valid command' automatically when there is no possibility of a valid one...
but you still can keep it as is, indicating that not a valid command was introduced.
the cons of the first one: if you go back automatically you might believe a valid command was issued.. when was not the case.
the cons of the second is that you have to

[2021-03-21 15:18] #418 closed

[2021-03-21 15:22] andmarti1424 commented on #420
Hello. When you use :w command it always gets saved in .sc format.
Doesnt matter if you open a csv file.
If you want to keep the .csv format you always have to prompt ':e csv..'
This might change in future, but from now that is how you suppose to do it.
Hope that helps.

[2021-03-21 15:24] andmarti1424 commented on #373
@JBlocklove you can use import_delimited_as_text to avoid that conversion. Then everything is imported as text. Hope  that helps.

[2021-03-21 15:35] andmarti1424 commented on #348
Yes. Please open a discussion for this.

[2021-03-21 15:35] #348 closed

[2021-03-21 15:35] andmarti1424 commented on #362
Yes. Please open a discussion for this.

[2021-03-21 15:35] #362 closed

[2021-03-21 16:36] roman65536 commented on #496
@andmarti1424 What I need to do, when updating ent structure so the dep-graph will take care of it ? Is there a simple way to say cell(x,y) was updated and needs to be recalculated ?

[2021-03-21 16:49] andmarti1424 commented on #496
if its already in the depgraph then nothing. it should reeval all alone.
:int print_graph
to see if its the ent is in the graph

[2021-03-21 17:03] roman65536 commented on #496
As far I know, I just did modify ent structure which I get from lookat. I never pass the cell to dep-graph, so I don't know if it is there or not. But is there a way to force it ?

[2021-03-21 17:06] andmarti1424 commented on #501
@reportaman Actually, @fmt works.
Try this:
@fmt("%6.3f",A0)

[2021-03-21 17:15] andmarti1424 commented on #496
:int rebuild_graph               just rebuilds it from scratch
:int print_graph               to see whats in the graph..
:int recalc                    should reeval the graph

You can reeval just one ent with EvalJustOneVertex function

[2021-03-21 17:48] andmarti1424 commented on #497
I believe we can close this.

[2021-03-21 17:48] #497 closed

[2021-03-21 17:51] gnusupport commented on #348
You have expanded `sc` to `sc-im` so `sc` was small already and was enhanced by you, thank you. You have no time alright. I can make convertor somehow.

[2021-03-21 17:53] andmarti1424 commented on #18
I believe this wont happen on version 1 of sc-im. Please feel free to open a discussion on adding this to v2 of SC-IM thoughts.
That one would have its core replaced and will support multisheet and multiple files open at the same..  Thanks.

[2021-03-21 17:53] #18 closed

[2021-03-21 17:56] andmarti1424 commented on #348
You can export formulas to a csv file if you save them as text.
But please open a discussion so everyone can vote/express on this topic.

[2021-03-21 17:59] andmarti1424 commented on #256
My plan is to keep developing sc-im version 1 as is without multiple sheet support.
And in paralle lstart a new core from scratch that could handle multiple sheet, multiple files.. (@roman65536 already done some stuff regarding this). May be that could be the start of the new core.

[2021-03-21 17:59] #256 closed

[2021-03-21 18:01] andmarti1424 commented on #264
Please if you find an example, please reopen. If its not too difficult I can add it for v1 of sc-im. thanks.

[2021-03-21 18:01] #264 closed

[2021-03-21 18:13] #192 closed

[2021-03-21 18:16] andmarti1424 commented on #252
I close this. Please open a discussion so other can vote/discuss on this addon. Thanks.

[2021-03-21 18:16] #252 closed

[2021-03-21 18:20] #226 closed

[2021-03-21 18:23] roman65536 commented on #496
This is for reeval. but how get the "ent" in to dep-graph in the first place ? This means, when ever a Lua script changes values via lookat, such as be sc.setnum, sc.setstr, sc.setform, those cell needs to in the dependency of the calling lua cell. Could it be, that Lua needs to use "void ents_that_depends_on (struct ent * ent) " on each "ent" which is changed via Lua ??

[2021-03-21 19:08] andmarti1424 commented on #496
if its not there you can add it with
GraphAddVertex(graph, ent);

ents_that_depends_on is used for undo/redo

[2021-03-21 19:09] andmarti1424 commented on #496
Like this:
if (ent && getVertex(graph, ent, 0) == NULL) GraphAddVertex(graph, ent);

[2021-03-21 19:15] andmarti1424 commented on #249
@roman65536 Would you have that example file to send? I have created one with ®123 and had no problem. Probably it didnt get saved as you describe under /si/r/t.. Thanks

[2021-03-21 19:21] #480 closed

[2021-03-21 19:24] andmarti1424 commented on #452
Yes. The idea is to add this feature in a v2 of SC-IM.
That would have a new core that supports multiple sheet and multiple files opened.

[2021-03-21 19:24] #452 closed

[2021-03-21 19:26] andmarti1424 commented on #431
Do you still have this issue?

[2021-03-21 19:27] andmarti1424 commented on #415
@Karl-Stefan do you still have this issue?

[2021-03-21 19:30] andmarti1424 commented on #399
Yessss. May be renaming 'g' command to 'gt' ???

[2021-03-21 19:47] andmarti1424 commented on #341
This was already merged. See this: 438

[2021-03-21 19:47] #341 closed

[2021-03-21 19:48] Karl-Stefan commented on #415
@andmarti1424 just did a pull and make, and am not able to reproduce the error with the new binary. Thank you :)

[2021-03-21 19:49] andmarti1424 commented on #332
Did you try @fmt function?

[2021-03-21 19:57] andmarti1424 commented on #324
Hello.
1. No. You can preserve content and export everything as text though. please check import_delimited_as_text config. variable.
2. :int format C 14 2 0
for instance.
hope that helps!

[2021-03-21 19:57] #324 closed

[2021-03-21 20:02] andmarti1424 commented on #284
Please open a discussion for this topic.

[2021-03-21 20:02] #284 closed

[2021-03-21 20:03] #282 closed

[2021-03-21 20:06] andmarti1424 commented on #326
Already merged!!

[2021-03-21 20:06] #326 closed

[2021-03-21 20:07] andmarti1424 commented on #300
Hello there.
This was already implemented. You can yank a cell. Select a range in visual_mode and paste it with p command.
(or P if you want  to keep references)..

There were also improvements on file loading @nightsdark. Please give it a try.

[2021-03-21 20:07] #300 closed

[2021-03-21 20:09] andmarti1424 commented on #330
Please give it a try again.  This was muuuch improved on  v0.8.
You can also send us your file. I always keep big files for testing.
Thanks.

[2021-03-21 20:09] #330 closed

[2021-03-21 20:11] andmarti1424 commented on #307
Hello. Soo sorry for the delay. We are adding better support for braille thanks to @npitre.
@stormdragon2976 havent you try adding mappings?
You now can also use mappings in visual mode..
How can be help to get better user experience?

[2021-03-21 20:17] andmarti1424 commented on #415
To you.

[2021-03-21 20:17] #415 closed

[2021-03-21 20:21] andmarti1424 commented on #477
@BlakeWeissman was @reportaman useful to you?

[2021-03-21 20:25] andmarti1424 commented on #335
Numbers align to right. As I said earlier this comes from old sc.
I too think text and numbers shouldnt be need to be shown in a same cell. But my idea is not to change that and keep it as stock.
Hopefully in v2 of sc-im with its new core, that would be changed.
Please feel free to open a discussion about the change in alignment of numbers..
Thanks

[2021-03-21 20:25] #335 closed

[2021-03-21 20:29] #285 closed

[2021-03-21 20:36] andmarti1424 commented on #281
No @remembertoremind . Sorry.
There's a future plan of replacing sc-im core to permit multiple sheets and files opened at the same time.
But no right now.

May be a workaround (not the same of course) as suggested by @singpolyma-shopify could work..

[2021-03-21 20:36] #281 closed

[2021-03-21 20:39] andmarti1424 commented on #274
I believe macros would not be very difficult task to add. And very useful.

[2021-03-21 20:50] andmarti1424 commented on #291
You can open and save csv file that has numbers and interpret them as text..
Check the configuration value 'import_delimited_as_text'..

[2021-03-21 21:03] andmarti1424 commented on #432
This was fixed. Just be sure to enter the string expression like this:
\" @sval("B", 1)

[2021-03-21 21:03] #432 closed

[2021-03-21 21:26] reportaman commented on #501
@andmarti1424 Ok thanks! Please add it to ``:help`` document. Yes it seems to work, and here's the meaning of formats: https://www.gnu.org/software/libc/manual/html_node/Floating_002dPoint-Conversions.html

[2021-03-21 21:29] reportaman commented on #501
Why does it not work in an expression like this: ``=@avg(@coltoa(@mycol)0:@coltoa(@mycol)@fmt("%.f",@myrow-1))``?

[2021-03-21 21:46] #483 closed

[2021-03-21 21:47] andmarti1424 commented on #501
I am really not sure.
@coltoa(@mycol)0
doest work either.
And this was what prevent me to finish my work on https://github.com/andmarti1424/sc-im/issues/451

[2021-03-21 21:48] andmarti1424 commented on #501
btw, this sure happens in old sc too. its inherited from there.

[2021-03-21 21:52] #481 closed

[2021-03-21 21:59] reportaman commented on #501
@andmarti1424 Regarding ``@coltoa(@mycol)0``, this works: ``\"@coltoa(@mycol) # @fmt("%.f",@myrow)``

[2021-03-21 22:03] reportaman commented on #501
@andmarti1424 And for range, this works too!

``\"@coltoa(@mycol) # "0:" # @coltoa(@mycol) # @fmt("%.f",@myrow)``

From cell C14, it prints: ``C0:C14``

[2021-03-21 22:04] andmarti1424 commented on #501
\"@coltoa(@mycol) # "0" works..
The thing is "0" is a string, but 0 of course no. And # concatenates 2 strings..
@fmt outputs a string as well..

[2021-03-21 22:06] andmarti1424 commented on #501
And @avg expects a range (defined in gram.y) not a string..

[2021-03-21 22:11] reportaman commented on #501
@andmarti1424 If it is possible to accept either style, then something like this could work? Not sure if there are any caveats, and how difficult that is...

``=@avg(@coltoa(@mycol) # "0" # ":" # @coltoa(@mycol) # @fmt("%.f",@myrow))``

[2021-03-21 22:18] reportaman commented on #477
@BlakeWeissman At the time I made that last comment, sc-im had a bug that prevented ``\@coltoa(@mycol)<CR>`` to print D when entered in cell D2. Now that is fixed, so it does exactly what you want ``@ccol`` to do. For ``@crow`` if you want numeric value then do ``=@myrow``, it will put numeric value 5 when run from cell C5. Or if you want a string value, then convert number to string and enter an

[2021-03-21 22:18] andmarti1424 commented on #501
Yes. If we manage to get a string like "B2" be interpreted as a (gram.y) var.
Then yes, a string with B2:B4 could be interpreted as a (gram.y) range without problem.
Its the same thing. And them both are (gram.y) var_or_range.
I just dont know how to achieve that in gram.y
@roman65536 may be?

[2021-03-21 22:20] andmarti1424 commented on #477
Yes, actually with \ followed by "
that is \"@fmt..

[2021-03-21 22:28] reportaman commented on #477
@andmarti1424 Btw, as a sidenote Filipe Miguel Tavares (GitHub user @fmt) might be receiving a lot of sc-im updates :) I tend to put sc-im commands that gave ``@`` in them as code ``@fmt``. Github markdown!!

[2021-03-21 22:31] andmarti1424 commented on #477
`@fmt` Roger that

[2021-03-21 22:35] mycol commented on #477
Who disturbs my slumber?!

[2021-03-22 01:28] andmarti1424 commented on #460
Did you try it with cygwin @Virgilio-AI ?

[2021-03-22 01:38] andmarti1424 commented on #412
Yes. This was already mentioned on #302 (I close this to not duplicate) . Will try to work on it.

[2021-03-22 01:38] #412 closed

[2021-03-22 01:41] andmarti1424 commented on #301
Will try to check it out. Thanks

[2021-03-22 08:24] thexhr commented on #482
I think we always looked at the wrong place. The linker complains about a missing symbol ([comment](https://github.com/andmarti1424/sc-im/issues/482#issuecomment-802971622) from above). The following changes made it compile successfully. OpenBSD's version of ncurses doesn't contain `init_extended_pair` so I replaceed it with `init_pair`.

Since sc-im immediately segfaults when launching, my change

[2021-03-22 12:07] andmarti1424 commented on #482
@thexhr
Didnt get it quiet well. Changing init_extended_pair to init_pair permit the building process to complete. But did it get rid of the seg fault with the number separator?
BTW I have just added the NCURSES macro evaluation to init_extended_pair as well. (was only on init_extended_color)..

[2021-03-22 13:44] Iron-E commented on #352
Yes, I just didn't know that I needed to use a `csv` file. Sorry for the late response and/or ambiguous comment!

[2021-03-22 13:46] andmarti1424 commented on #352
Great!

[2021-03-22 13:53] paum3 opened #527 "subtract"
Hi,

at first, thank you for software. I can't find how to subtract two (or more) values from cells.

Best

[2021-03-22 13:56] andmarti1424 commented on #527
Go to an empty celll, and then type an equal sign (=) to start a formula.
After the equal sign, type a few numbers that are separated by a minus sign (-). For example, 50-10-5-3.
Press RETURN . If you use the example numbers, the result is 32.

[2021-03-22 13:56] #527 closed

[2021-03-22 14:02] paum3 opened #528 "Subtract values from cells"
@andmarti1424 thank you for fast reply, but maybe I was not exact.
I need to do something like @sub(A1:A2) to subtract values from different cells and I don't see it in documentation.

Thank you again..

[2021-03-22 14:07] paum3 commented on #528
ah, the simplest try just works. It is enough to write A1 - A2.
closing

[2021-03-22 14:07] andmarti1424 commented on #528
If you mean subtract numbers over a whole range. I dont think its possible.

[2021-03-22 14:07] #528 closed

[2021-03-22 15:15] strogiyotec commented on #408
Hey , will try it today

[2021-03-22 15:48] andmarti1424 commented on #227
@hymie0 @noperator Could you please update to latest git commit and try again? Thanks.

[2021-03-22 19:20] andmarti1424 commented on #201
@nshram @waveform80 Please update to latest commit and try this again. Hopefully it should be fixed.

[2021-03-22 19:21] andmarti1424 commented on #473
@4D617278 Please update to latest commit and try this again. Hopefully it should be fixed.

[2021-03-22 19:24] andmarti1424 commented on #475
@npitre Please check out my latest commit. Hopefully, and if god exists, this should be fixed.

[2021-03-22 20:01] npitre commented on #475
Not quite.

Here I get:

[code]

And the stack backtrace is almost infinite. Something is recursing indefinitely.

[2021-03-22 20:09] andmarti1424 commented on #475
Please @npitre try again. Thanks!

[2021-03-22 21:24] npitre commented on #475
Yep, my test case appears not to crash anymore.

[2021-03-22 21:26] andmarti1424 commented on #475
God exists then

[2021-03-22 21:27] #475 closed

[2021-03-23 02:15] andmarti1424 commented on #232
Hello. Please continue discussion of this on #464

[2021-03-23 02:15] #232 closed

[2021-03-23 02:16] andmarti1424 commented on #328
Anyone know an ods library for C?

[2021-03-23 02:16] andmarti1424 commented on #185
Anyone know an ods library for C?

[2021-03-23 02:35] andmarti1424 commented on #287
Hello @slackhead. Please try to reproduce it with latest commit. Thanks

[2021-03-23 02:41] andmarti1424 commented on #20
Hello @257. Did you try setting color type GRID_ODD and GRID_PAIR? Please see doc

[2021-03-23 02:43] andmarti1424 commented on #21
I close this since I am not planning on implementing this in near future.. Theres so much other stuff that has priority. But please feel free to open a discussion so others can discuss and give their opinion on this topic. Thanks.

[2021-03-23 02:43] #21 closed

[2021-03-23 02:46] andmarti1424 commented on #371
@dikeert Please try this with latest git commit and report back.

[2021-03-23 02:46] andmarti1424 commented on #371
thanks!

[2021-03-23 02:50] andmarti1424 commented on #342
@zvezdochiot For what operations?
Some say "If it's working, then don't touch it".

[2021-03-23 03:28] zvezdochiot commented on #342
Hi @andmarti1424 .

Looked through the head files. Yes, now it will be extremely difficult to use a separate math library. Although this suggests itself. But everyone chooses a "special" path.

[2021-03-23 03:28] #342 closed

[2021-03-23 03:46] slackhead commented on #287
Hi @andmarti1424

I got as far as creating the @sum(), but as soon as typed in the reference =A11 in B11 it segfaulted.  I tested 3 times.

[2021-03-23 08:14] thexhr commented on #482
Yes, using latest master I can now build successfully. Thanks for the changes!!
No, I didn't change anything regarding the original number separator seg fault.

It now segfaults right upon start due to a ncurses error:

[code]
The last 2 messages about the error in tui.c:249 and tui.c:1441 now repeat in a loop.

[2021-03-23 12:03] andmarti1424 commented on #482
@thexhr Do you happen to be opening a file? If so, please attach it here. Thanks.

[2021-03-23 13:58] andmarti1424 commented on #287
@slackhead Could you please update to latest commit and try again? Thanks!

[2021-03-23 14:01] #373 closed

[2021-03-23 14:01] #420 closed

[2021-03-23 14:03] andmarti1424 commented on #365
I leave this opened until proper :format command handle a column.. (hopefully for v0.9)

[2021-03-23 14:03] #431 closed

[2021-03-23 14:10] andmarti1424 commented on #291
@tzcrawford @kofm Was it useful for you?

[2021-03-23 14:53] thexhr commented on #482
No, I just launched sc-im.

[2021-03-23 14:58] andmarti1424 commented on #460
btw, old SC used to work on ms-dos.. Dont know how the ncurses stuff was handled..

[2021-03-23 14:59] andmarti1424 commented on #482
@thexhr Could you attach your scimrc ? Thanks

[2021-03-23 15:13] thexhr commented on #482
I have none :) I traced the program's execution and saw that it tries to open files and config folders but they're all empty:

[code]

[2021-03-23 15:43] andmarti1424 commented on #433
This froze my linux machine.
Without UNDO works ok. The problem, as you said, seems to be when having multiple cells links one to another and making any kind of change. There's something wrong when preparing the undo structure.

[2021-03-23 15:45] andmarti1424 commented on #482
Yes. Thats normal. I still dont see whats causing the segfault.

[2021-03-23 15:54] andmarti1424 commented on #399
'g' command of NORMAL_MODE changed to 'gt'"

[2021-03-23 15:54] #399 closed

[2021-03-23 16:03] andmarti1424 commented on #398
@SpectreVert Is this really confirmed?
Could this be related to https://github.com/andmarti1424/sc-im/issues/397 perhaps?
Please try again with latest commit and report back. Thanks!

[2021-03-23 16:12] thexhr commented on #482
The error is triggered by the `sc_error()` in tui.c:1441 and related to the fact that the ncurses version does not support `A_ITALIC`. I double checked by looking into `/usr/include/ncurses.h`. When I replace the `sc_error` with a no-op, sc-im compiles and starts!

[code]

So I guess you could add some more macro magic and then we should have resolved all curses related compiling errors. Not quite

[2021-03-23 17:47] nshram commented on #201
Thanks! Will compile and try it.

[2021-03-23 17:59] andmarti1424 commented on #433
@m7a made some changes. Please feel free to update to update to latest commit and try this again. Thanks.

[2021-03-23 18:10] andmarti1424 commented on #508
I believe what the commit https://github.com/andmarti1424/sc-im/commit/383ae36a367e6d388c4baaf0de58276a60183814 added is correct.
I think we should reconsidered how the lua evaluation/execution is done..

[2021-03-23 19:38] andmarti1424 commented on #374
hello. yep. that is because maxcol (internal value) get incremented when you shift right.

[2021-03-23 19:45] andmarti1424 commented on #222
@cesss Could you please attach the file wasnt calculated correctly at startup? Thanks.

[2021-03-23 19:58] tzcrawford commented on #291
Somewhat.

If I do `:set import_delimited_as_text` and `load file.csv`, or put that in my `.scimrc`, it seems to still open with default formatting `1234.00` as opposed to what it might read in plain text `1234.0`, etc. If I do `sc-im --import_delimited_as_text`, it will open the file with all cells in text format as expected. But then you can't do any math with those cells, and you can't change t

[2021-03-23 20:32] andmarti1424 commented on #288
@slackhead Please update to latest commit and try again.
Modified # with frozen row and you can also use commands
H, M, L to go to different parts of visible screen.

[2021-03-23 20:35] m7a commented on #433
I can confirm that the issue is resolved in 66e87b09d24ef5bfc395bf2b187f25589008a186. Thank you very much for the fix! From my point of view, the issue can be closed :) .

[2021-03-23 20:41] andmarti1424 commented on #433
Thank you for your time and research.

[2021-03-23 20:41] #433 closed

[2021-03-23 21:00] roman65536 commented on #496
@andmarti1424

I just tested it and here the backtrace from the first query :

#0  l_query (L=0x5643fe641cf8) at lua.c:280
#1  0x00007ff1601a4585 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#2  0x00007ff1601b1365 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#3  0x00007ff1601a4998 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#4  0x00007ff1601a49c1 in ?? () from /lib/x86_64-linux-

[2021-03-23 21:07] roman65536 commented on #496
may be helpful :
(gdb) frame 11
#11 0x00005643fd6064b1 in let (v=0x5643fe63b6d0, e=0x5643fe65c210) at interp.c:2566
2566	        eval(v, e); // ADDED - here we store the cell dependences in a graph
(gdb) print v
$1 = (struct ent *) 0x5643fe63b6d0
(gdb) print *v
$2 = {v = 0, label = 0x5643fe656a60 "test", expr = 0x5643fe65c210, flags = 267, row = 0, col = 0, next = 0x0, format = 0x0, cellerror = 0

[2021-03-23 21:46] andmarti1424 commented on #496
Yes. Thank you @roman65536. will check this out

[2021-03-23 21:56] andmarti1424 commented on #496
@roman65536 The thing to determinate is if execution of lua scripts shall follow the depgraph or not.
I believe it shouldnt. Cause reevaluation of the graph happens all the time.

[2021-03-24 05:45] nshram commented on #201
Tried cross compiling it to armel(Kindle) architecture on Ubuntu 20.04 using arm-linux-gnueabi-gcc-10.
Got the following errors:
/usr/lib/gcc-cross/arm-linux-gnueabi/10/../../../../arm-linux-gnueabi/bin/ld: cannot find -lncursesw
/usr/lib/gcc-cross/arm-linux-gnueabi/10/../../../../arm-linux-gnueabi/bin/ld: cannot find -ltinfo
collect2: error: ld returned 1 exit status
make: *** [Makefile:194: sc-i

[2021-03-24 06:24] andmarti1424 commented on #201
Please install ncurses and ltinfo

[2021-03-24 06:33] kofm commented on #291
I confirm the above. It would not be a big problem except for the fact that if you are not careful you risk deleting data by removing decimal numbers. I agree that the best would be to follow the cell format of the plain text file.

Thank you so much for your work

[2021-03-24 07:32] nshram commented on #201
ncurses and ltinfo is installed for x86_64. How to install for gnueabi/armel architecture? Not able to find it.

[2021-03-24 11:34] andmarti1424 commented on #201
@nshram i don't have a clue there.. Manual building?

[2021-03-24 12:31] nshram commented on #201
Ok. I'll try booting up the Debian Jessie VM and try there.

[2021-03-24 13:14] andmarti1424 commented on #291
Yes. It could be an enhacement but the thing is that there are a lot of numeric formats. and it can be tricky and risky.
And slower than just letting sc-im put the numeric value with the default format.
(Some use this to open 60k rows csv's.. Its pretty fast since last updates though)

About the example above, if we try to interpret the format from the file, where file reads  2.3e5,123.3, sc-im sh

[2021-03-24 17:03] roman65536 commented on #496
Hmm.. And how is it when lua sets or modify a cells, which are not in depgraph ? As the macro example does. It sets few cells, also string etc. Do you mean to give "let" more hint about lua execution ? such as dont run eval the second time ?

Aha now I got probably.. The first eval happens (line 2531) to get result of the cell it self.
The second one (line 2566) eval all dependency from the result

[2021-03-24 17:14] slackhead commented on #287
That seems to have fixed it.  Tested twice.  Thanks :-)

[2021-03-24 17:24] slackhead commented on #287
As a side note, you mentioned that you were unable to reproduce it, and that leads me to wonder if if maybe different gcc versions (I use 5.5.0) and/or libraries might be affecting this, so here's my ldd output:

[code]

[2021-03-24 17:56] waveform80 commented on #201
Compiled the "freeze" branch and the circular reference issue does indeed appear to be fixed! I tried:

* `A0=A0`
* `A0=1, A1=2, A2=A0+A1+A2`
* `A0=1, A1=2, A2=@SUM(A0:A2)`

All correctly reported a circular reference error without crashing :)

You might be able to do something like `apt install libncurses6:armel` ?

[2021-03-24 18:24] andmarti1424 commented on #287
@slackhead thanks to you. actually i managed to reproduce it without problem the other day.. so i dont know.

[2021-03-24 18:24] #287 closed

[2021-03-24 18:26] andmarti1424 commented on #201
@waveform80 At one moment I thought you were the eevblog man.
Thanks both for your time.

[2021-03-24 18:26] #201 closed

[2021-03-24 18:30] waveform80 commented on #201
Heh - the hazards of a common name, but wrong hemisphere in this case :)

[2021-03-24 18:33] andmarti1424 commented on #496
Actually @roman65536 I am not really sure about the 2566 line and the behaviour you describe, since if you comment the second one, the graph still gets built (at least in a couple of test I have done..)

What I meant on the first comment is that, the cell that has the lua function, it  might not be needed to be in the graph. but others that depend on it yes..

[2021-03-24 18:38] andmarti1424 commented on #201
that one is too cocky as well. >:(

[2021-03-24 18:50] andmarti1424 commented on #482
I might know the cause of the ncurses issue..
There is a loop in ui_set_ucolor.
If A_ITALIC is not defined (say you have a no compatible ncurses version)..
then it calls sc_error which is a macro that calls ui_set_ucolor!!
I removed those two lines and it might not segfault because of that for you.

The other 1,1 thing, I am completely lost.
Here it validates correctly.

[2021-03-24 18:54] roman65536 commented on #496
ok, So when ever Lua set a value to a cell, it needs to be add to depgraph (using function as you described earlier). Do you know why the second eval there ? I just did a quick check in the original sc-7.x files, there is no second eval call in let.

So I will add the depgraph stuff, lets see what happens, may be the #508 will be resolve as well.
if (ent && getVertex(graph, ent, 0) == NULL) GraphA

[2021-03-24 19:05] andmarti1424 commented on #496
I dont recall why the second one was there. We might comment it and see how it affects.

I believe yes. You'll add it that way. The thing is that right now sc.lquery runs two times when it should just one.
And dont know if your calling ston or not, but ston (interp.c:1286) is commented, when I believe it should be uncommented. (i left it off because of @reportaman comments).
btw why you want to ad

[2021-03-24 19:12] roman65536 commented on #496
Off the topic,
Andre remember the offline_sc of my (https://github.com/roman65536/sc_offline  )? Recently, I added cvs support, that may be interesting for you as well. ;)  https://github.com/rgamble/libcsv

back to topic:

"btw why you want to add it to the graph? isnt already there?" Nop.

to set a number as it is now :
..
  c = lua_tointeger(L, 1);  /* get argument */
    r = lua_tointeger(L, 2

[2021-03-24 19:20] andmarti1424 commented on #496
@roman65536 Actually I gave a look at sc_offline today. That should be the way to start for sc-im new core, if that ever happens.

to the topic: If its not in the graph how is it evaluated then?
i remember the trigger part, but not this.
before adding it to the graph, we should remember how it gets executed..
if not, we might end up running it 3 or 4 times LOL.

[2021-03-24 19:47] roman65536 commented on #496
Yes you are right, did a quick test .. it ends up calling no just 3 or 4 times .. LOL
hmm.. wrong turn :)

Taking the depgraph out again (original lua.c) and commenting out 2566, l_query is called  is called once. But Strings stuff is update only if go to cell with cursor. hmm.

[2021-03-24 20:05] thexhr commented on #482
Thanks for the `ui_set_ucolor` fix. I can confirm that it fixes the issue I had.

I upgraded my gdb version and now got one additional line in the backtrace regarding the yacc file and some more caller infos.

[code]

What I could offer is SSH access to one of my OpenBSD machines. Let me know if that's an option for you.

[2021-03-24 20:06] andmarti1424 commented on #496
Yep. Trying to make memory.. one might be for string expressions and other for numeric expressions..

correct me if I am mistaken:
l_query would get called everytime seval gets called..
and seval gets called everytime EvalJustOneVertex is called.
EvalJustOneVertex is  called by EvalBottomUp, and this one by EvalAll.

NOTE: This should be handled a little better too. Dont eval the graph all the tim

[2021-03-24 20:11] andmarti1424 commented on #482
do you happen to have bison or yacc? please attach your gram.c file please.
ssh is may be to much. i dont think i would see a lot more.
btw do you happen to have valgrind?

[2021-03-24 20:20] thexhr commented on #482
I have yacc. It is the version from Robert Paul Corbett for the original 4BSD. I couldn't attach the gram.c file here so I uploaded it to https://xosc.org/misc/gram.c

I have valgrind 3.10.1 installed.

[2021-03-24 20:30] thexhr commented on #482
It's related to OpenBSD's yacc. Compiling with Bison 3.3.2 fixes the segfault and I get the syntax error!

[2021-03-24 20:30] andmarti1424 commented on #482
Is there a chance you use bison rather than yacc?

[2021-03-24 20:31] andmarti1424 commented on #482
I also might send my gram.c for you to use rather than generating one with yacc

[2021-03-24 20:32] andmarti1424 commented on #482
That is then. I knew. Haha

[2021-03-24 20:38] thexhr commented on #482
Thanks a lot for your help @andmarti1424 ! I'll prepare a package for OpenBSD port and add bison as build dependency.

The good result of this issue is that latest master now builds fine one OpenBSD :)

[2021-03-24 20:38] #482 closed

[2021-03-24 20:41] andmarti1424 commented on #482
Thanks to you. I will comment this on a wiki just in a case

[2021-03-24 20:54] andmarti1424 commented on #321
@rusq this should be fixed by now. Could you please update to latest commit and try again? Thanks.

[2021-03-24 21:33] rusq commented on #321
![image](https://user-images.githubusercontent.com/16064414/112386238-86e7b200-8d55-11eb-9d56-9bdb9b5c1193.png)

All good now, thank you!

[2021-03-24 21:36] andmarti1424 commented on #321
Thanks to you

[2021-03-24 21:36] #321 closed

[2021-03-24 22:32] roman65536 commented on #496
This is the first time call :
(gdb) bt
#0  l_query (L=0x55f54647cdd8) at lua.c:289
#1  0x00007f94340c0585 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#2  0x00007f94340cd365 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#3  0x00007f94340c0998 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#4  0x00007f94340c09c1 in ?? () from /lib/x86_64-linux-gnu/liblua5.3.so.0
#5  0x00007f94340bfd8

[2021-03-24 22:38] andmarti1424 commented on #496
One is done upon the time you enter @ston(@lua.. The second one is done by the evaluation of the graph..

[2021-03-24 22:48] andmarti1424 commented on #496
I believe we might need to consider two types of evaluation for lua scripts. One done after entering or modifying cell that links to a script. And another done every time the graph is evaluated..

[2021-03-24 22:52] roman65536 commented on #496
This is what came to me in mind... set same sort of flag, when entering stuff and when ever graph eval is doing his thing, take the last l_query results. Is there such a flag ?

Or any other ideas, how to differentiate between parse and eval ?

[2021-03-24 22:56] andmarti1424 commented on #496
I agree, cause, you may have scripts that needs to be evaluated all the time, and other thats just the opposite (just once). There's nothing around to distinguish it. It might need to be an attribute the user must entering when setting @lua...

[2021-03-25 01:57] andmarti1424 commented on #410
Hello. You think the \n should be kept as part of the cell content?

[2021-03-25 01:59] andmarti1424 commented on #394
If old sc did it.. We should get it back.

[2021-03-25 11:28] 1a7r0ch3 commented on #410
Indeed, as long as they are escaped within quotes.

Actually, I realize that such feature request is slightly more general than that, because having newlines within cell content raises the problem of displaying some cell content spanning over several lines. Currently, when the cell content width is larger than its column width, the content is displayed as stars "****", this is why I suppose that s

[2021-03-25 11:39] andmarti1424 commented on #410
Dont think merging of cells and the point 1 you commented above, would be implemented on this version of sc-im.
And probably number 2 comes with those too.
3 is already implemented with overlap. when content exceeds current column width, it just overlaps with the next column to the right.

[2021-03-25 12:07] 1a7r0ch3 commented on #410
Merging of cells would be yet another interesting feature, substantially more involved I guess. Too bad that 1 (on which 2 and 3 rely) would not be implemented ; I must say I have no idea how difficult that would be, my knowledge of ncurse and of the internals of you great software being simply zero.

At the very least that would imply, for each row in the sheet, the computation of the maximum num

[2021-03-25 16:50] thexhr commented on #482
One of the OpenBSD senior developers looked at the case and found a bug in the gram.y file. He proposed the following fix and wrote "the issue is a recursive call of yyparse() in the syntax error handling code. Original yacc does not allow that. "

[code]

He also noted a change of semantics due to his patch: "Slight change in behaviour: after an syntax error, the whole input is discarded instead

[2021-03-25 17:07] andmarti1424 commented on #492
Please feel free to update to latest commit and try this:
imap "kj" "<ESC>"
cmap "kj" "<ESC>"
In my last commit I have added mappings for command mode.
And it should also handle <ESC> key in mappings now.

The C-s blocking situation might be a terminal issue.. I shouldn't use that sequence.
<S-SPECIALKEY> is not supported. I dont believe ncurses can handle it. That is more of xterm thing.

[2021-03-25 17:09] andmarti1424 commented on #410
I am currently trying to keep in issues only the bugs. And move feature request or enhancements to discussions.
There is a better place to discuss them

[2021-03-25 17:18] andmarti1424 commented on #482
I am not yacc/bison expert. I changed that and tested it, and didnt find any issues. So Ill commit it.
Did it happen to build it correctly with that change with yacc?

[2021-03-25 17:41] #473 closed

[2021-03-25 17:44] #311 closed

[2021-03-25 17:46] andmarti1424 commented on #332
@eric-b-hymowitz ?

[2021-03-25 18:03] eric-b-hymowitz commented on #332
I don't see any @fmt function.

[2021-03-25 18:13] andmarti1424 commented on #20
Actually I try this today, but I dont see it shows confortly. Its a little messy..
![image](https://user-images.githubusercontent.com/9466161/112522292-38014300-8d7c-11eb-92c7-932b799f4207.png)

And here it should handle (didnt do that) what you already define for default_background.. can be a little tricky
![image](https://user-images.githubusercontent.com/9466161/112522489-7565d080-8d7c-11eb-8ea

[2021-03-25 18:15] andmarti1424 commented on #20
Two different things, that I believe GRID_ODD and GRID_PAIR is way better..

[2021-03-25 18:16] andmarti1424 commented on #332
I added to the doc a couple of days ago. It was already there but not in the doc file.
![image](https://user-images.githubusercontent.com/9466161/112523014-0b99f680-8d7d-11eb-97d7-13207f11f823.png)
which version are you using?

[2021-03-25 18:46] eric-b-hymowitz commented on #332
I've been using version 0.7.0 .  I just updated a few minutes ago to version 0.8.0 , but it looks like the colors and nmap have all changed. :(

Now I see the @fmt command in the 0.8.0 help.  But it doesn't seem to be working.  With 2019 in A0, I tried setting B0 to

\"@fmt("%06d",a0)

I get 000000 as the result.  When I tried

\"@fmt("%06d",2019)

I get "Illegal numeric expression"

[2021-03-25 18:52] eric-b-hymowitz opened #532 "Version 0.8.0 not reading .scimrc"
I just updated from version 0.7.0 to version 0.8.0, and the new version is apparently not reading or not processing my .scimrc file.  None of my color changes are being applied, and none of my key mappings are working.

(I still have 0.7.0 installed, and the .scimrc file is stil, being processed correctly.)

[2021-03-25 18:54] andmarti1424 commented on #332
You must enter `@fmt("06g",A0`
And enter it as string function like this `\"`

[2021-03-25 18:54] andmarti1424 commented on #332
What do you mean with nmap and colors?

[2021-03-25 18:55] eric-b-hymowitz commented on #332
Regarding nmap and colors, my .scimrc file isn't being processed.  I opened a separate issue.

[2021-03-25 18:58] andmarti1424 commented on #532
Could you please attach it?
scimrc goes inside .config/sc-im folder
And not its without the dot (scimrc), rather than .scimrc

[2021-03-25 19:02] eric-b-hymowitz commented on #332
Apparently, I need to use `%g` instead of `%d` , but I think I got it now.  Thanks.

[2021-03-25 19:02] andmarti1424 commented on #332
Great!

[2021-03-25 19:02] #332 closed

[2021-03-25 19:03] eric-b-hymowitz commented on #532
When did you change the file's location and name?  There is nothing in the "CHJANGES" file about this.

[2021-03-25 19:05] eric-b-hymowitz commented on #532
That fixed it. Thanks.

[2021-03-25 19:05] #532 closed

[2021-03-25 19:06] andmarti1424 commented on #532
Yes there is.
Line 24 of CHANGES:
+modified config and history file locations

[2021-03-25 19:06] andmarti1424 commented on #532
Glad to hear.

[2021-03-25 19:11] omoerbeek commented on #482
Hi, I am the author of the patch. I did test this with both yacc and bison on OpenBSD and saw no differences. But note that originally, entering `=1,1` would a print syntax error and fill the cell with 1.0, while with the patch it will not enter anything into the cell.

[2021-03-25 19:18] andmarti1424 commented on #482
hello @omoerbeek. thanks for your patch.
the new behaviour is better than the previous IMO.

[2021-03-25 20:23] andmarti1424 commented on #394
I am working on this.

[2021-03-25 20:45] kevinduffbeer commented on #492
Hey, thanks for you work on this!

I've tried the suggested mappings but unfortunately they don't appear to be working. They're working on your side?

BTW, I can open a separate issue for this but after the recent update I'm noticing that my custom color scheme is no longer working. With the new feature "Add custom colors with RGB definitions." in the 0.8.0 commit, will the scimrc file require a c

[2021-03-25 21:52] andmarti1424 commented on #492
Where do you have your scimrc file?
The mappings above should be typed in less than a second, otherwise it would time the 'k' character

[2021-03-25 21:55] andmarti1424 commented on #225
@gaalcaras please update to latest commit and try the ñ mapping again. Thanks.

[2021-03-25 21:55] andmarti1424 commented on #247
@Iperero92 please update to latest commit and try the ñ mapping again. Thanks.

[2021-03-25 22:02] kevinduffbeer commented on #492
Hey... my scimrc is in ~/.config/sc-im/scimrc
And yes... I am typing k and j within less than a second of themselves.

[2021-03-25 22:03] andmarti1424 commented on #492
And other mappings (lets say some mappings in normal mode) work for you?

[2021-03-25 22:14] kevinduffbeer commented on #492
Yeah, other mappings work fine (when setting from x prompt within sc-im or when setting using the rc file). It appears that the issue for me is key sequences like the "k" followed by the "j".

[2021-03-25 22:16] andmarti1424 commented on #492
Pretty weird. The <ESC> mapping is working for you in the right size?

[2021-03-25 22:21] andmarti1424 commented on #492
The <ESC> part i mean

[2021-03-25 22:48] andmarti1424 commented on #225
é mapping, sorry

[2021-03-25 23:21] 1a7r0ch3 commented on #410
Alright, I started a discussion #534. Good luck with the bugs, thanks for the software.

[2021-03-25 23:37] 1a7r0ch3 commented on #302
It seems to me that the back search issue #412 is more of a feature request, to be able to search in the other direction (towards the top of the document) rather than wrapping around. In vim, this is achieved by searching with `?` rather then `/`, and subsequent `n` searches _previous_ occurences while `N` searches _next_ ones.

[2021-03-25 23:45] andmarti1424 commented on #302
Yes. Indeed, but I will check it out.

[2021-03-26 02:05] kevinduffbeer commented on #492
I'm not quite sure what you mean when you ask if the mapping is working in the "right part"?

[2021-03-26 02:07] andmarti1424 commented on #492
Sorry
I meant if the mapping to the ESC worked OK for you.

[2021-03-26 02:24] kevinduffbeer commented on #492
Actually...
`imap "j" "<ESC>"`
...doesn't work, however...
`imap "j" "<TAB>"`
... does work to leave Insert mode and enter Edit mode. I think you mentioned previously that it wasn't possible to use <ESC> with ncurses? However, trying to map a two sequence combination like...
`imap "jk" "<ESC>"` or `imap "jk" "<TAB>"`
...doesn't work regardless of if the right-hand side is <ESC> or <TAB>. My origin

[2021-03-26 02:33] andmarti1424 commented on #492
Actually it should work with my latest changes. Please post the output of :showmaps

[2021-03-26 02:34] andmarti1424 commented on #492
you updated to latest commit, right?

[2021-03-26 02:41] kevinduffbeer commented on #492
Yes, I updated to 0.8.0

With the following in my scimrc...
`	imap "kj" "<ESC>"
	cmap "kj" "<ESC>"`

The :showmaps command returns...
`      1 + imap "kj" =  ""`

I also see a 'syntax error' when entering sc-im but only when including the cmap remapping in the scimrc. Thanks for your help with this and my appologies if I missed a step somewhere along the line.

[2021-03-26 02:44] andmarti1424 commented on #492
Yes v0.8 is the latest release, from two weeks ago.but for you to use ESC key and command mode mappings you have to get latest changes from git. (I made them today). Please update to that and try again

[2021-03-26 02:47] andmarti1424 commented on #492
You should be able to use other special chars in mappings. Such as ñ á, etc..

[2021-03-26 03:23] kevinduffbeer commented on #492
Hi, I'm so sorry about my misunderstanding. I've now updated to the latest commit and can confirm that the remap is working. Sorry for the extra work it resulted for you and thanks for your committment to sc-im.

[2021-03-26 11:52] #492 closed

[2021-03-26 13:02] andmarti1424 commented on #457
@yamanq Could you please update to latest commit and try again? Thanks.

[2021-03-26 14:39] andmarti1424 commented on #394
@ntguardian @mipmip, please update to latest commit and try with
`:e tex file.tex`
thanks.

[2021-03-26 14:55] ntguardian commented on #394
Is it available on AUR yet?

[2021-03-26 14:58] andmarti1424 commented on #394
sc-im-git perhaps..
the plain sc-im package is still the v0.8 release.

[2021-03-26 15:15] yamanq commented on #457
@andmarti1424 Thanks for working on this. It seems that the issue is fixed with extra rows, but extra columns are still added if the cursor is moved based the last column.

[2021-03-26 15:45] andmarti1424 commented on #457
@yamanq Could you please update to latest commit and try again? Thanks!!

[2021-03-26 16:11] yamanq commented on #457
@andmarti1424 I tried from a787115fbeb3379d707a594227acd2330d4b21ad and it results in some bugs in how the file is saved. I opened a csv file with 2 rows and 3 columns. Any element added past the third column is not saved and any element added past the second row results in the third **column** being deleted. Also, just placing the cursor on the third row and then saving results in the third colum

[2021-03-26 16:27] andmarti1424 commented on #457
I made some changes. I have tested it with 2 rows and 3 columns. It works ok for me now. Please retry. Thanks

[2021-03-26 16:37] yamanq commented on #457
It works perfectly now, thanks!

[2021-03-26 16:42] #457 closed

[2021-03-26 16:45] #227 closed

[2021-03-26 16:46] andmarti1424 commented on #269
@reportaman I have included some mouse support lately. Did you check it out?

[2021-03-26 18:21] andmarti1424 commented on #413
Hello. How did you zap the row previously? Thanks.

[2021-03-26 19:26] andmarti1424 commented on #460
If you managed to build it please dont forget to add a wiki explaining the steps done! Thanks!

[2021-03-26 19:26] #460 closed

[2021-03-26 19:58] andmarti1424 commented on #469
@alexandre-mbm I really cant recall. It might be related to doxygen..

[2021-03-26 22:55] andmarti1424 commented on #414
@pniedzwiedzinski, If you sort it first?

[2021-03-26 23:25] reportaman commented on #269
@andmarti1424 Yes! It's not reliable though... I have a big display (27inch, 5k). There are 3 problems I see:

1. On some terminal emulators, clicking beyond a certain column visible on screen sends clicks to that column instead of the column user clicked on. For WezTerm its column J.
2. On some terminal emulators, clicking beyond a certain column does not do anything. For Alacritty & Kitty its co

[2021-03-26 23:33] andmarti1424 commented on #269
Will check point 3. 1 and 2 acting differently depending on the terminal, could be more of an ncurses issue. 4.will try to test it reducing font size in my terminal. Don't have iterm to test.

[2021-03-26 23:55] andmarti1424 commented on #269
Confirmed. number 1 and 2 seems a bug in ncurses.. event.x gives wrong position!
About number 3 you can update and test again.
Idem about number 4. I dont have how to test it.
Thanks!

[2021-03-27 02:25] andmarti1424 commented on #288
@slackhead ?

[2021-03-27 03:04] slackhead commented on #288
Yep, works fine now. Thanks :-)

Could I make a suggestion though, that 'unfreeze' could take the same arguments as 'freeze', so that only certain rows/columns can be selectively unfrozen, instead of unfreezing everything? That would very useful.5

[2021-03-27 07:45] rwmpelstilzchen commented on #311
It seems two problems coincided (opening big files and having "-" as a cell).

[2021-03-27 08:28] reportaman commented on #269
@andmarti1424 With your fix for 3, I confirm that both 3 & 4 too got fixed! So no worries if you don't have access to iTerm2.

With this fix there is no problem with Apple's Terminal & iTerm2, as 1 & 2 were not a problem with them to begin with. So Apple users can confidently use mouse with sc-im on Apple's Terminal & iTerm2.

It's weird that ncurses doesn't work well with other terminals. I have

[2021-03-27 11:31] andmarti1424 commented on #269
@reportaman check this out. `https://stackoverflow.com/questions/50851532/mouse-support-with-ncurses-for-python-for-large-terminals`
this is what we see here. pass 222 columns it fails.

[2021-03-27 11:46] andmarti1424 commented on #269
but it fails sometimes. if i use alacritty + tmux it fails. if i use alacritty directly it doesnt. this is clearly a terminal thing.

[2021-03-27 11:48] andmarti1424 commented on #311
@rwmpelstilzchen if it still fails for you please send me your file. in my case your bdproto file doesnt crash. thanks!

[2021-03-27 11:54] andmarti1424 commented on #288
@slackhead could you describe what you have frozen?
actually you can only freeze one thing at the time and that is a current limitation it may need to be changed in future.
for instance, you cant freeze two rows.
if you freeze say row 0, and then row 8. the freeze over row 0 is lost.
so :unfreeze just acts over the last thing you froze.

[2021-03-27 12:19] slackhead commented on #288
For example, after 'freeze 0:1', doing 'unfreeze 1' would leave row 0 still frozen.

[2021-03-27 12:36] andmarti1424 commented on #459
@earthshrink please update to latest commit and try freezing with 'f' in  visual mode. thanks.

[2021-03-28 02:03] andmarti1424 commented on #288
Im not really sure about that. It would be useful to freeze multiple rows / columns. But thats another thing.
Please feel free to open a discussion on that topic, so others can discuss and give their opinions. thanks.

[2021-03-28 02:03] andmarti1424 commented on #288
I close this since ^ issue is fixed.

[2021-03-28 02:03] #288 closed

[2021-03-28 02:08] andmarti1424 commented on #185
Hello. I gave sc-im some basic ods files import. Please feel free to test it.
The guy who requested this has its account deleted..

[2021-03-28 11:46] sjmulder commented on #304
I've tried again with sc-im 0.8 on NetBSD 9 with PuTTY 0.74 (as well as a few other terminal) and the problem seems to have since been resolved :)

[2021-03-28 11:48] andmarti1424 commented on #304
@sjmulder Glad to hear!

[2021-03-28 11:56] andmarti1424 commented on #394
@ntguardian could you take a look at it?

[2021-03-28 11:57] andmarti1424 commented on #371
@dikeert could you try it? Thanks

[2021-03-28 11:58] andmarti1424 commented on #225
@gaalcaras could you test it? Thanks

[2021-03-28 12:04] andmarti1424 commented on #218
I'll try this following week to get his handled

[2021-03-28 12:38] andmarti1424 commented on #218
@1a7r0ch3 I have made a commit to prevent the segfault. If you know how shared formulas are handled please comment so I can add it. I see there's a calcchain file but now sure how it works. thanks.

[2021-03-28 15:06] earthshrink commented on #459
Seems to be working now. Thanks!

[2021-03-28 15:06] #459 closed

[2021-03-28 19:15] reportaman commented on #394
In my testing its decent start, there is no custom alignment though (everything number and label cell is center aligned). Perhaps an elaborate converter could be written by user when something like this is available: ``https://github.com/andmarti1424/sc-im/issues/494``.

[2021-03-28 19:21] andmarti1424 commented on #394
Haven't noticed that.
The routine is an adaptation of sc's one. It seems sc doesn't have alignment either then.

[2021-03-28 19:21] andmarti1424 commented on #394
Thanks for testing it

[2021-03-29 00:49] andmarti1424 commented on #394
I think we can close this. Thanks

[2021-03-29 00:49] #394 closed

[2021-03-29 02:10] andmarti1424 commented on #496
@roman65536 whats the purpose of that second parameter when defining the lua script? Can't we use some sort of flag in there to accomplish what we discussed??

[2021-03-29 03:18] ntguardian commented on #394
I also tested this and it seems to work great.

[2021-03-29 10:09] 1a7r0ch3 commented on #218
Unfortunately I have no such knowledge; in particular, I have no idea how come `ssconvert` removes shared formulas. Maybe the developers there might help?

[2021-03-29 11:49] andmarti1424 commented on #218
Actually, removing them is what I have done. Pretty straightforward. I am not sure how to read them though

[2021-03-29 11:49] andmarti1424 commented on #394
@ntguardian Thank you!

[2021-03-30 10:44] tbrodbeck commented on #330
Hi. I gave it another shot, but it still ist not seaming to work for me. Somehow 'sc-im' gets stuck on pressing `i` for insert mode all the time and it is not reacting anymore (untill I switch the focus away from the terminal and back).

I am using macOS now btw and I installed it with brew.

[2021-03-30 15:06] andmarti1424 commented on #330
@tbrodbeck You dont enter insert mode with the 'i'.
You enter insert mode with = or < > \, just like in sc.

[2021-03-31 09:56] dikeert commented on #371
Hello!

I'm a bit busy right now, I think I'll be able to get to that next week.

[2021-04-01 16:54] #225 closed

[2021-04-01 16:57] andmarti1424 commented on #247
Could you test it? About F1-F13 keys.. those will not be added. I want to give them use for other things..
Make sort easy, plotting, etc..

[2021-04-01 16:57] #307 closed

[2021-04-01 22:41] Iperero92 commented on #247
Hey Andrés, thanks for working on this issue. I’ll let you know.

[2021-04-02 06:37] Iperero92 commented on #247
I've just installed from the latest commit on MacOS 10.14.6 with Lua 5.1 (tried also without Lua). The "ñ" appears on showmaps now and works fine on a scimrc with just one line: 'nnoremap "ñ" "l"'. Thank you.

[2021-04-02 06:57] Iperero92 opened #535 "Significant response lag or map even does not work when using "crossed" mappings"
**Commit**: 2413d1e9275f6ec30f8785a073c6b146c73b5445
**OS**: macOS 10.14.6
**Shell/Terminal**: zsh, both on standard macOS terminal and iterm2, both with and without tmux.
**Installation process**: as suggested on Readme, without any change on makefile and with Lua (the issue also appears without Lua).
**Minimum scimrc**:
	nnoremap "k" "j"
	nnoremap "l" "k"
**Description of the issue**:
	When I pr

[2021-04-02 13:08] andmarti1424 commented on #535
Please try those mapping with nmap, rather than nnoremap

[2021-04-02 16:14] Iperero92 commented on #535
The lag disappears, however both 'l' and 'k' now act as j''. This is not what I want and it's the reason I chose non-recursive mapping.
Thxs

[2021-04-02 16:23] Iperero92 commented on #535
I tried this workaround (or, should I say, straightforward approach):
nmap "k" "<DOWN>"
nmap "l" "<UP>"
And it works fine, same with the non-recursive version. Since this approach achieves the result I wanted, this is no longer an issue for me. Feel perfectly free to close it.

Thank you

[2021-04-02 16:41] andmarti1424 commented on #535
I have added a configuration parameter so you can set the mapping timeout
Please check it out at doc. I have increase it from 800ms to 1500ms.

[2021-04-02 16:45] andmarti1424 commented on #535
Now I get what your problem is. Please give me some time to check it out.

[2021-04-02 16:47] Iperero92 commented on #535
The previous comment was not showing correctly the mapping (needed to escape < and >)

[2021-04-02 23:15] andmarti1424 commented on #535
@Iperero92 please update to latest commit and try again with the maps you originally configured. thanks.

[2021-04-03 01:47] andmarti1424 commented on #496
@roman65536 ?

[2021-04-03 13:08] Iperero92 commented on #535
Fixed! Thx

[2021-04-03 13:12] #535 closed

[2021-04-04 21:47] TiagoDillenburg opened #536 "Hide (or Zap) only labels of selected cells"
Hi, thank you for this awesome software. I would like to ask for a feature.
I couldn't find a way to only hide the labels of a selection of cells.

I've been using labels as a way to "mark" or identify what a cell value stands for in adition to row categories, for instance, temporary expenses during easter ("páscoa") or temporary expenses with bath towels ("toalhas").

![image](https://user-images

[2021-04-04 21:59] andmarti1424 commented on #536
Hello @TiagoDillenburg. Glad the software is useful for you.
It is for me.

The idea of having both labels and numbers in sc-im comes from old sc. I dont really like it much since its a little confusing and not that useful.

What you ask can be added though. Would like to know what other users think about it.

btw I am trying to leave the issues more for bugs rather than feature requests.
Please f

[2021-04-06 15:09] andmarti1424 commented on #400
Already merged your work.  Thank you.

[2021-04-06 15:09] #400 closed

[2021-04-06 15:10] #398 closed

[2021-04-06 15:17] andmarti1424 commented on #185
Anyone could test it?

[2021-04-06 15:19] andmarti1424 commented on #247
Space should also be handled now. Thanks.

[2021-04-06 15:19] #247 closed

[2021-04-06 15:40] andmarti1424 commented on #372
@Payne-X6 could you please update to latest commit and try again? thanks.

[2021-04-06 15:41] andmarti1424 commented on #372
btw its not neccesary that "yc" since when you "dc" it already yanks it for you.
this should do:
`nnoremap "mh" "dchp" `

[2021-04-07 15:07] andmarti1424 commented on #322
or with :edit just like in vim.

[2021-04-07 17:58] andmarti1424 commented on #374
@JBlocklove, this should be handled now. please update to latest commit and give it a try.
thanks.

[2021-04-07 17:58] #374 closed

[2021-04-07 17:59] #413 closed

[2021-04-07 18:02] andmarti1424 commented on #469
@charlespax do you have a clue? might it be related to the work you have done to include Doxygen? Thanks.

[2021-04-07 18:16] andmarti1424 commented on #404
@anthroid which command-line implementation are you refering to?

[2021-04-07 18:26] andmarti1424 commented on #372
This should be fixed now.

[2021-04-07 18:26] #372 closed

[2021-04-07 18:27] #185 closed

[2021-04-07 18:28] #222 closed

[2021-04-07 18:46] andmarti1424 commented on #302
@1a7r0ch3, I have added backwards search with ? command. Please give it a try.
I am not sure about the wrapping back..

[2021-04-07 21:08] anthroid commented on #404
@andmarti1424 Yes, the binary, e.g. `/usr/bin/printf` when run in bash, as compared to the output when calling `printf()` in C.

[2021-04-08 03:07] andmarti1424 commented on #301
Hello, @panbartosz could you please try it again? The mapping as well. Thanks.

[2021-04-09 15:45] andmarti1424 commented on #429
Hello @DarkWiiPlayer. Could you please update to latest commit and try again? Thanks.

[2021-04-09 15:46] #302 closed

[2021-04-13 14:49] mjk-gh commented on #200
I'm just getting started using sc-im, and this issue hit me immediately:
While I relatively rarely deal with spread-sheets with extra long lines, I often very deal with multi-line cell content, e.g.

Capacity | Ceramic<br>Noname | Film<br>WIMA | Film<br>Vishay | Aluminum | Tantalum
-------------|--------------|--------------|--------------|------------|----------
8.2 pF        |   100       |    5

[2021-04-13 15:15] andmarti1424 commented on #200
hello @mjk-gh. i have added support for rows to have more than 1 line of height, a couple of days ago.
and after that cell wrap.
you have to set no overlap and no truncate for that.
its in testing though.
currently working on having multiple frozen rows/columns.. but is soo much work. it will take long.

[2021-04-13 19:07] mjk-gh commented on #200
Yippee, that sounds like good news!

Can you give me a little advice on how to test this feature?

I did the following:
1. ``git clone https://github.com/libxls/libxls.git``
2. compiled and installed libxls
3. ``git clone https://github.com/andmarti1424/sc-im.git``
4. compiled and installed sc-im
5. There are no ``~/.scimrc`` and no ``~/.config/sc-im/*``
6. Start sc-im
7. [ENTER] (to enter NORMAL

[2021-04-13 19:21] andmarti1424 commented on #200
try increasing row height with `fj`

[2021-04-13 20:45] mjk-gh commented on #200
Ahaaa.... oh. Well, fj increases the row height, indeed. But the symptoms seem to be the same ...

{ A few minutes later }

Oh! ``:set truncate off`` is *not* the same as ``:set notruncate on``!
Same for ``:set overlap off`` vs. ``:set nooverlap on``.

If I use the notruncate/nooverlap variables, multi-line rows seem to work, yay! :)
Might be a bit buggy, I have to test a little more.

Suggestion:

[2021-04-13 20:52] mjk-gh commented on #200
Tried ``:showmaps`` to find out which function or key sequence is bound to &lt;CR&gt; in NORMAL mode, but I just get an empty list ("Press 'q' and then ENTER to return"). The description in the help files reads:

[code]

[2021-04-13 21:05] mjk-gh commented on #200
Also: Dear andmarti1424, even if I may seem like a greedy and demanding user, I am grateful that you are actively maintaining sc-im! <3

Now back to my demands. ;)

Do you happen to already have a "hard newline" feature implemented, like if the user hits "Shift-ENTER", an actual newline character gets inserted in the cell's text content?

As a current workaround, I insert the appropriate number of

[2021-04-14 10:31] 1a7r0ch3 commented on #302
Hi, I am sorry but you successfully resolved issue #412, but in my opinion this current issue shoud be kept open. What puzzles me is that the wrapping back of the search is already working when searching for numbers, I see no reason why this could not work with the same mechanism for strings.

[2021-04-14 12:52] andmarti1424 commented on #200
@mjk-gh, try this  mapping
`nmap "<cr>" "="`

Shift enter does not get captured in ncurses.
the newline(\n) will work in wrapped cells. but that is not done yet. would be done after this:

The mods to support multiple frozen rows / columns requires a lot of work.
But I also have my own job.. so it will take some time.

[2021-04-14 12:56] andmarti1424 commented on #302
@1a7r0ch3 you are right. did not recall that it wraps for number searches. I never really liked wrapped search, I prefer to go <C-a> and 'n' manually.. but that is just my personal taste.

[2021-04-15 14:25] 1a7r0ch3 commented on #218
Yeah, it is already better with the final result rather than a segfault!

For actually reading the formula, maybe the excel plugin of gnumeric (on which the ssconvert utility mentioned above relies) might help, https://github.com/paulfitz/gnumeric/blob/master/plugins/excel/ms-formula-read.c .

[2021-04-15 23:21] andmarti1424 commented on #200
@mjk-gh I have added auto wrap feature in the dev branch called "new". Please feel free to test it.
See doc file on how to use it.

[2021-04-16 06:35] DarkWiiPlayer commented on #429
Indeed, this seems to work as expected in the latest version :D

[2021-04-16 06:35] #429 closed

[2021-04-16 21:20] andmarti1424 commented on #536
Please feel free to open a discussion for this feature request, so others can give their opinion. Thanks.

[2021-04-16 21:20] #536 closed

[2021-04-16 22:11] andmarti1424 commented on #223
@coachshea i have started to code this multiple frozen rows/cols feature. It's in my fev branch called "new". Please feel free to test it. You can freeze a row or column with `fr` or `fc` in normal mode

[2021-04-16 22:17] andmarti1424 commented on #491
@reportaman now it is at v0.8.1 I believe. Have you tried it?

[2021-04-16 23:10] reportaman commented on #491
Yes, now it says 0.8.2-dev

[code]

[2021-04-16 23:10] #491 closed

[2021-04-16 23:19] andmarti1424 commented on #491
I believe it shouldn't. V0. 8.2 is not a release. 
-------- Original message --------From: reportaman ***@***.***> Date: 4/16/21  20:11  (GMT-03:00) To: andmarti1424/sc-im ***@***.***> Cc: Andrés Martinelli ***@***.***>, Mention ***@***.***> Subject: Re: [andmarti1424/sc-im] Update homebrew formulae: 1) enable xlsx format, 2) truncate not available in help docs, so something is broken (#491)
Yes,

[2021-04-17 03:12] andmarti1424 commented on #231
@cesss ?

[2021-04-17 07:40] jgarte opened #537 "How can i run the tests when compiling?"
Hi,

How can i run the tests when compiling?

[2021-04-17 11:13] andmarti1424 commented on #537
Hello. What tests?

[2021-04-17 12:07] cesss commented on #231
Sorry @andmarti1424 for not replying: Unfortunately I cannot look at the sc-im code at the moment: I'm using it internally as part of an in-house tool, and I'm using it in a frequent basis, but currently I'm using it as a deployed tool that isn't being modified, only rebuilt.

However, I can give you my advice from my opinion about sc-im (related to the code base I'm using, which is about 2 years

[2021-04-17 12:11] cesss commented on #231
Also, related to my opinion about "numbers vs text", take a look at this issue: https://github.com/andmarti1424/sc-im/issues/478

In fact, that issue would be solved if sc-im considered numbers and text transparently, in an abstract way (and you don't need C++ for abstract types: C is perfectly suitable for it).

[2021-04-17 15:15] andmarti1424 commented on #299
Sorry for the delay @bruno-. those functions do not exist in sc-im. if you happen to develop it, please share the code and I'll add it to mainstream. Thanks!

[2021-04-17 15:22] andmarti1424 commented on #218
Thanks @1a7r0ch3 but I am afraid it does not help me much.. will continue searching.

[2021-04-17 15:29] andmarti1424 commented on #231
Yes @cesss I dont like it that either. Dont forget this all started tooking sc and modifying it and some addons. I didnt make it from scratch.
My idea for a v2. (if I find colaborators) is to replace its evaluation core and support multi sheet references.
And threat numbers and text one thing. Dont have both on a same cell.

[2021-04-17 18:35] jgarte commented on #537
Hi!

Oops, ok. Maybe that was the question I should have asked. Thanks for clarifying that!

Is there any plans to add tests to sc-im?

I see that there is a tests folder.

[2021-04-17 18:45] andmarti1424 commented on #537
Yes @jgarte . Please see PR #385. You can be the first one on contributing a test case!

[2021-04-17 19:32] andmarti1424 commented on #365
@fn-ix @ilya-bystrov I have added proper :formatcol command for this.
It acts over selected column or range of columns.
Please update to latest commit on "new" branch to test it. Thanks.

[2021-04-17 22:35] coachshea commented on #223
@andmarti1424 thank you so much for your work on this and for all the great work you've done with sc-im. It is a great program that I very much enjoy using. I've only had a little time to try it out so far, but the `fr` and `fc` commands seem to be working very well. I noticed that the program no longer seems to be reading my scimrc file. I hope that helps. I'll let you know what else I find as I

[2021-04-17 22:38] andmarti1424 commented on #223
Be sure to place all in ~/.config/sc-im/scimrc

[2021-04-17 22:49] coachshea commented on #223
that did it. up until now I've had it in ~/.config and it worked fine, but moving it worked. It actually makes more sense to have it in ~/.config/sc-im, but for some reason it had been working in the other folder. Thanks once again.

I'll continue to work with it, but so far those two commands seem to be working perfectly. I'm sure you know that the help file is now off. It still makes reference t

[2021-04-17 22:55] andmarti1424 commented on #223
Try `make install`, otherwise help will not be refreshed

[2021-04-17 23:07] coachshea commented on #223
Thank you. I've done that now and have the up to date help. The only thing is the new freeze/unfreeze commands ignore whatever argument I give it and work on the current rows/cols. Also, if I'm in visual mode and I type `f` it has no way to know if I want the rows or cols frozen, so it does both. None of this is a big deal to me, I am thrilled with how it's working, but I just want you to be aware

[2021-04-17 23:09] andmarti1424 commented on #223
It should take the arguments as described in help file. Will check it out.

[2021-04-18 00:25] andmarti1424 commented on #223
@coachshea Please update to latest commit and try again. Updated doc as well.  Thanks.

[2021-04-18 00:39] coachshea commented on #223
seems to be working great!! Thank you again!

[2021-04-18 10:36] bruno- commented on #299
Thank you for the response. I never got to implementing those formulas in sc-im. Since I think this is not an actionable bug/problem (it's more like a big new feature) I'll close the issue.

[2021-04-18 10:36] #299 closed

[2021-04-18 11:05] dikeert commented on #371
Hello!
Do you happen to know if `scm-im-git` on arch installs last commit? If yes then it still segfaults.

[2021-04-18 11:06] dikeert commented on #371
Version:

[code]

I'll try to build it myself now...

[2021-04-18 11:12] dikeert commented on #371
Nope, HEAD of branch freeze still segfaults.

As to other questions that I totally missed, pardon me, I was really re-occupied with something else.

The expression that causes segfault is this:
[code]
Enter it in any free cell and it'll segfault. Use file from pastebin that I linked in the description.

[2021-04-18 13:55] andmarti1424 commented on #371
probably yes. but from freeze branch.

[2021-04-18 14:16] andmarti1424 commented on #371
@dikeert this segfaults in old sc too. Could you please update to my latest commit on the "new" branch and try again..??

[2021-04-18 16:33] #537 closed

[2021-04-18 16:37] andmarti1424 commented on #223
I will merge this to the default branch and make an official release, as soon as I finish other changes.thanks for your testing

[2021-04-18 16:37] #223 closed

[2021-04-18 16:39] andmarti1424 commented on #301
Unless I am mistaken, I believe ALT is not detected by ncurses

[2021-04-18 16:47] andmarti1424 commented on #469
@alexandre-mbm sorry I can't give you a proper answer to your inquire. I would probably remove that stuff in future since I cant really recall its origin.

[2021-04-18 16:47] #469 closed

[2021-04-18 16:49] #365 closed

[2021-04-19 07:24] dikeert commented on #371
Hello!

First of all, I had to edit my formula, the correct one is this: `@sum(H2:I7, @vlookup(Q2:R30, $H2, 1)=@vlookup(Q2:R30, $D$6, 1))` one.

Second, both, the correct formula and incorrect formula now work properly without segfault. That is if you build from HEAD of `new` branch.

Third. I'm a stupid moron and that monstro of a formula can be replaced with `@sum(H2:I17,@eqs($H2, @fixed D6))` (

[2021-04-19 11:39] andmarti1424 commented on #371
Thank you.

[2021-04-19 11:39] #371 closed

[2021-04-19 11:43] andmarti1424 commented on #218
I close this. I am afraid im a little lost to implement the shared formulas. At least this does not segfaults anymore.
If anyone find its details on how that works, please share them so I can add this. Thanks

[2021-04-19 11:43] #218 closed

[2021-04-19 13:08] andmarti1424 commented on #200
@ber532k @loopzen @mjk-gh, with my latest commit in the "new" branch, you can now use autowrap option to
cover long strings. it will increase row height to fit the content.
You can also type \n when entering strings and it will increase row height as well.
Please check doc file and feel free to test it.
Thanks!

[2021-04-19 22:47] abenson opened #538 "Conditions in formulas, like @sum"
So on older versions, I had conditional sums, for example

    let G1 = @sum(B8:B105,B8>0)

This correctly only counted a cell if it were positive.  After the latest update, on recalculation it updated the formula

    let G1 = @sum(B8:B105,@ref>0)

But it seems to have stopped considering the cell's value at all.  What is the correct way to condition the value now?

[2021-04-19 23:44] abenson commented on #538
I believe it was 0.8.0. I think it was related to the circular references fixes -- given some time I can bisect and figure out where it broke, but that'll have to wait until tomorrow.

[2021-04-20 12:39] andmarti1424 commented on #538
I am not having problem here..
![image](https://user-images.githubusercontent.com/9466161/115397197-37fa3480-a1bc-11eb-9777-0c1953169744.png)
can you share your file?

[2021-04-20 13:50] abenson commented on #538
What happens if you insert a row?

[2021-04-20 13:55] andmarti1424 commented on #538
When you insert a row, it continues correctly. the thing is when you remove some cell from the range! that is where it fails..

[2021-04-20 13:59] abenson commented on #538
Okay, note to self: always add, never remove!

[2021-04-20 14:01] andmarti1424 commented on #538
If you replace the formula stays intact

[2021-04-20 18:39] andmarti1424 commented on #538
You know what. It doesnt fail for me. It shows @ref when you delete the first row. The one references in the formula, which is correct..

[2021-04-20 18:51] andmarti1424 commented on #538
Now i see, when you delete with 'x' then it removes the reference in the formula..

[2021-04-20 19:11] abenson commented on #538
This is a time off tracker I use to help budget.

[test.txt](https://github.com/andmarti1424/sc-im/files/6346106/test.txt)

I can reliably trigger if I add a row in between and as soon as I add a label in column A, it'll change the formulas to @ref.  None of the formulas reference column A.

[2021-04-20 19:37] andmarti1424 commented on #538
I can confirm this bug is prior to Aug.2020..
Cant test it with v0.7 right now.

[2021-04-20 19:58] abenson commented on #538
I was about to respond that 0.7 does in fact work fine.

[2021-04-21 04:30] OrkeshNurbolat commented on #373
how to use this "import_delimited_as_text" is this a command ?

[2021-04-21 05:17] OrkeshNurbolat opened #539 "confusion with commands "format" "unformat" "FORMAT""
Hello Andres

Thanks very much for making sc into such an amazing tool. I am new to sc and sc-im and I am learning it .

however , here is few problems that I am having. I try to format a numeric cell and this happens

![2021-04-21-044715_415x123_scrot](https://user-images.githubusercontent.com/70803997/115500158-4d289f00-a260-11eb-948d-b19e288044d0.png)

and this COULD NOT be cancelled somehow wh

[2021-04-21 05:45] OrkeshNurbolat opened #540 "Scientifc physical semi-units for numbers using a char in "f p n u m k(K) M G T" at rear of numbers"
Hey Andres

I had issues with formats due to my numbers are usually too big or too small .

when inputting a number, I like to put this way
72.2M  , 6.295G , 40n  ,100k , 10u ,
and each of them  just correspond to :
72.2e6 , 6.295e9 , 40e-9 , 100e3 , 10e-6 ,

I guess this doesnt come with scim ,  so there are 2 ways to work this out for me

    1.keep it as number , check if it is a valid input of

[2021-04-21 06:57] andmarti1424 commented on #539
Hello. What version of sc-im are you using? The latest commit at "new" branch? The latest at "freeze" branch or a release? You can change precision  in normal mode with f+ or f-.. You can also use :format if you use the "new" branch version. Please check the doc file for how it's used..

[2021-04-21 07:00] andmarti1424 commented on #539
:unformat is used for removing format of a cell previously set with :cellcolor

[2021-04-21 07:02] andmarti1424 commented on #373
That's is a configuration variable used when importing csv files. You can set it at runtime or in your shell as a parameter to the executable

[2021-04-21 07:10] OrkeshNurbolat commented on #539
I am using the freeze branch, I know it could be chaned with f+ f-,
however when I set it to use the ###.###e6 I suppose to see 72e6 , since it was inputed as 72000000.
however it is displaying 72000000E6 which is a million times larger than correct one.

I had read :help page and the sc manual page and github wiki,
any other place to learn  ? Thanks .

[2021-04-21 11:45] andmarti1424 commented on #539
Try this: `:int format "##.00E+00"`

[2021-04-21 11:54] andmarti1424 commented on #540
I would store numbers as numbers. About the M G m u n p... k.. just curious, other spreadsheet programs has them?
Thanks.

[2021-04-21 12:46] earthshrink commented on #540
I had had a similar need, and solved it by (a) keeping two sets of number columns, in convenient to read units and in SI base units, and (b) notating the units in adjacent columns. The base units column can be then used in formulas without having to insert the unit multipliers. Please see the tests/gps.sc, which also illustrates the engineering notation. Maybe it will help.

[2021-04-21 13:29] earthshrink opened #541 "@if does not allow string result expressions"
Entering `@if` with string result expressions, as in this example from the help file `@if(A1>100,"over","not enough")` leads to `Illegal numeric expression` error. The help file says `Remember string expressions should be entered by typing \"`. But prefixing the quote with back-slash, as in entering `@if(1=1,\"y",\"n")` results in `syntax error`.
It does take `@if(1=1, G1, G2)`, but it pulls the n

[2021-04-21 14:00] andmarti1424 commented on #541
You have to enter the whole formula with `\"`
and then:
`@if(A1>100,"over","ne")`

[2021-04-21 14:36] earthshrink commented on #541
Ah, in place of `=`. Thanks, this works!

[2021-04-21 14:46] earthshrink commented on #541
Unfortunately, when I quit the spreadsheet, it adds numeric value `0.00` to each such cell. So at next open, it shows `over0.00` or `ne0.00`, etc.

[2021-04-21 14:52] earthshrink commented on #541
Workaround: `:format " "` (space required so it will be saved).

[2021-04-21 16:27] andmarti1424 commented on #541
Yep @earthshrink. That was an issue when saving the file rather than in the evaluation. Please update to latest commit on new branch and try again. Thanks.

[2021-04-21 16:34] OrkeshNurbolat commented on #540
Oh I don't think most of other spreadsheet programs has that, except one called "sciSheet"  which runs on gui and I guess written in python .

[2021-04-21 16:36] OrkeshNurbolat commented on #540
Thanks I'll take a look

[2021-04-21 16:51] OrkeshNurbolat commented on #540
Hey thank you very much, this example is exactly what I needed, still am not clear
how do I use the "FORMAT" command to set some cell to be something like (10, 0 , 2) instread of others.
I found FORMAT in manual but it is not a command, I'll be glad to write some into man after I learn how to use.

well probably you are mixing up the SI units (Aka things that have physics meanings such as Secound

[2021-04-21 17:01] andmarti1424 commented on #540
@OrkeshNurbolat about the format  (10, 0, 2..) that is the default  format for an entire column, not a single cell.

You have to use the `:formatcol` command (but that was added in the "new" brach).
then, :formatcol for an entire column
`:format` for a cell
btw, i answered to you about your other inquire here: https://github.com/andmarti1424/sc-im/issues/539

[2021-04-21 17:13] andmarti1424 commented on #301
@PanBartosz could you try the mapping? thanks.

[2021-04-21 17:23] OrkeshNurbolat commented on #540
@andmarti1424   @earthshrink
Oh Great thanks alot , :formatcol  works !

[2021-04-21 17:23] #540 closed

[2021-04-21 17:23] OrkeshNurbolat commented on #539
Thanks for all the help

[2021-04-21 17:23] #539 closed

[2021-04-21 19:18] andmarti1424 commented on #538
@abenson Could you please test this again?
I have merged all from "new" branch to freeze branch. So please update to latest commit there.
btw, nice you are using the multiple frozen rows. Seems to work ok.
Thanks.

[2021-04-21 19:19] andmarti1424 commented on #541
All stuff from new branch was merged to default freeze branch. So update to latest commit in there. Thanks.

[2021-04-21 19:24] andmarti1424 commented on #430
@peterjschroeder you can countif like this:
![image](https://user-images.githubusercontent.com/9466161/115609521-02d60b00-a2be-11eb-9397-e148955e3e65.png)
Do you happen to have both numbers and strings in the range?

[2021-04-21 19:35] abenson commented on #538
I can confirm it works and behaves as expected! Thanks for the quick fix!

Yes, it's quite nice, really helpful when the sheet ends up getting really long.

[2021-04-21 19:37] #538 closed

[2021-04-21 19:41] earthshrink commented on #541
Updated to latest commit, it works- my workaround not needed.
thanks so much.

[2021-04-21 20:07] andmarti1424 commented on #414
@pniedzwiedzinski have you tried something related to the suggestions here:
https://www.got-it.ai/solutions/excel-chat/excel-tutorial/count/count-unique-values-excel ??

[2021-04-21 20:38] pniedzwiedzinski commented on #414
well, but that's excel right? so how to make it work in scim?

[2021-04-21 20:44] andmarti1424 commented on #414
yes, but in sc-im you also have "sum" and "countif" functions..

[2021-04-22 12:27] peterjschroeder commented on #430
What I'm looking for is to check for a string in a cell.

@count(B0:B4,B0="blah")

[2021-04-22 12:43] andmarti1424 commented on #430
@peterjschroeder you know what. I thought the correct would be this: `@count(B0:B4, @eqs(B0,"blah"))`
But it does not work. neither on old sc. So may be I am wrong.
But this indeed works, which is similar: `@sum(D0:D4, @eqs(A0,"blah"))`
@reportaman,  you might know. any idea?

[2021-04-22 12:46] andmarti1424 commented on #430
or also this works, if you want to make it fixed:
![image](https://user-images.githubusercontent.com/9466161/115716469-97d51480-a34f-11eb-8718-ae5ae82b18f2.png)

[2021-04-22 14:32] OliverLew opened #543 "Crash upon terminal resizing when :plot"
Tested with the latest HEAD c3fda0e70c7e8e5ab8d7a63f43a2b509c9cb11c1 and `st` terminal emulator/tmux in getty. Simply `:plot bar` some data, e.g. two columns of `1` `2` `3` `4`, and then resize the terminal window.

The only output is `Segmentation fault (core dumped)`. Although I tried to run `sc-im` with `gdb`, but `sc-im` does not respond with terminal resizing in that case. I don't know too mu

[2021-04-22 15:24] andmarti1424 commented on #543
I couldnt get it to segfault. I imagine you resize it while seeing the bar plot. right?
That means, outside ncurses..

[2021-04-22 16:05] andmarti1424 commented on #543
Please try updating to latest commit and try again.  Thanks.

[2021-04-22 16:54] OliverLew commented on #543
Yes. And the latest commit did solve the problem. Thanks!

Although there are other small issues:

After quitting gnuplot, sc-im keeps the same size as before resizing, e.g. smaller than the window if I made the window bigger earlier. Maybe sc-im should update the UI somewhere?

In gnuplot, if I click the mouse or press some keys, the corresponding keycode (or whatever they are called) will be pri

[2021-04-22 17:41] andmarti1424 commented on #543
I don't think I can handle that mouse issue, at least while the plot get printed outside ncurses.
About the refresh, you might want to update and try again.

[2021-04-23 04:33] OliverLew commented on #543
Sorry to respond so late, different time zones. The refresh works now, thanks again.

As for the mouse/key issue, it does not happen directly in gnuplot (not through sc-im). But if it is handled from within sc-im, then I guess that issue is not related here.

[2021-04-23 04:33] #543 closed

[2021-04-23 12:55] andmarti1424 commented on #430
@peterjschroeder I have done some research. The thing is that even on old sc @count function only count numbers and not cell with strings.
I have changed that so that cells with strings get counted as well!
so you can update to latest commit and try:
`@count(B0:B4, @eqs(B0,"blah"))`

[2021-04-23 20:45] peterjschroeder commented on #430
That works, thank you.

[2021-04-23 23:42] #200 closed

[2021-04-23 23:43] andmarti1424 commented on #430
Great!

[2021-04-23 23:43] #430 closed

[2021-04-24 11:38] andmarti1424 commented on #465
Hello. You have to use @fixed(B0) as the expression in the condition.

[2021-04-24 14:26] Ingvix commented on #465
Thanks. So now I can have an absolute position for the expression while keeping it relative when copying to other cells. Can I do the opposite somehow? To keep a single cell position absolute while copying but relative when used with range. While having some other positions within the expression that need to be relative while copying so I can't just paste it with `p`.

[2021-04-24 14:36] andmarti1424 commented on #465
I believe that's a whole different thing. Do you mean what `Pc` in normal mode does?

[2021-04-24 14:52] Ingvix commented on #465
I mean that when I use `Pc` to copy some expression to another cell, I'd like to have a certain cell coordinates absolute while copying while keeping them relative in the expression when working with ranges. So the end goal is keeping something like $B0 as $B0 when pasting with `Pc` and not have it change to $B1 on the next row and so own.

[2021-04-24 15:02] andmarti1424 commented on #465
Mmm. I really don't know if that's even possible on sc. Do you know? Any other spreadsheet program has that feature?

[2021-04-24 15:06] Ingvix commented on #465
No, I don't know. I'm asking purely based on my use case where that would make things a bit easier. It's probably not something you'd need too often so it's no wonder if it's not implemented.

[2021-04-24 15:47] Ingvix commented on #465
But I got the answers for the original questions so I'll close this issue.

[2021-04-24 15:47] #465 closed

[2021-04-24 16:12] andmarti1424 commented on #428
@peterjschroeder did @mschilli87 worked for you? @mschilli87,do you know the name of @div/@mod functions on openoffice/gnumeric/excel? May be we can add them here. Thanks.

[2021-04-24 22:41] peterjschroeder commented on #428
Yes, but it ends up going over the FBUFLEN. A new function to handle this would be preferred as time sheets are pretty common. I'll see if I can track down where in LibreOffice it does this.

[2021-04-25 00:42] andmarti1424 commented on #428
@peterjschroeder I believe you can already achieve this doing :datefmt "%H%M" and then doing the substraction.

[2021-04-25 01:06] peterjschroeder commented on #428
That kind of works. It totals it out in seconds and doesn't account for overnight shifts.

[2021-04-25 01:21] andmarti1424 commented on #428
Yes, in seconds. Sorry I dont know what overnight shift is. I also do now undestand what you mean with "= wont take.."

[2021-04-25 01:27] peterjschroeder commented on #428
Overnight as in start time 0730 (AM), finish time 0630 (AM, the next day).

After formatting the cell with datefmt, if I go to that cell and change the 1600 to 1500, it puts 1925.

[2021-04-25 15:40] andmarti1424 commented on #428
If you need to change it, you still have to enter it as label. i have just made a commit so that you can avoid reapplying :datefmt..

[2021-04-25 15:47] andmarti1424 commented on #428
that means you can `\1500`, then `:datefmt "%H%M"`, and then `\1600` if you need to edit it..
yo can't use `E` since `:datefmt` converts the date to numeric value.

[2021-04-26 08:28] peterjschroeder commented on #428
That works, thank you.

I can now reduce it to just this to check for next day.

@if(B0<A0, 24--((B0-A0)/3600), (B0-A0)/3600)

[2021-04-26 11:38] andmarti1424 commented on #428
Great then!

[2021-04-26 11:38] #428 closed

[2021-04-26 21:20] andmarti1424 commented on #496
Hello @reportaman . Could you please checkout "lua" branch and test your scripts there?

I have changed the way the lua scripts are defined, to no longer depend on `@ston`.
Now they are defined directly as other string function just with `\"@lua(scriptname, 1)`
being that second parameter (1 or 0) a new parameter indicating to add or not the reference in the dependency graph.
Thank you for your ti

[2021-04-27 20:43] reportaman commented on #496
@andmarti1424 Cool, will get back in a day.

[2021-04-27 20:50] andmarti1424 commented on #496
I have also added exec_lua config variable so you can enable / disable the execution at runtime

[2021-04-27 21:56] reportaman commented on #496
@andmarti1424 When I set second argument to 0, it appends "LUA" in front of the number. It would be nice to have a option for user to provide a utf character of their choice for prefix instead of "LUA". Also, I tested just 1 lua script, and it doesn't go well with the current code. Check the mp4 video below (I open sc-im twice in it, forgot to try with another value for second argument during firs

[2021-04-27 22:29] andmarti1424 commented on #496
@roman65536, here its explained what second parameter does:
![image](https://user-images.githubusercontent.com/9466161/116320209-31585800-a78e-11eb-9db2-ce5aefb64164.png)

You probably didnt `make install` and that might be the reason why you are reading an old help.
May  be adding the LUA is not a good idea, it might be, if you dont alter current cell content, but not in your case for sure.

I be

[2021-04-27 22:32] andmarti1424 commented on #496
Sorry I though Roman wrote last comment.

[2021-04-27 22:44] reportaman commented on #496
@andmarti1424 No, there is something fishy. Try this sequence:

1. Open sc-im
2. Run the script in cell A0
3. From B0 run ``=A0<CR>``
4. From B1 run ``=500``

As you would see, the value in B1 won't be 500.

[2021-04-27 22:48] andmarti1424 commented on #496
@reportaman in that case the script runs because you keep a reference to it when you set =A0 from B0.
And then that dependency is saved in the graph and then runs everytime the graph is evaluated.
![image](https://user-images.githubusercontent.com/9466161/116321945-76ca5480-a791-11eb-8e16-77aca76c8e33.png)

[2021-04-27 22:50] andmarti1424 commented on #496
If you need to save the time twice, you might resolve that, calling the lua script with `@lua...` two times.. rather than referencing the script as you did with `=A0`

[2021-04-28 05:45] mschilli87 commented on #428
@andmarti1424:

Just in case this is still relevant. AFAIK LibreOffice Calc has `MOD` for the modulo. For integer division, I think flooring the general one would be required there as well.

[2021-04-28 20:19] andmarti1424 commented on #428
@mschilli87 yes.thank you. Do you know if in Excel it's the same?

[2021-04-28 23:56] reportaman commented on #496
@andmarti1424 Ok, I understand what's going on, though why is lua script run when an explicit command like ``=500<CR>`` is run? (where user intends to put new value in a cell).

1) Let's take this hypothetical case: lua script-1 reads B0-B100 and writes C0-C100; lua script-2 reads C0-C100 and writes A0-A100. Is it guaranteed that lua script-2 will execute after lua script-1? If not then this shoul

[2021-04-29 12:29] andmarti1424 commented on #496
Hello @reportaman.
1. Yes. you are right. I shall tell you a little of history regarding this. When you enter a formula, old sc used to traverse the whole cells and reevaluate every cell if it had a formula. If a value was changed, it traversed the whole data again, and again, and again, until no changed was made. In that way, al dependencies are reevaluated of course. This is not very efficient t

[2021-04-30 19:23] andmarti1424 commented on #508
I close this since its duplicated.
`@ston` should work flawlessly now in lua branch that will be merged soon.

[2021-04-30 19:23] #508 closed

[2021-04-30 19:26] andmarti1424 commented on #376
Working in 'lua' branch, this `=@ston(@ext("echo 1", 10))` works ok both typing it at runtime and loading it from a file.
The 'lua' branch will be merged soon to freeze.

[2021-04-30 19:26] #376 closed

[2021-04-30 19:28] andmarti1424 commented on #262
This was fixed in 'lua' branch, this `=@ston(@ext("echo 1", 10))` works ok both typing it at runtime and loading it from a file.
The 'lua' branch will be merged soon to freeze.

[2021-04-30 19:28] #262 closed

[2021-04-30 20:58] andmarti1424 commented on #329
@c-nv-s hello. After a few hours, I have done this. Still I am unsure to merge it, cause.. for instance, in your example when you change A0 it wont change D0. Cause D0 has a dependency on C0, which is just a string.
But C0 has no dependency on A0 or B0.. its not that useful

[2021-05-01 02:03] andmarti1424 commented on #231
I close this. Thanks for your suggestions. Hopefully this would help in the design for v2.
Btw, if interested, please check my latest comments here too: https://github.com/andmarti1424/sc-im/issues/496

[2021-05-01 02:03] #231 closed

[2021-05-01 02:06] #301 closed

[2021-05-01 02:18] andmarti1424 commented on #414
@pniedzwiedzinski btw I have also checked in gnumeric and libreoffice calc and it seems the function is not there either.
I believe you could probably get away with it as suggested in the link above.

[2021-05-01 02:18] #414 closed

[2021-05-01 07:49] c-nv-s commented on #329
Thanks for this!
It should be reasonable to expect that the value in D0 does not dynamically update. It is calculated on opening the file or running via a script, any subsequent changes to values in A0 or B0 would require a page recalculation or rerun of the script.

In terms of usefulness i would say that for scripting it is actually phenomenal, and for visual editing it can be really useful in t

[2021-05-01 07:54] andmarti1424 commented on #329
@c-nv-s you would still be able to use `@` for manual recalculations.

[2021-05-01 08:03] c-nv-s commented on #329
Oh awesome, well that does make it easier then

[2021-05-01 08:08] c-nv-s commented on #329
I was also curious of if this feature would still work if you decided in future to implement "worksheets"? Could it still e.g. add one cell from worksheet A with another cell from worksheet B?

[2021-05-01 12:17] andmarti1424 commented on #329
Yes. The benefit of having multiple sheets is to be able to reference cells from other sheets. This would also work, as this is a formula just as `@sum` `@avg` etc

[2021-05-01 14:36] dj-bauer opened #544 "Need help with mapping movement keys"
Hi there,
I would like to change the basic movement keys.
The reason behind that is, that I use the Colemak layout and therefore changed all my vim keybinds.
At the moment I am a bit overwhelmed by the documentation and did not find an example to let's say:
Map the <i> key to move one cell to the right.
Is there a way to remap this and when how?

P.S.: I have read about nmap "<key>" <action> but c

[2021-05-01 20:50] andmarti1424 commented on #544
Hello. `:nnoremap "b" "l"`?

[2021-05-02 07:36] #544 closed

[2021-05-02 07:37] dj-bauer commented on #544
Thank you! Thank you so much for your fast response.
That was exacly what I was looking for.

[2021-05-03 04:52] mschilli87 commented on #428
@andmarti1424: Nope, I don't care about non-free software.

[2021-05-03 14:06] andmarti1424 commented on #329
@c-nv-s This was merged on lua branch. Coming to freeze branch in a couple of days.

[2021-05-03 14:06] #329 closed

[2021-05-03 14:09] andmarti1424 commented on #496
@reportaman Well, this should be now handled in a better way than before. Will merge it to freeze branch in a couple of days.

[2021-05-03 14:09] #496 closed

[2021-05-03 14:13] #477 closed

[2021-05-03 14:21] andmarti1424 commented on #501
@reportaman take a look at the recent added `@evaluate` and `@sevaluate` functions

[2021-05-03 14:36] c-nv-s commented on #329
thanks soooooo much!

[2021-05-03 18:01] andmarti1424 commented on #428
Ok. Thanks

[2021-05-07 15:24] andmarti1424 commented on #496
@reportaman About the evaluation we talked about earlier,  you know what. I was about to commit some changes for #451 and thought about the use of @lastrow @lastcols.
They both get updated when you move cursor/enter values, and if you have references to them in another cells, I believe they should be updated as well.. dont they?

[2021-05-07 19:45] andmarti1424 commented on #451
something like this should work now `@sum(@getent(0, @mycol):@getent(@lastrow-1,0))`
Still to do some enhancements..

[2021-05-08 02:15] andmarti1424 commented on #501
@reportaman and after todays commits, also `@getent`

[2021-05-08 04:12] reportaman commented on #451
@andmarti1424 Some issues:

1. Copy pasting the column to another column doesn't seem to add the formula to the dependency graph. I tried ``@avg``

[2021-05-08 06:16] reportaman opened #546 "All unselected cells get color from type=STRG, type=NUMB or EXPRESSION has no effect"
All unselected cells get color from type=STRG, type=NUMB or EXPRESSION has no effect.

[2021-05-08 06:21] reportaman opened #547 "Help screen color is not applied correctly."
I would assume help screen should be applied ``type=DEFAULT`` colors. As can be seen in the image below, thats not the case (I am using terminal transparency btw).

<img width="1034" alt="Screen Shot 2021-05-07 at 11 19 09 PM" src="https://user-images.githubusercontent.com/71736629/117529177-f8d52d00-af8a-11eb-99ab-2888e740d595.png">

[2021-05-08 06:54] reportaman opened #548 "Improve error message when undefined color name is used"
While coding the Dracula theme for sc-im I had a typo in one of the color names on one of the lines. It was hard to figure out which one it was as the error message for color not found does not mention the color name which user tried to use. It would be nice to have that information in the error message.

[2021-05-08 11:58] andmarti1424 commented on #547
I believe the thing here it's that the background it's not getting colorized. Please update and try again

[2021-05-08 12:19] andmarti1424 commented on #451
About 2 and 3, it seems @myrow is not updating correctly, and that leads to those misbehaviours.

About 1, why you say its not added to the depgraph? Because it wont update correctly after you copy it and you have to reenter it??
If thats the case, thats still in my todo list.

[2021-05-08 12:20] andmarti1424 commented on #546
I dont think i am understanding this one.

[2021-05-08 13:05] andmarti1424 commented on #493
This is done. Now it saves in the format of current file. Btw, this was already done for other formats, such as csv.
It was missing for xlsx.

[2021-05-08 13:16] andmarti1424 commented on #451
btw, @reportaman, yes, its not in the doc yet. we need to think how the evaluation should be done. Cause for instance @lastrow gets updated all the time. should or shouldnt update all the cells that refer it?

[2021-05-08 16:12] andmarti1424 commented on #478
No. You can't. In C you have to return a struct with those two values,and one would be null or undefined value..

[2021-05-08 17:48] reportaman commented on #546
Sorry for not explaining it further. What I mean is on my machine, starting some version of sc-im, numbers and expressions also get color from type=STRG. So I am unable to set colors that distinguish strings from numbers and expressions.

[2021-05-08 18:18] andmarti1424 commented on #546
Sorry. I understand you now. You can update now and try again.

[2021-05-08 18:32] reportaman commented on #546
@andmarti1424 What is the color type for cells that are empty? It can be default type? Now those cells are not colored, and get color from the terminal background.
<img width="258" alt="Screen Shot 2021-05-08 at 11 30 44 AM" src="https://user-images.githubusercontent.com/71736629/117549753-ff968b00-aff0-11eb-98f3-92130b198bc2.png">

[2021-05-08 18:34] andmarti1424 commented on #546
I believe GRID_ODD and GRID_PAIR.
(btw GRID_PAIR should be renamed to GRID_EVEN)

[2021-05-08 18:37] andmarti1424 commented on #546
Well I just did that in my latest commit.

[2021-05-08 18:41] reportaman commented on #546
Yep, I confirm both. Closing this issue. Dracula will be released soon.

[2021-05-08 18:41] #546 closed

[2021-05-08 18:42] andmarti1424 commented on #546
Is it too long? You can attach it to an issue. Create a WIKI for themes.. Send it to email and I upload it.. What you prefer.

[2021-05-08 18:46] reportaman commented on #546
@andmarti1424 Not too long. Btw, is there a way to source a file in scimrc? Like "input <path_to_theme>"?

[2021-05-08 18:48] andmarti1424 commented on #546
no. not really. that is something i have to add. to merge a file..

[2021-05-08 18:49] andmarti1424 commented on #547
Please share your colors. I cannot reproduce it.

[2021-05-08 18:55] reportaman commented on #547
This is my entire scimrc. I am using xterm-256color on iTerm2 with color transparency. It happens on other terminals too.

[code]

[2021-05-08 18:55] andmarti1424 commented on #547
It should take the values you set in "DEFAULT".

[2021-05-08 18:56] reportaman commented on #547
@andmarti1424 Its not, check the scimrc I posted above.

[2021-05-08 18:58] andmarti1424 commented on #547
Just add this one:
`color "type=NORMAL fg=WHITE bg=BLACK bold=0 italic=0"`
and you should be there..

[2021-05-08 19:01] reportaman commented on #547
@andmarti1424 Cool, fixed!!!

[2021-05-08 19:01] #547 closed

[2021-05-08 19:02] andmarti1424 commented on #547
Yep. The background was missing. Great then.

[2021-05-08 19:11] #493 closed

[2021-05-08 21:58] reportaman opened #550 "Feature: Add separate highlight type for search"
Currently search results on help page are colored with highlight type CELL_SELECTION_SC? I guess. Given my Dracula theme had CELL_SELECTION_SC has foreground white, and background dark gray. It doesn't work well with NORMAL mode color set to white fg, and black bg. I was forced to set NORMAL mode fg color to YELLOW, so search can be distinguished from text on help page. Once you provide a separate

[2021-05-08 22:00] reportaman opened #551 "INPUT color is not honored after scrolling and doing search again"
In my observation, INPUT color is applied while entering search string for the first time. Then if I scroll on help page, and hit ``/`` again to type another search string, INPUT color type is not applied to it.

[2021-05-09 00:39] andmarti1424 commented on #551
Should be fixed now.

[2021-05-09 05:31] #551 closed

[2021-05-10 05:56] reportaman opened #553 "Bug/improvement: Differentiate between CELL_NEGATIVE, and negative result of EXPRESSION"
Currently CELL_NEGATIVE is applied to negative numbers entered by the user as well as the negative values of an expression. Given the positive values of expression have a different color group of its own (type=EXPRESSION). Either apply the same color group to negative values of expression, or add another group (type=EXPRESSION_NEGATIVE). Not sure how this would work when expressions evaluate strin

[2021-05-10 08:01] reportaman opened #554 "@nval expression is not reevaluated when file is opened and value is updated"
In the following video, the expressions (values in green) are not evaluated when values (in orange) are changed after opening the file. The expressions start evaluating correctly only after I do a ``yyp`` on every cell that has such expression. This does not happen with simpler expressions that do not used ``@myrow``/``@mycol``. I have attached the file ``curses.sc`` below the video.

Video:

http

[2021-05-10 09:26] reportaman opened #557 "Segfault for sequence open_scim -> load -> modify -> write -> quit"
In the following video I showcase how sc-im closes with a segfault. sc-im is opened twice in the video, and the same sequence is repeated. The first time, ``segfault.sc`` file is loaded at the time sc-im is launched. The second time it is opened using the ``:load`` command. Then similar steps are performed. Only for the second case (when ``segfault.sc`` is loaded using ``:load``), there is a segfa

[2021-05-10 10:00] reportaman commented on #451
@andmarti1424 Am glad you ask this question regarding ``@lastrow``, and more importantly updating or not when it is used in a cell. IMHO, the fact that expressions evaluate in some cases when the value of the cells they refer change, and in some cases they do not evaluate when the cells they refer change is the single biggest risky choice of sc-im. It has implicitly added a "state" to expression c

[2021-05-10 12:56] andmarti1424 commented on #557
@roman65536 After adding lua_close in delete_structures to avoid the leaks. Sometimes happens this and segfaults:

==31286== Invalid read of size 8
==31286==    at 0x4C2DC70: lua_close (in /usr/lib/liblua.so.5.4.3)
==31286==    by 0x14D8E7: doLuaclose (lua.c:362)
==31286==    by 0x14E844: delete_structures (main.c:468)
==31286==    by 0x14E97B: exit_app (main.c:520)
==31286==    by 0x14E43B: main

[2021-05-10 13:35] andmarti1424 commented on #553
Yes, CELL_NEGATIVE applies to any negative number doesn't matter the origin. I think that should stay as is, as in old SC.

[2021-05-10 14:59] andmarti1424 commented on #557
@reportaman now that you remind me of `:load`. you can load a theme with it. it works just fine.

[2021-05-10 17:29] andmarti1424 commented on #554
@reportaman you can update and try again. this is kinda inherited from old sc. it just dont handle calling `@myrow` `@mycol` during startup (having the command in files). it was created for scripting.

[2021-05-11 07:49] #557 closed

[2021-05-11 07:56] reportaman commented on #501
@andmarti1424 Btw you might consider standardizing the interface. For range functions now``@getent`` works to operate on a range relative to the position of a cell. But for non-range functions like ``@nval()``, one needs to use a different interface to mean the same thing. For instance ``@nval(@coltoa(@mycol-4),@myrow)`` to get value relative to current cell. Ideally ``@getent`` could be used ever

[2021-05-11 08:39] reportaman commented on #553
@andmarti1424 Hmm... sc-im has come long way in its coloring, I think it will be good to have option for user as having same color for negative numbers and negative expressions lends itself to confusing/inconsistent UI (given we have different color for positive expressions).

People derive meaning through similarity or differences of colors. Even though we as coders/engineers/power users of sc-im

[2021-05-11 11:29] andmarti1424 commented on #501
Yes. Using string expression as @getent first parameter was first idea. But I thought would be better to get it working first and then change it.
@nval takes string expression as first parameter. So, @nval(@getent(..)) wont work, in the same way @nval(B0) wont work either.

[2021-05-11 18:27] reportaman commented on #554
It seems resolved. Though I did hit some weird malloc error at the time of exit again while playing more with it. Though don't remember the exact steps. In the same run I remember seeing this: when I used visual select to select a column fill of ``@nval`` cells to another column, it pasted correctly in the destination column but the following two spurious columns got pasted and the values in them

[2021-05-11 18:38] reportaman commented on #554
@andmarti1424 Is there a way to report something from valgrind that can benefit you? If so I can look into how to use it. Any notes on how to report such logs/etc to you will be useful, and perhaps can be a wiki page itself.

[2021-05-11 19:17] #554 closed

[2021-05-11 19:20] andmarti1424 commented on #557
@reportaman try loading between the two themes you created.. but you have to rename it to `.sc` extension first. then it will work!

[2021-05-11 19:45] andmarti1424 commented on #325
@roman65536 I believe here its failing dlopen. It might be missing a validation after this line of set_trigger():
`n->trigger->handle=dlopen(buffer1,RTLD_LAZY);`

==274707== 1 errors in context 1 of 88:
==274707== Invalid read of size 1
==274707==    at 0x4841C72: strlen (vg_replace_strmem.c:459)
==274707==    by 0x4CED5B8: fputs (in /usr/lib/libc-2.33.so)
==274707==    by 0x14E82F: set_trigger (t